{% extends "forms/form.html" %}
{% load exfiltry %}
{% load exsyntax %}
{% block all %}
        {% with table_type='datatable' %}
                {{ block.super }}
        {% endwith %}
{% endblock %}
{% block scroll %}
{% endblock %}
{% block list_content_actions %}
        {% new_row "New comment" action="new_row/{{filter}}" %}
{% endblock %}
{% block list_row_header %}
        <th>Comment</th>
        <th>Sender</th>
        <th>Recipient</th>
        <th>Recipient</th>
        <th>
        Time
        </th>
{% endblock %}
{% block list_row %}
        <td>{{ object.comment }}</td>
        <td>{{ object.sender }}</td>
        <td>{{ object.recipient }}</td>
        <td>{{ object.recipients }}</td>
        <td>
        {{ object.time|isoformat }}
        </td>
{% endblock %}
{% block list_row_actions %}
        {% row_actions %}
                ?:edit
                ?:delete
        {% endrow_actions %}
{% endblock %}
{% block row_edit %}
        {% form %}
        {% endform %}
{% endblock %}

