{% extends "forms/form.html" %}
{% load exfiltry %}
{% load exsyntax %}
{% block all %}
        {% with table_type='datatable' %}
                {{ block.super }}
        {% endwith %}
{% endblock %}
{% block scroll %}
{% endblock %}
{% block list_content_actions %}
{% endblock %}
{% block list_row_header_end %}
        <th data-field="caction" data-visible="false">
                Action
        </th>
{% endblock %}
{% block list_row_header %}
        {% if vtype != "sublist" %}
                <th>Measurement point</th>
        {% endif %}
        <th>Time</th>
        <th>
        Attribute
        </th>
{% endblock %}
{% block list_row %}
        {% if vtype != "sublist" %}
                <td>{{ object.mp.id }}: {{ object.mp.name }}</td>
        {% endif %}
        <td>{{ object.time }}</td>
        <td>
        {{ object.attr }}
        </td>
{% endblock %}
{% block list_row_actions %}
        {% row_actions %}
                edit
                delete
        {% endrow_actions %}
{% endblock %}
{% block row_edit %}
        {% form %}
                mp,attr
        {% endform %}
{% endblock %}

