{% extends "forms/form.html" %}
{% load exfiltry %}
{% load exsyntax %}
{% block all %}
        {% with table_type='datatable' %}
                {{ block.super }}
        {% endwith %}
{% endblock %}
{% block scroll %}
{% endblock %}
{% block list_row_header_end %}
        <th data-field="caction" data-visible="false">
                Action
        </th>
{% endblock %}
{% block list_row_header %}
        {% if vtype != "sublist" %}
                <th>Measurement point</th>
        {% endif %}
        <th>
        data
        </th>
{% endblock %}
{% block list_row %}
        {% if vtype != "sublist" %}
                <td>{{ object.mp }}</td>
        {% endif %}
        <td>
        {{ object.jsondata }}
        </td>
{% endblock %}
{% block list_row_actions %}
{% endblock %}
{% block row_edit %}
        {% form %}
                mp
        {% endform %}
{% endblock %}

