<div class="ajax-region">
        <nav class="navbar bg-light">
                <div class="container">
                        <form class="ajax-link" action="/static/frontend_demo/views/todo_demo2.fview" target="refresh_frame">
                                <h2>To Do list</h2>
                                <input type="text" name="task" placeholder="task" />
                                <input type="submit" value="Add task" />
                        </form>
                </div>
        </nav>
        <ul>
                <div class="ajax-frame auto-frame"></div>
        </ul>
</div>

