{# -*- coding: utf-8 -*- #}
{% extends "forms/form.html" %}
{% load exfiltry %}
{% load exsyntax %}
{% block content %}
        <form>
                <ptig-select2 width="300px">
                        <option value="AL">Alabama</option>
                        <option value="WY">Wyoming</option>
                </ptig-select2>
                <br />
                <ptig-select2 width="300px" href="{{base_path}}schwiki/table/PageObjectsConf/-/form/get/" target="_popup" multiple="">
                        <graphql>
                                { schwiki_Pageobjectsconfall(name_Istartswith: "$$$") { edges { node { id, text:name }}}
                                }
                        </graphql>
                </ptig-select2>
        </form>
{% endblock %}

