{% extends 'template/desktop_base.html'|translate:lang %}
{% load exfiltry %}
{% load exsyntax %}
{% load bootstrap4 %}
{% block js_extrascipts %}
        {{block.super}}
        {% jscript_link 'vue/vue.js' %}
        {% module_link 'schdevtools/js/test_javascript.js' %}
        {% module_link 'schdevtools/js/test_python.js' %}
{% endblock %}
{% block extrastyle %}
        {{block.super}}
        {% css_link 'schdevtools/css/style.css' %}
        {% css_link 'schdevtools/css/test_icss.css' %}
{% endblock %}
{% block body_footer_scripts %}
        {{block.super}}
        <script language='javascript'>var global_vue_bus = new Vue ();</script>
        {% component 'schcomponents/components/d3.js' %}
        {% component 'schcomponents/components/pivottable.js' %}
        {% component 'schdevtools/components/test.js' %}
        {% component 'schcomponents/components/summernote.js' %}
        {% component 'schcomponents/components/vs_editor.js' %}
        {% component 'schcomponents/components/leaflet.js' %}
        {% component 'schcomponents/components/video-js.js' %}
        {% component 'schcomponents/components/txtarea_editor.js' %}
        {% component 'schcomponents/components/xterm.js' %}
        {% component 'schcomponents/components/plotly.js' %}
        {% component 'schcomponents/components/handsontable.js' %}
        {% component 'schcomponents/components/wysiwyg_edit.js' %}
{% endblock %}
{% block component_init %}
        var component_init = [ "d3", "pivottable", "test", "summernote", "vs_editor", "leaflet", "video-js", "txtarea_editor", "xterm", "plotly", "handsontable", "wysiwyg_edit",  ];
{% endblock %}
{% block botstrap_css %}
        {% comment %}
                {% css_link 'themes/bootswatch/materia/bootstrap.min.css' %}
        {% endcomment %}
        {% css_link 'themes/bmd/css/bootstrap-material-design.min.css' %}
        <style ==>>
                :root {
                    --blue: #007bff;
                    --indigo: #6610f2;
                    --purple: #6f42c1;
                    --pink: #e83e8c;
                    --red: #dc3545;
                    --orange: #fd7e14;
                    --yellow: #ffc107;
                    --green: #28a745;
                    --teal: #20c997;
                    --cyan: #17a2b8;
                    --white: #fff;
                    --gray: #6c757d;
                    --gray-dark: #343a40;
                    --primary: #007bff;
                    --secondary: #6c757d;
                    --success: #28a745;
                    --info: #17a2b8;
                    --warning: #ffc107;
                    --danger: #dc3545;
                    --light: #f8f9fa;
                    --dark: #343a40;
                    --breakpoint-xs: 0;
                    --breakpoint-sm: 576px;
                    --breakpoint-md: 768px;
                    --breakpoint-lg: 992px;
                    --breakpoint-xl: 1200px;
                    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
                    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
                }
        </style>
{% endblock %}
{% block bootstrap_js %}
        {% comment %}
                {{ block.super }}
        {% endcomment %}
        {% jscript_link 'themes/bmd/js/bootstrap-material-design.min.js' %}
{% endblock %}
{% block js_app_init %}
        let db_struct = [ ["devparam", {"keyPath": "key"}] ];
        init_db(db_struct);
        const devtools_sync = function(run_after) {
            console.log("SYNC!");
            run_after("OK");
        }
        let sync_struct = [ ['devparam', "{{base_path}}schdevtools/devparam/", devtools_sync], ];
        init_sync(sync_struct);
        function bootstrap_init(elem) {
            elem.bootstrapMaterialDesign();
        };
        register_fragment_init_fun(bootstrap_init);
        {{ block.super }}
{% endblock %}
{% block logo %}
        <span class="logo-lg">
                <img src="{{base_path}}static/favicon.ico" style="height:100%;"></img>
                <span class="txt3d text-white" style="font-size:1rem;">
                        Pytigon - dev tools
                </span>
        </span>
{% endblock %}

