{% extends "forms/form.html" %}
{% load exfiltry %}
{% load exsyntax %}
{% block all %}
        {% with table_type='datatable' %}
                {{ block.super }}
        {% endwith %}
{% endblock %}
{% block scroll %}
{% endblock %}
{% block list_content_actions %}
        {% new_row "Nowy typ etykiety" %}
{% endblock %}
{% block list_row_header %}
        <th>Nazwa</th>
        <th>
        Tytuł
        </th>
{% endblock %}
{% block list_row %}
        <td>{{ object.name }}</td>
        <td>
        {{ object.title }}
        </td>
{% endblock %}
{% block list_row_actions %}
        {% row_actions %}
                edit
                delete
        {% endrow_actions %}
{% endblock %}
{% block row_edit %}
        {% form %}
                name,title
        {% endform %}
{% endblock %}

