{# -*- coding: utf-8 -*- #}
{% extends "form.html" %}
{% load exfiltry %}
{% load exsyntax %}
{% block scroll %}
{% endblock %}
{% block list_page_header %}
        <h3>
        Demo - html controls
        </h3>
{% endblock %}
{% block list_page %}
        {% comment %}
                <sch-d3 width="400px" height="200px">
                </sch-d3>
                <sch-handsontable width="800px" height="600px">
                </sch-handsontable>
                <sch-plotly width="800px" height="600px"></sch-plotly>
                <sch-pivottable width="800px" height="600px"></sch-pivottable>
                <sch-video width="800px" height="600px" src="/static/SampleVideo_1080x720_2mb.mp4">
                </sch-video>
                <sch-vseditor width="800px" height="600px" value="SGVsbG8gV29ybGQh">
                </sch-vseditor>
        {% endcomment %}
        {% comment %}
                <video-js width="800px" height="600px" src="/static/SampleVideo_1080x720_2mb.mp4"></video-js>
                <txtarea id="txt_test">
                        Hello world from txtarea!
                </txtarea>
                <txtarea_editor width="800px" height="600px" rel_id="txt_test">
                </txtarea_editor>
                <pivottable width="800px" height="600px"></pivottable>
                <sch-xterm width="100%" height="100%" href="{{websocket_base_path}}/schcommander/shell/">
                </sch-xterm>
                <ptig-pivottable width="800px" height="600px"></ptig-pivottable>
                <br>
                </br>
        {% endcomment %}
        {% comment %}
                <ptig-codeeditor width="800px" height="600px" value="SGVsbG8gV29ybGQh"></ptig-codeeditor>
                <br />
                <ptig-wysiwygedit width="800px" height="600px" value="SGVsbG8gV29ybGQh"></ptig-wysiwygedit>
                <br />
                <ptig-leaflet width="800px" height="600px" x="51.613007" y="21.491859">
                        <ptig-maker x="51.613007" y="21.591859" txt="To jest test 1"></ptig-maker>
                        <ptig-maker x="51.713007" y="21.691859" txt="To jest test 2"></ptig-maker>
                        <ptig-maker x="51.813007" y="21.791859" txt="To jest test 3"></ptig-maker>
                        <ptig-maker x="51.913007" y="21.891859" txt="To jest test 4"></ptig-maker>
                        <ptig-maker x="51.013007" y="21.991859" txt="To jest test 5"></ptig-maker>
                        <ptig-maker x="51.113007" y="21.191859" txt="To jest test 6"></ptig-maker>
                        <ptig-maker x="51.213007" y="21.291859" txt="To jest test 7"></ptig-maker>
                </ptig-leaflet>
                <br />
                <ptig-spreadsheet width="800px" height="600px"></ptig-spreadsheet>
                <br />
                <ptig-d3 width="400px" height="200px"></ptig-d3>
                <br />
                <ptig-video width="800px" height="600px" src="/static/SampleVideo_1080x720_2mb.mp4">
                </ptig-video>
        {% endcomment %}
{% endblock %}

