{% extends "forms/form.html" %}
{% load exfiltry %}
{% load exsyntax %}
{% block scroll %}
{% endblock %}
{% block list_page_header %}
        <h3>
        Demo - standard controls
        </h3>
{% endblock %}
{% block list_page %}
        <table class="table table-striped">
                <tr>
                        <th width="20%">Nazwa</th>
                        {% if client_type == 'schweb' %}
                                <th width="40%">wx Widget</th>
                        {% endif %}
                        <th width="40%">html widget</th>
                </tr>
                <tr>
                        <td>Link</td>
                        {% if client_type == 'schweb' %}
                                <td><a href="http://www.onet.pl" TARGET="_top">ONET</a></td>
                        {% endif %}
                        <td><a href="http://www.onet.pl" TARGET="_top">ONET</a></td>
                </tr>
                <tr>
                        <td>Bitmap button</td>
                        {% if client_type == 'schweb' %}
                                <td><ctrl-button src="{{ STATIC_URL }}icons/calendar.png"></ctrl-button></td>
                        {% endif %}
                        <td>
                                <a href="#">
                                        <img src="{{ STATIC_URL }}icons/calendar.png">
                                        </img>
                                </a>
                        </td>
                </tr>
                <tr>
                        <td>Button</td>
                        {% if client_type == 'schweb' %}
                                <td><ctrl-button label="button"></ctrl-button></td>
                        {% endif %}
                        <td><button type="button" class="btn btn-primary">button</button></td>
                </tr>
                <tr>
                        <td>Checkbox</td>
                        {% if client_type == 'schweb' %}
                                <td><ctrl-checkbox label="checkbox" value="True"></ctrl-checkbox></td>
                        {% endif %}
                        <td>
                                <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" />
                                        <label class="form-check-label" for="defaultCheck1">checkbox</label>
                                </div>
                        </td>
                </tr>
                <tr>
                        <td>Check list box</td>
                        {% if client_type == 'schweb' %}
                                <td>
                                        <ctrl-checklistbox>
                                                <option>abc</option>
                                                <option>def</option>
                                                <option>ghi</option>
                                        </ctrl-checklistbox>
                                </td>
                        {% endif %}
                        <td>
                                <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" />
                                        <label class="form-check-label" for="defaultCheck1">abc</label>
                                </div>
                                <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" />
                                        <label class="form-check-label" for="defaultCheck1">def</label>
                                </div>
                                <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck3" />
                                        <label class="form-check-label" for="defaultCheck1">ghi</label>
                                </div>
                        </td>
                </tr>
                <tr>
                        <td>Choice</td>
                        {% if client_type == 'schweb' %}
                                <td>
                                        <ctrl-choice>
                                                <option>abc</option>
                                                <option>def</option>
                                                <option>ghi</option>
                                        </ctrl-choice>
                                </td>
                        {% endif %}
                        <td>
                                <select class="form-control">
                                        <option value="abc" selected>abc</option>
                                        <option value="def">def</option>
                                        <option value="ghi">ghi</option>
                                </select>
                        </td>
                </tr>
                <tr>
                        <td>Gauge</td>
                        {% if client_type == 'schweb' %}
                                <td><ctrl-gauge value="50"></ctrl-gauge></td>
                        {% endif %}
                        <td>
                                <div class="progress">
                                        <div class="progress-bar" role="progressba" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                        </td>
                </tr>
                <tr>
                        <td>List box</td>
                        {% if client_type == 'schweb' %}
                                <td>
                                        <ctrl-listbox width="100%-200" height="200px">
                                                <option>abc</option>
                                                <option>def</option>
                                                <option>ghi</option>
                                        </ctrl-listbox>
                                </td>
                        {% endif %}
                        <td>
                                <ul class="nav flex-column">
                                        <li class="nav-item">
                                                <a class="nav-link active" href="#">abc</a>
                                        </li>
                                        <li class="nav-item">
                                                <a class="nav-link" href="#">def</a>
                                        </li>
                                        <li class="nav-item">
                                                <a class="nav-link" href="#">ghi</a>
                                        </li>
                                </ul>
                        </td>
                </tr>
                <tr>
                        <td>List</td>
                        {% if client_type == 'schweb' %}
                                <td>
                                        {% if not standard_web_browser %}
                                                <ctrl-list width="100%-200" height="200px">
                                                        <tr>
                                                                <td>Name</td>
                                                                <td>Address</td>
                                                                <td>Age</td>
                                                        </tr>
                                                        <tr>
                                                                <td>Kowalski</td>
                                                                <td>Warszawa</td>
                                                                <td>35</td>
                                                        </tr>
                                                        <tr>
                                                                <td>Nowak</td>
                                                                <td>Kozienice</td>
                                                                <td>84</td>
                                                        </tr>
                                                </ctrl-list>
                                        {% endif %}
                                </td>
                        {% endif %}
                        <td>
                                <table class="table table-dark">
                                        <thead>
                                                <tr>
                                                        <th scope="col">Name</th>
                                                        <th scope="col">Address</th>
                                                        <th scope="col">Age</th>
                                                </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td scope="row">Kowalski</td>
                                                        <td scope="row">Warszawa</td>
                                                        <td scope="row">35</td>
                                                </tr>
                                                <tr>
                                                        <td scope="row">Nowak</td>
                                                        <td scope="row">Kozienice</td>
                                                        <td scope="row">84</td>
                                                </tr>
                                        </tbody>
                                </table>
                        </td>
                </tr>
                <tr>
                        <td>Grid</td>
                        {% if client_type == 'schweb' %}
                                <td>
                                        <ctrl-table width="100%-200" height="200px">
                                                <tr>
                                                        <th scope="col">Name</th>
                                                        <th scope="col">Address</th>
                                                        <th scope="col">Age</th>
                                                </tr>
                                                <tr>
                                                        <td scope="row">Kowalski</td>
                                                        <td scope="row">Warszawa</td>
                                                        <td scope="row">35</td>
                                                </tr>
                                                <tr>
                                                        <td scope="row">Nowak</td>
                                                        <td scope="row">Kozienice</td>
                                                        <td scope="row">84</td>
                                                </tr>
                                        </ctrl-table>
                                </td>
                        {% endif %}
                        <td>
                                <table class="table">
                                        <tr>
                                                <th scope="col">Name</th>
                                                <th scope="col">Address</th>
                                                <th scope="col">Age</th>
                                        </tr>
                                        <tr>
                                                <td scope="row">Kowalski</td>
                                                <td scope="row">Warszawa</td>
                                                <td scope="row">35</td>
                                        </tr>
                                        <tr>
                                                <td scope="row">Nowak</td>
                                                <td scope="row">Kozienice</td>
                                                <td scope="row">
                                                84
                                                </td>
                                        </tr>
                                </table>
                        </td>
                </tr>
                <tr>
                        <td>Radio box</td>
                        {% if client_type == 'schweb' %}
                                <td>
                                        <ctrl-radiobox>
                                                <option>abc</option>
                                                <option>def</option>
                                                <option>ghi</option>
                                        </ctrl-radiobox>
                                </td>
                        {% endif %}
                        <td>
                                <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="r1" name="radioexample1" />
                                        <label class="custom-control-label" for="r1">abc</label>
                                </div>
                                <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="r2" name="radioexample1" />
                                        <label class="custom-control-label" for="r2">def</label>
                                </div>
                                <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="r3" name="radioexample1" />
                                        <label class="custom-control-label" for="r3">ghi</label>
                                </div>
                        </td>
                </tr>
                <tr>
                        <td>Radio button</td>
                        {% if client_type == 'schweb' %}
                                <td><ctrl-radiobutton label="abc"></ctrl-radiobutton></td>
                        {% endif %}
                        <td>
                                <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="r4"  name="radioexample2" />
                                        <label class="custom-control-label" for="r4">abc</label>
                                </div>
                        </td>
                </tr>
                <tr>
                        <td>Slider</td>
                        {% if client_type == 'schweb' %}
                                <td><ctrl-slider></ctrl-slider></td>
                        {% endif %}
                        <td>
                                <label for="range1">Example range</label>
                                <input type="range" class="custom-range" id="range1" />
                        </td>
                </tr>
                <tr>
                        <td>Static text</td>
                        {% if client_type == 'schweb' %}
                                <td><ctrl-statictext label="static text"></ctrl-statictext></td>
                        {% endif %}
                        <td><p>static text</p></td>
                </tr>
                <tr>
                        <td>Text</td>
                        {% if client_type == 'schweb' %}
                                <td><ctrl-text strvalue="hello world!"></ctrl-text></td>
                        {% endif %}
                        <td>
                                <div class="form-group">
                                        <label for="example_txt" class="col-form-label">Example text</label>
                                        <input type="text" class="form-control" id="example_txt" value="Hello world!" />
                                </div>
                        </td>
                </tr>
                <tr>
                        <td>Color select</td>
                        {% if client_type == 'schweb' %}
                                <td><ctrl-colourselect></ctrl-colourselect></td>
                        {% endif %}
                        <td>
                                <input type="color" id="example_color" />
                        </td>
                </tr>
                <tr>
                        <td>Tree</td>
                        {% if client_type == 'schweb' %}
                                <td><ctrl-tree width="400" height="200">
                                        <li>TEXT</li>
                                        <li>
                                        TEXT 2
                                                <ul>
                                                        <li>TEXT 11</li>
                                                        <li>TEXT 22</li>
                                                </ul>
                                        </li>
                                        <li>TEXT 3</li>
                                  </ctrl-tree></td>
                        {% endif %}
                        <td>
                              <table class="tree">
                                <tr class="treegrid-1">
                                        <td>TEXT</td>
                                        <td>Additional info</td>
                                </tr>
                                <tr class="treegrid-2">
                                        <td>TEXT 2</td>
                                        <td>Additional info</td>
                                </tr>
                                <tr class="treegrid-3 treegrid-parent-2">
                                        <td>TEXT 11</td>
                                        <td>Additional info</td>
                                </tr>
                                <tr class="treegrid-4 treegrid-parent-2">
                                        <td>TEXT 12</td>
                                        <td>Additional info</td>
                                </tr>
                                <tr class="treegrid-5">
                                        <td>TEXT 3</td>
                                        <td>Additional info</td>
                                </tr>
                              </table>
                        </td>
                </tr>
                <tr>
                        <td>File browser button</td>
                        {% if client_type == 'schweb' %}
                                <td><ctrl-filebrowsebutton></ctrl-filebrowsebutton></td>
                        {% endif %}
                        <td>
                                <input type="file" class="form-control" />
                        </td>
                </tr>
                <tr>
                        <td>Calendar</td>
                        {% if client_type == 'schweb' %}
                                <td>
                                        <ctrl-calendar></ctrl-calendar>
                                </td>
                        {% endif %}
                        <td height="300px">
                                <ptig-calendar></ptig-calendar>
                        </td>
                </tr>
                <tr>
                        <td>Date picker</td>
                        {% if client_type == 'schweb' %}
                                <td><ctrl-datepicker></ctrl-datepicker></td>
                        {% endif %}
                        <td>
                                <input type="date" class="form-control" />
                        </td>
                </tr>
                <tr>
                        <td>Editable list box</td>
                        {% if client_type == 'schweb' %}
                                <td><ctrl-editablelistbox width="400" height="300"></ctrl-editablelistbox></td>
                        {% endif %}
                        <td>
                                has not yet been implemented
                        </td>
                </tr>
                <tr>
                        <td>Mask text</td>
                        {% if client_type == 'schweb' %}
                                <td><ctrl-masktext></ctrl-masktext></td>
                        {% endif %}
                        <td>
                                <ptig-imask mask="+{7}(000)000-00-00">
                                        <input class="form-control" type="text">
                                        </input>
                                </ptig-imask>
                                <ptig-imask mask="number"></ptig-imask>
                        </td>
                </tr>
                <tr>
                        <td>Number</td>
                        {% if client_type == 'schweb' %}
                                <td><ctrl-num></ctrl-num></td>
                        {% endif %}
                        <td><input class="form-control" type="number" min="1" max="10" /></td>
                </tr>
                <tr>
                        <td>Amount</td>
                        {% if client_type == 'schweb' %}
                                <td><ctrl-amount></ctrl-amount></td>
                        {% endif %}
                        <td><input class="form-control" type="number" step="0.01" /></td>
                </tr>
                <tr>
                        <td>Time</td>
                        {% if client_type == 'schweb' %}
                                <td><ctrl-time></ctrl-time></td>
                        {% endif %}
                        <td>
                                <div class="form-group">
                                        <label for="example_time" class="control-label float-left">Example time control</label>
                                        <div class="controls float-left datetimefield">
                                                <div style="position: relative">
                                                        <input type="text" class="form-control" id="example_time" />
                                                        <i class="fa fa-clock" style="position: absolute; right: 10px; top: calc(50% - 6px); pointer-events: none;">
                                                        </i>
                                                </div>
                                        </div>
                                </div>
                        </td>
                </tr>
                <tr>
                        <td>Styled text</td>
                        {% if client_type == 'schweb' %}
                                <td><ctrl-styledtext></ctrl-styledtext></td>
                        {% endif %}
                        <td height="300">
                                <ptig-wysiwygedit width="100%" height="600px"></ptig-wysiwygedit>
                        </td>
                </tr>
                <tr>
                        <td>Ticker</td>
                        {% if client_type == 'schweb' %}
                                <td><ctrl-ticker strvalue="HELLO WORLD!"></ctrl-ticker></td>
                        {% endif %}
                        <td>
                                <div class="ticker-wrap" width="400px" height="40px">
                                        <div class="ticker">
                                                <div class="ticker__item">Hello world!</div>
                                                <div class="ticker__item">Hello from Pytigon!</div>
                                        </div>
                                </div>
                        </td>
                </tr>
                <tr>
                        <td>htmllistbox</td>
                        {% if client_type == 'schweb' %}
                                <td>
                                        <ctrl-htmllistbox width="400">
                                                <tr><td>[b]test1[/b]</td></tr>
                                                <tr><td>[strong]test2[/strong]</td></tr>
                                                <tr><td>[h1]test test test[/h1]</td></tr>
                                        </ctrl-htmllistbox>
                                </td>
                        {% endif %}
                        <td></td>
                </tr>
                <tr>
                        <td>shell</td>
                        {% if client_type == 'schweb' %}
                                <td>
                                        <ctrl-shell width="600" height="800"></ctrl-shell>
                                </td>
                        {% endif %}
                        <td height="300">
                                <ptig-xterm class="flexible_size" width="100%" href="{{base_path}}schcommander/shell/channel/"></ptig-xterm>
                        </td>
                </tr>
                <tr>
                        <td>Tree list</td>
                        {% if client_type == 'schweb' %}
                                <td>
                                        <ctrl-treelist label="Title||Description||Description 2" width="400" height="200">
                                                <li>text 1||Description a1||Description b1</li>
                                                <li>
                                                text2 2||Description a2||Description b2
                                                        <ul>
                                                                <li>text 21||Description a21||Description b21</li>
                                                                <li>text 22||Description a22||Description b22</li>
                                                        </ul>
                                                </li>
                                                <li>text 3||Description a3||Description b3</li>
                                        </ctrl-treelist>
                                </td>
                        {% endif %}
                        <td>
                        </td>
                </tr>
        </table>
{% endblock %}

