/* main settings */
.body-body {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 100%; }

div.content-wrapper {
  width: 100%;
  height: 100vh; }

div.page-content {
  height: 100%; }

.app_chose_title {
  color: gold !important;
  text-align: center;
  margin: 10px; }

.app_chose {
  margin: 10px 5px;
  padding: 5px 10px;
  box-shadow: 5px 5px 2px #112233; }

.app_chose a {
  padding: 10px 40px;
  margin: 10px 0px; }

.nav li.search {
  background-color: rgba(0, 0, 0, 0) !important; }
  .nav li.search div.input-group {
    color: white; }
    .nav li.search div.input-group input.form-control {
      height: 40px;
      color: white;
      box-shadow: inset 0 -1px 0 #bbf; }
    .nav li.search div.input-group input.form-control:focus {
      box-shadow: inset 0 -2px 0 #fff; }
    .nav li.search div.input-group input.form-control::placeholder {
      color: #bbf !important;
      opacity: 1; }
    .nav li.search div.input-group input.form-control::-ms-input-placeholder {
      color: white !important; }
  .nav li.search div.input-group-addon {
    height: 40px;
    padding-top: 12px; }

.dashboard #header {
  display: none; }

.dashboard #content {
  padding: 0px 10px; }

div.table-and-details {
  width: 100%;
  height: 100%; }

.modal-body div.table-and-details {
  min-height: 50vh; }

.pull-right {
  float: right; }

.pseudotable {
  position: relative; }

.row-details.flex-column {
  max-height: calc(100% - 13rem); }

.row-details.flex-row {
  max-width: calc(100% - 13rem); }

/* Tab - close button on tab */
#tabs2 {
  border-bottom: 0px; }
  #tabs2 li {
    position: relative; }
    #tabs2 li a {
      border: medium none;
      box-shadow: none !important;
      margin-bottom: -3px !important;
      outline: 0px;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 10rem;
      color: var(--bs-dark) !important; }
      #tabs2 li a.active {
        color: var(--bs-body-color) !important;
        background-color: var(--bs-body-bg) !important; }
    #tabs2 li button {
      position: absolute;
      top: 0px;
      right: 0px; }
      #tabs2 li button.close {
        position: absolute;
        right: 1px;
        top: 1px;
        padding: 0px 3px;
        margin-top: 0px;
        margin-right: 0px;
        box-shadow: none;
        border: none;
        color: var(--bs-body-color) !important; }
    #tabs2 li.nav-item a.nav-link {
      padding: 6px 12px 10px 8px;
      text-transform: none;
      border-top-right-radius: 0.15rem;
      border-top-left-radius: 0.15rem;
      font-size: small; }
    #tabs2 li:nth-child(1n+6) {
      width: 25px;
      overflow: hidden; }
      #tabs2 li:nth-child(1n+6) a {
        color: var(--bs-body-color) !important; }

#body_desktop {
  height: calc(100% - 10px) !important;
  overflow-y: auto; }

/* bootstrap-table */
.bootstrap-table .columns {
  font-size: small; }
  .bootstrap-table .columns button.btn:not(:hover) {
    background: transparent; }
  .bootstrap-table .columns a.btn:not(:hover) {
    background: transparent; }

.tabsort_panel, .table_panel, .subform_content {
  width: 100%;
  font-size: small; }
  .tabsort_panel .table td, .table_panel .table td, .subform_content .table td {
    padding-top: 0.25rem;
    padding-right: 0.75rem;
    padding-bottom: 0.25rem;
    padding-left: 0.75rem;
    vertical-align: middle; }
    .tabsort_panel .table td .editable-inline, .table_panel .table td .editable-inline, .subform_content .table td .editable-inline {
      width: 0px; }
      .tabsort_panel .table td .editable-inline .form-group, .table_panel .table td .editable-inline .form-group, .subform_content .table td .editable-inline .form-group {
        margin-top: 0px; }
  .tabsort_panel table.table-striped tbody tr:nth-of-type(odd), .table_panel table.table-striped tbody tr:nth-of-type(odd), .subform_content table.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.02); }
  .tabsort_panel table.table-striped tbody tr:nth-of-type(even), .table_panel table.table-striped tbody tr:nth-of-type(even), .subform_content table.table-striped tbody tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0); }
  .tabsort_panel table.table-striped tbody tr:hover, .table_panel table.table-striped tbody tr:hover, .subform_content table.table-striped tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.05); }
  .tabsort_panel .td_information .btn, .tabsort_panel .td_action .btn, .tabsort_panel .columns .btn, .table_panel .td_information .btn, .table_panel .td_action .btn, .table_panel .columns .btn, .subform_content .td_information .btn, .subform_content .td_action .btn, .subform_content .columns .btn {
    box-shadow: none !important;
    border: none !important;
    text-transform: none;
    padding: 0.5rem;
    color: var(--bs-body-color); }
  .tabsort_panel .dropdown .btn, .tabsort_panel .tree-id .btn, .table_panel .dropdown .btn, .table_panel .tree-id .btn, .subform_content .dropdown .btn, .subform_content .tree-id .btn {
    font-size: small; }
  .tabsort_panel .dropdown .btn.dropdown-toggle, .table_panel .dropdown .btn.dropdown-toggle, .subform_content .dropdown .btn.dropdown-toggle {
    font-size: initial; }
  .tabsort_panel div.td_action .btn:not(:hover), .tabsort_panel div.td_information .btn:not(:hover), .table_panel div.td_action .btn:not(:hover), .table_panel div.td_information .btn:not(:hover), .subform_content div.td_action .btn:not(:hover), .subform_content div.td_information .btn:not(:hover) {
    background-color: transparent; }
  .tabsort_panel div.td_action, .table_panel div.td_action, .subform_content div.td_action {
    box-shadow: none;
    border: none;
    text-transform: none; }
    .tabsort_panel div.td_action .btn-secondary, .table_panel div.td_action .btn-secondary, .subform_content div.td_action .btn-secondary {
      color: #006040; }
    .tabsort_panel div.td_action .btn-danger, .table_panel div.td_action .btn-danger, .subform_content div.td_action .btn-danger {
      color: #600040; }
    .tabsort_panel div.td_action a, .table_panel div.td_action a, .subform_content div.td_action a {
      font-size: small; }
    .tabsort_panel div.td_action button, .table_panel div.td_action button, .subform_content div.td_action button {
      font-size: small; }
  .tabsort_panel div.td_action .btn:not(:hover), .table_panel div.td_action .btn:not(:hover), .subform_content div.td_action .btn:not(:hover) {
    background-color: transparent; }
  .tabsort_panel tr:not(:hover) div.td_action .btn, .table_panel tr:not(:hover) div.td_action .btn, .subform_content tr:not(:hover) div.td_action .btn {
    opacity: 0.33;
    filter: alpha(opacity=33); }
  .tabsort_panel .td_information, .table_panel .td_information, .subform_content .td_information {
    width: 100%;
    height: 100%; }
    .tabsort_panel .td_information a, .table_panel .td_information a, .subform_content .td_information a {
      font-size: small; }
    .tabsort_panel .td_information button, .table_panel .td_information button, .subform_content .td_information button {
      font-size: small; }
  .tabsort_panel tr:not(:hover) div.td_information *, .table_panel tr:not(:hover) div.td_information *, .subform_content tr:not(:hover) div.td_information * {
    opacity: 0.66;
    filter: alpha(opacity=66); }
  .tabsort_panel tr td.td_information .btn, .table_panel tr td.td_information .btn, .subform_content tr td.td_information .btn {
    padding: 5px 8px;
    box-shadow: none; }
  .tabsort_panel div.td_information a.btn, .table_panel div.td_information a.btn, .subform_content div.td_information a.btn {
    box-shadow: none; }
  .tabsort_panel th.tree-id a, .table_panel th.tree-id a, .subform_content th.tree-id a {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0.4rem;
    margin-right: 8px; }

.tabsort_panel tbody .td_information > .btn, .tabsort_panel tbody .td_action > .btn {
  padding: 0.5rem; }

div.bootstrap-table div.columns.float-right {
  margin-right: 2px; }

div.bootstrap-table div.fixed-table-toolbar div.columns button {
  width: 50px; }

div.tableframe {
  position: relative; }
  div.tableframe ul.simple_pagination {
    position: absolute;
    right: 2px;
    top: -42px; }

.bootstrap-table .fixed-table-container .tabsort.table thead th {
  padding: 0.3rem !important; }

/* dropdown menu */
.user-menu {
  white-space: nowrap; }
  .user-menu div.dropdown-menu {
    padding: 20px;
    width: 22rem; }
    .user-menu div.dropdown-menu .dropdown-block p {
      font-size: 0.8rem; }

.tabsort .td_action div.dropdown-menu {
  width: 22rem;
  height: 10rem;
  overflow-y: scroll; }

/* form */
.modal-body label {
  text-overflow: ellipsis;
  overflow: hidden; }

form .row .row {
  margin-right: 0px;
  margin-left: 0px; }

.form-group {
  position: relative; }
  .form-group label, .form-group form-label {
    font-style: italic;
    font-size: 0.8rem; }
  .form-group textarea {
    line-height: 1.5;
    height: 8rem; }
  .form-group div.checkbox label, .form-group div.abc-checkbox label {
    padding-right: 10px;
    padding-top: 4px; }

.group_select2multiplefield, .group_heavyselect2multiplefield, .group_modelselect2multiplefield, .group_filepathfield, .group_typedmultiplechoicefield, .group_multiplechoicefield, .group_modelmultiplechoicefield {
  margin-top: 0.5rem; }

.form-floating.group_select2multiplefield label, .form-floating.group_heavyselect2multiplefield label, .form-floating.group_modelselect2multiplefield label, .form-floating.group_typedmultiplechoicefield label, .form-floating.group_multiplechoicefield label, .form-floating.group_modelmultiplechoicefield label {
  z-index: 1;
  opacity: .65;
  transform: scale(0.9) translateY(-1.3rem) translateX(0.15rem);
  background: transparent !important; }

.form-floating.group_typedmultiplechoicefield, .group_filefield, .form-floating.group_multiplechoicefield, .form-floating.group_modelmultiplechoicefield {
  margin-top: 1.5rem; }

.form-floating.group_typedmultiplechoicefield select, .form-floating.group_modelmultiplechoicefield select, .form-floating.group_multiplechoicefield select {
  padding-top: 0.375rem !important; }

.form-floating.group_heavyselect2multiplefield label, .form-floating.group_modelselect2multiplefield label, .form-floating.group_multiplechoicefield label, .form-floating.group_typedmultiplechoicefield label, .form-floating.group_modelmultiplechoicefield label {
  transform: scale(0.9) translateY(-2.3rem) translateX(0.15rem) !important; }

.form-floating .select2-selection--single {
  height: calc(3.5rem + 2px) !important;
  padding-top: 1.625rem !important; }

.form-floating .select2-selection--multiple {
  min-height: calc(3.5rem + 2px) !important;
  padding-top: 1.625rem !important; }

.form-floating label {
  text-wrap: nowrap !important;
  text-overflow: ellipsis;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 10 !important; }

.row > .form-floating > label {
  left: 0.6rem; }

.form-floating.group_select2multiplefield label, .form-floating.group_heavyselect2multiplefield label, .form-floating.group_modelselect2multiplefield label {
  transform: scale(0.9) translateY(-0.6rem) translateX(0.15rem) !important; }

.bootstrap-datetimepicker-widget {
  width: auto !important;
  box-shadow: 2px 2px 2px #888; }

.btn.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.3em;
  vertical-align: middle;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent; }

.form-vertical .form-control {
  width: 100%; }

body:not(.modal-open) .dark_background {
  position: fixed;
  background: #448;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  opacity: 0.1;
  pointer-events: none; }

.inline-table-modal-body, .inline-update-modal-body {
  padding: 30px;
  overflow: hidden; }

.modal-fullscreen .modal-header {
  padding: 5px; }

.modal-fullscreen .modal-footer {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.modal-fullscreen .inline-table-modal-body, .modal-fullscreen .inline-update-modal-body {
  overflow-y: auto; }

.group_filefield label.control-label {
  transform: none;
  top: -10p;
  margin-top: -2px; }

.group_multiplechoicefield, .group_modelmultiplechoicefield, .group_typedmultiplechoicefield {
  min-width: 10rem; }

.group_typedchoicefield, .group_modelchoicefield, .group_choicefield {
  min-width: 10rem; }

div.d-inline-flex div.form-group {
  align-self: end; }

.group_filefield label.top_label {
  position: absolute;
  top: -1.1rem;
  left: 2px;
  color: rgba(0, 0, 0, 0.5); }

div.form_delete, div.form_info {
  max-height: 25rem;
  overflow-y: auto; }

.maximize, .minimize {
  box-shadow: none; }

select.form-control {
  padding-right: 1rem; }

select.show-form-btn + span.select2 span.select2-selection {
  padding-right: 5rem; }

.modal-fullscreen {
  position: fixed !important;
  z-index: 1050;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0px !important; }
  .modal-fullscreen .modal-content {
    height: 100%; }

div.v-autosize div.modal-body {
  max-height: calc( 100vh - 10rem);
  overflow-y: auto; }

div.dialog-form div.container-fluid {
  padding-left: 0;
  padding-right: 0; }

a.foreignkey_button {
  position: absolute !important;
  right: 65px;
  top: 0rem;
  z-index: 10; }

div.is-invalid .invalid-feedback {
  display: block; }

input[required]:invalid, select[required] {
  background-color: #ffc; }

.modal-footer button {
  margin-left: 0.2rem;
  margin-right: 0.2rem; }

/* Inline form */
.modal-dialog-inline > div > div > .modal-header {
  padding-bottom: 0.2rem;
  padding-top: 0.2rem; }

.modal-dialog-inline > div > div > .modal-body {
  max-height: calc(100vh - 8rem);
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding-top: 0.5rem;
  margin-bottom: 0.5rem; }

.form-inline .form-group, .form-inline div.checkbox {
  padding: 2px;
  margin-right: 15px; }

.form-inline .form-group .select2field {
  min-width: 10rem; }

.form-inline .form-group .select2 {
  min-width: 10rem; }

.form-inline .form-group .choicefield {
  min-width: 10rem; }

.form-inline .form-group .modelselect2field {
  min-width: 10rem; }

.form-inline .form-group .abc-checkbox {
  padding-left: 17px; }

.form-inline .form-group .datefield input {
  min-width: 120px; }

.form-inline .form-group select.form-control {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 1rem; }

.form-inline .form-group label :not(.upload) {
  padding-right: 8px;
  background: transparent; }

.form-inline .form-group label.upload {
  position: relative; }

.form-inline .form-group .numberinput {
  width: 100px;
  padding-left: 5px;
  padding-right: 5px; }

.form-inline .datetimeinput {
  width: 9rem !important; }

.refresh-button {
  position: absolute !important;
  right: 3px;
  bottom: 3px;
  top: 3px;
  min-height: 45px;
  max-height: 6rem;
  margin-right: 0px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 30px;
  z-index: 1; }

.table_filter {
  margin-top: 0px;
  margin-bottom: 3px;
  margin-left: 0px;
  margin-right: 50px; }

form.table_filter label:not(.form-check-label):not(.upload)::after {
  content: ":";
  background-color: transparent !important; }

form.table_filter .form-floating label:not(.form-check-label):not(.upload)::after {
  content: "" !important;
  background-color: transparent !important; }

form.table_filter label.nocolon::after {
  content: "" !important;
  background-color: transparent !important; }

div.tab-content .modal-dialog-inline {
  position: relative;
  left: 0px;
  right: 0px;
  top: 0px; }

.modal-dialog .subform_frame {
  margin: 15px 15px; }

div.modal-content.maximized {
  position: fixed;
  top: -5px;
  left: -5px;
  width: calc( 100% + 10px);
  height: calc( 100vh + 10px);
  z-index: 9000;
  overflow-y: auto;
  overflow-x: hidden; }

div.inline-dialog-frame {
  position: fixed;
  z-index: 1001;
  right: 1rem;
  left: 1rem;
  bottom: 1rem;
  max-height: calc(100% - 1rem); }
  div.inline-dialog-frame div.inline-dialog-frame {
    left: 2rem;
    bottom: 2rem; }

.inline-content {
  z-index: 1000; }

.modal-content.inline-content {
  padding: 0.5rem;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color-translucent);
  border-radius: var(--bs-border-radius-lg);
  outline: 0; }

tr.plug > td {
  background-color: var(--bs-warning); }

/* login form */
.login_background {
  /* IE10+ */
  background-image: -ms-radial-gradient(left top, ellipse farthest-side, #CCCCCC 0%, #224466 100%);
  /* Mozilla Firefox */
  background-image: -moz-radial-gradient(left top, ellipse farthest-side, #CCCCCC 0%, #224466 100%);
  /* Opera */
  background-image: -o-radial-gradient(left top, ellipse farthest-side, #CCCCCC 0%, #224466 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(radial, left top, 0, left top, 515, color-stop(0, #CCCCCC), color-stop(100, #224466));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-radial-gradient(left top, ellipse farthest-side, #CCCCCC 0%, #224466 100%);
  /* W3C Markup */
  background-image: radial-gradient(ellipse farthest-side at left top, #CCCCCC 0%, #224466 100%);
  min-height: 100vh !important;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px; }
  .login_background div.content-wrapper {
    background: transparent; }

div.login-container > .row {
  height: 80vh; }

.login-card {
  min-width: 250px;
  background: #357;
  color: #dff;
  box-shadow: 5px 5px 2px #112233;
  padding: 20px; }
  .login-card card-header {
    background: transparent;
    font-size: 18px; }
  .login-card input {
    color: white !important;
    background: rgba(0, 0, 0, 0.2) !important;
    padding-left: 10px !important;
    padding-right: 10px !important; }
  .login-card .input-group-addon {
    color: #dff;
    background-color: transparent; }
  .login-card span {
    color: white !important; }

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  padding-top: 3px;
  line-height: 1.428571429;
  border-radius: 15px; }

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px; }

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px; }

label.upload {
  height: 80px;
  padding: 0px;
  min-width: 160px;
  align-items: normal;
  position: relative; }
  label.upload p {
    padding: 5px 20px 5px 30px;
    margin: 0px;
    text-transform: none;
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    left: 0px; }
  label.upload p.upload {
    max-width: 170px; }
  label.upload img, label.upload .img {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: auto;
    padding: 2px;
    font-size: 12px;
    text-transform: uppercase; }
    label.upload img span, label.upload .img span {
      padding-left: 0.4rem; }
  label.upload p.img {
    width: 150px; }
  label.upload i {
    position: absolute;
    top: 6px;
    left: 2px;
    padding: 0px 5px; }

.checkboxinput {
  margin-right: 10px; }

.btn-file {
  cursor: pointer;
  cursor: hand; }

button.btn-transparent:not(:hover), a.btn-transparent:not(:hover) {
  background: transparent !important; }

div.calendar-table td.today:not(.active) {
  background: #ffb; }

a.disabled {
  pointer-events: none !important;
  background: #ccc !important;
  color: #eee !important; }

.input-group-addon {
  padding: 0px 0.7rem; }

div.daterangepicker .drp-buttons {
  text-align: center; }
  div.daterangepicker .drp-buttons button.cancelBtn {
    position: absolute;
    top: 4px;
    right: 4px; }

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible; }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible; }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }

.ticker-wrap {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.9);
  padding-left: 100%;
  box-sizing: content-box; }
  .ticker-wrap .ticker {
    display: inline-block;
    height: 4rem;
    line-height: 4rem;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 30s;
    animation-duration: 30s; }
    .ticker-wrap .ticker__item {
      display: inline-block;
      padding: 0 2rem;
      font-size: 2rem;
      color: white; }

form div.get_row span.select2-container {
  margin-left: 5px; }

div.subform_content tr:hover {
  color: white; }

.leftaligncheckbox .booleanfield {
  margin-left: 0 !important; }

.form-group div.controls ul {
  list-style-type: none;
  padding-left: 0; }

a.collapsed > i.colapsed-plus {
  display: inline-block; }

a.collapsed > i.colapsed-minus {
  display: none; }

a:not([class*="collapsed"]) > i.colapsed-plus {
  display: none; }

a:not([class*="collapsed"]) > i.colapsed-minus {
  display: inline-block; }

.txt3d {
  font-weight: 900;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2), 4px 4px 5px rgba(0, 0, 0, 0.4); }
  .txt3d span {
    vertical-align: middle; }

.txt3d.wiki-title {
  font-size: 1.2rem; }
  .txt3d.wiki-title a {
    color: white; }
  .txt3d.wiki-title span {
    color: antiquewhite; }

div.highlight pre {
  padding: 10px;
  font-size: 12px; }

.wiki-frame {
  font-size: 0.9rem; }
  .wiki-frame p {
    margin: 0 0 0.2rem; }
  .wiki-frame table.codehilitetable .linenodiv {
    padding: 0.5rem;
    background: darkgray;
    color: white; }
  .wiki-frame table.codehilitetable .codehilite {
    padding: 0.5rem; }

body {
  background-color: var(--bs-body-bg);
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto; }

div.table {
  margin-bottom: 0rem; }

.new_row {
  min-height: 0.3rem; }

.bootstrap-table .fixed-table-toolbar .btn-group, .bootstrap-table .fixed-table-toolbar .bs-bars,
.bootstrap-table .fixed-table-toolbar .search {
  margin-top: 0px !important;
  margin-bottom: 0px !important; }

.bootstrap-table .fixed-table-toolbar {
  margin-bottom: 5px; }

.bootstrap-table fixed-table-pagination div.pagination, .bootstrap-table .fixed-table-pagination .pagination-detail {
  margin-top: 0px !important;
  margin-bottom: 0px !important; }

.bootstrap-table .fixed-table-toolbar .dropdown {
  display: inline; }

.dtp > .dtp-content {
  max-height: 530px; }

table.dtp-picker-days tbody tr td:nth-child(6) a, table.dtp-picker-days tbody tr td:nth-child(7) a {
  color: #d00; }

div.dtp-buttons button {
  margin: 0px 5px; }

.btn.dropdown-toggle::before {
  display: none;
  width: 0;
  height: 0;
  margin-left: 0.3em;
  vertical-align: middle;
  content: none;
  border-top: none;
  border-right: none;
  border-left: none; }

div.td_action .btn-secondary:after, div.td_information .btn-secondary:after {
  background-image: radial-gradient(circle, #eee 10%, transparent 10.01%) !important; }

div.td_information {
  white-space: nowrap; }

.div_content_center {
  text-align: center; }

.tabsort-toolbar-expand {
  position: absolute;
  top: 4px;
  left: 3px;
  transform: rotate(0deg);
  transition: .3s;
  background: #fc0 !important;
  box-shadow: none !important; }
  .tabsort-toolbar-expand i.fa {
    vertical-align: 0 !important; }

.tabsort-toolbar-expand.active {
  transform: rotate(315deg) !important;
  transition: .3s !important; }

.tab-pane {
  position: relative;
  height: calc(100% - 5px); }
  .tab-pane > .ajax-item {
    height: 100%; }
    .tab-pane > .ajax-item > .ajax-region {
      height: 100%; }

.tab-pane.container-fluid {
  padding-right: 5px !important;
  padding-left: 5px !important; }

span.tree-toolbar {
  padding-right: 30px; }

span.tree-home a {
  padding-left: 11px !important;
  padding-right: 11px !important; }

/* for firefox */
a, button {
  outline: 0 !important; }

.tabsort_panel {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden; }

.modal-body .tabsort_panel {
  position: relative; }

.form2columns label {
  margin-bottom: 0px; }

.form2columns .checkbox {
  margin-left: 0px !important; }

div.modal-body label:not(.form-check-label):not(.upload)::after {
  content: ":"; }

div.modal-body .form-floating label:not(.form-check-label):not(.upload)::after {
  content: ""; }

.tbl_scroll {
  min-height: 11rem; }

.tabsort .tbl_scroll {
  min-height: auto;
  overflow-y: visible !important; }

.content {
  position: relative; }

table.layout0 tr td {
  padding: 0 !important;
  margin: 0 !important;
  text-align: center;
  vertical-align: middle; }

.hide {
  display: none; }

.pagination {
  float: right;
  margin-right: 3px;
  padding-bottom: 0px;
  margin-bottom: 0.2rem; }
  .pagination li.active a {
    background: #2196F3;
    color: white; }

.size_level_0 {
  color: #fff; }

.size_level_1 {
  color: #9f9; }

.size_level_2 {
  color: #f44; }

.size_level_3 .size_level_4 .size_level_5 .size_level_6 {
  color: #000; }

.wiki_collapse_link {
  position: absolute;
  right: 5px;
  z-index: 100; }

.modal-max {
  max-width: 100% !important; }

.maximized > .modal-body {
  padding: 0; }

.maximized > .modal-footer {
  padding: 0.25rem; }

.sublist-sm {
  max-width: 300px !important; }

.sublist-default {
  max-width: 500px !important; }

.sublist-lg {
  max-width: 800px !important; }

.sublist-xl {
  max-width: 1140px !important; }

.sublist-max {
  max-width: 100% !important; }

.rotate {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 1000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 1000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

@-ms-keyframes spin {
  -ms-transform: rotate(0deg);
  -ms-transform: rotate(360deg); }

@-moz-keyframes spin {
  from { }
  -moz-transform: rotate(0deg);
  to { }
  -moz-transform: rotate(360deg); }

@-webkit-keyframes spin {
  from { }
  -webkit-transform: rotate(0deg);
  to { }
  -webkit-transform: rotate(360deg); }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.v-row-details {
  padding: 10px; }

.slider-line {
  background-color: #fb0; }

.v-slider-line {
  background-color: #eee; }
