{# -*- coding: utf-8 -*- #}
{% extends "form.html" %}
{% load exfiltry %}
{% load exsyntax %}
{% block pythoncode %}
        <script language="python">
        def signal_from_child(self, child, signal):
            if signal=='set_bitmap_list':
                bitmaps = {
                    "app": "client://apps/preferences-system-windows.png",
                    "app_templ": "client://mimetypes/text-x-script.png",
                    "doc": "client://apps/help-browser.png",
                    "gen": "client://categories/applications-multimedia.png",
                    "run": "client://actions/media-playback-start.png",
                    "prj_export": "client://actions/document-save-as.png",
                    "manage": "client://categories/preferences-system.png",
                    "installer": "client://apps/internet-web-browser.png",
                    "UP": "wx.ART_GO_TO_PARENT",
                    "static": "client://apps/system-file-manager.png",
                    "files": "client://mimetypes/text-html.png",
                    "readme_txt": "fa://navicon.png",
                    "locale": "client://apps/preferences-system-network-proxy.png",
                    "locale_gen": "client://mimetypes/text-html.png"
                }
                child.set_bitmaps(bitmaps)
        def filter_url(self, target, href):
            if '/run' in href:
                import subprocess
                import threading
                import sys
                def app_process():
                    cmd = wx.GetApp().scr_path+"/pytigon.py"
                    appset = href.split('_')[-1].split('?')[0]
                    arg = " "+appset
                    subprocess.call([sys.executable, cmd, arg], shell=False)
                threading.Thread(target = app_process).start()
                return True
            return href
</script>
{% endblock %}
{% block all %}
        {% with edit_vscroll=True table_type='datatable' %}
                {{ block.super }}
        {% endwith %}
{% endblock %}
{% block list_content_actions %}
        {% new_row "Nowa paczka aplikacji" %}
        {% list_action "prj_import/edit" "Import" %}
        {% list_action "restart_server" "Restartuj serwer" %}
        {% list_action "update" "Update server from git" %}
{% endblock %}
{% block list_row_header %}
        <th>Name</th>
{% endblock %}
{% block list_row %}
        <td>{{object.name}}</td>
{% endblock %}
{% block list_row_actions %}
        {% row_actions %}
        
        UP,Open in toolbar,,_top2_toolbar_Aplikacje__Lista_aplikacji,+src='client://actions/go-top.png',,../../../../SChAppSet_up/{id}/schapp_set/-/form/list?childwin=1
        edit
        gen,Build
        |
        field_list/schapp_set,Applications,app
        field_edit/user_app_template,Application template,app_templ,_top
        field_edit/doc,Doc,doc,_top2
        field_list/schstatic_set,Static files,static,_top
        field_list/schlocale_set,Locale(Locale),locale
        locale_gen,Generate locale files(Locale)
        manage,Manage
        delete
        run_{{object.name}},Run,run
        prj_export,Export(Distribute)
        installer,Make installer(Distribute)
        field_edit/readme_file,readme.txt(Distribute),readme_txt,_top
        field_edit/license_file,license.txt(Distribute),license_txt,_top
        field_edit/install_file,install.ini(Distribute),install_ini,_top
        field_edit/encoded_zip,encoded zip file(Distribute),encoded_zip,_top

        {% endrow_actions %}
{% endblock %}
{% block row_edit %}
        {% form %}
                'name', 'title', 'ext_apps', 'plugins', 'gui_type', 'gui_elements', 'is_hybrid', 'start_page', 'desktop_gui_type', 'tablet_gui_type', 'smartfon_gui_type'
        {% endform %}
        {% form_item custom_tags %}
                {{form.custom_tags|textfiel_row_col:"4x100"}}
        {% endform_item %}
        {% form_item user_param %}
                {{form.user_param|textfiel_row_col:"4x100"}}
        {% endform_item %}
{% endblock %}

