{# -*- coding: utf-8 -*- #}
{% extends "form.html" %}
{% load exfiltry %}
{% load exsyntax %}
{% block pythoncode %}
        {% if form_list %}
                <script language="python">
            def init_form(self):
                self.tabsort.grid.default_command = 'code'
            def signal_from_child(self, child, signal):
                if signal=='set_bitmap_list':
                    bitmaps = {
                        "code":"client://mimetypes/text-x-generic-template.png",
                        "doc":"client://apps/help-browser.png"
                    }
                    child.set_bitmaps(bitmaps)
</script>
        {% endif %}
{% endblock %}
{% block all %}
        {% with form_width=960 form_height=1200 show_title_bar=0 title="Tasks" vform=True %}
                {{ block.super }}
        {% endwith %}
{% endblock %}
{% block list_content_actions %}
        {% new_row "New task" %}
{% endblock %}
{% block list_row_header %}
        <th>Name</th>
{% endblock %}
{% block list_row %}
        <td>{{object.name}}</td>
{% endblock %}
{% block list_row_actions %}
        {{ block.super }}
        {% row_actions %}
                field_edit/code,Code,code,_top
                field_edit/doc,Doc,doc,_top
        {% endrow_actions %}
{% endblock %}
{% block row_edit %}
        {% form %}
                "parent", "name"
        {% endform %}
{% endblock %}

