{# -*- coding: utf-8 -*- #}
{% extends "form.html" %}
{% load exfiltry %}
{% load exsyntax %}
{% block pythoncode %}
        {% if form_list %}
                <script language="python">
            def init_form(self):
                self['tabsort'].grid.default_command = 'code'
            def signal_from_child(self, child, signal):
                if signal=='set_bitmap_list':
                    bitmaps = {
                        "code":"client://mimetypes/x-office-presentation.png",
                    }
                    child.set_bitmaps(bitmaps)
</script>
        {% endif %}
{% endblock %}
{% block all %}
        {% with form_width=960 form_height=1200 show_title_bar=0 title="Templates" %}
                {{ block.super }}
        {% endwith %}
{% endblock %}
{% block list_content_actions %}
        {% new_row "New template" %}
{% endblock %}
{% block list_row_header %}
        <th>Name</th>
{% endblock %}
{% block list_row %}
        <td>{{object.name}}</td>
{% endblock %}
{% block list_row_actions %}
        {% row_actions %}
                field_edit/template_code,Code,code,_top
                edit
                delete
        {% endrow_actions %}
{% endblock %}
{% block row_edit %}
        {% form %}
        {% endform %}
{% endblock %}

