{% extends 'page.html'|translate:lang %}
{% load exfiltry %}
{% load exsyntax %}
{% load django_bootstrap5 %}
{% if standard_web_browser %}
        {% block indexhead %}
                <table style="width: 100%;" border="1">
                        {% if user.is_authenticated %}
                                <tr><td> login </td><td> 0 </td></tr>
                          {% else %}
                                <tr><td> login </td><td> 1 </td></tr>
                        {% endif %}
                        <tr><td> autologin </td><td> 1 </td></tr>
                        <tr><td> csrf_token </td><td> {%csrf_token%} </td></tr>
                        <tr><td> gui_style </td><td> tree(None) </td></tr>
                        <tr><td> hybrid </td><td> 0 </td></tr>
                        <tr><td> title  </td><td> Pytigon portal </td></tr>
                        <tr><td> start_page </td><td> schwiki/portal/Start/view/ </td></tr>
                        <tr><td> plugins </td><td> None </td></tr>
                </table>
        {% endblock %}
  {% else %}
        {% block js_extrascipts %}
                {{block.super}}
                {% jscript_link 'system/require.js' %}
        {% endblock %}
        {% block extrastyle %}
                {{block.super}}
                {% css_link 'schportal/css/portal.css' %}
        {% endblock %}
        {% block body_footer_scripts %}
                {{block.super}}
                {% component '_schcomponents/components/ptig-codeeditor.js' %}
                {% component '_schcomponents/components/ptig-d3.js' %}
                {% component '_schcomponents/components/ptig-plotly.js' %}
                {% component '_schcomponents/components/ptig-time.js' %}
                {% component '_schcomponents/components/ptig-webrtc.js' %}
                {% component '_schwiki/components/insert_object.js' %}
                {% component 'schportal/components/teleconference.js' %}
                {% component 'schportal/components/timer_init.js' %}
        {% endblock %}
        {% block component_init %}
                        var initial_state = { username: "", theme: "", time_str: "" };
                        GLOBAL_BUS.set_state(initial_state);
                        var component_init = [ "ptig-codeeditor.js", "ptig-d3.js", "ptig-plotly.js", "ptig-time.js", "ptig-webrtc.js", "insert_object.js", "teleconference.js", "timer_init.js",  ];
        {% endblock %}
{% endif %}

