{% extends 'theme_base.html'|translate:lang %}
{% load exfiltry %}
{% load exsyntax %}
{% load static %}
{% load compress %}
{% block js_scripts_base %}
        {{ block.super }}
        {% jscript_link 'vanillajs_plugins/pouchdb/pouchdb-7.3.0.min.js' %}
        {% jscript_link 'vanillajs_plugins/graphql/graphql.min.js' %}
{% endblock %}
{% block botstrap_css %}
        {% css_link 'themes/bootswatch/materia/bootstrap.min.css' %}
{% endblock %}
{% block ext_css_links %}
        {% if standard_web_browser %}
                {% css_link 'themes/wiki.css' %}
                {% css_link 'vanillajs_plugins/pygments/manni.css' %}
        {% endif %}
        {{ block.super }}
{% endblock %}
{% block component_init %}
        var component_init = { graphql_pub: 'https://www.pytigon.eu/graphql_public/', graphql_prv: 'https://www.pytigon.eu/graphql/', }
{% endblock %}

