{% extends "forms/form.html" %}
{% load exfiltry %}
{% load exsyntax %}
{% block pythoncode %}
        <script language="python">
        def signal_from_child(self, child, signal):
            if signal=='set_bitmap_list':
                bitmaps = {
                }
                child.set_bitmaps(bitmaps)

        def filter_url(self, target, href):
            return href

</script>
{% endblock %}
{% block all %}
        {% with table_type='datatable' %}
                {{ block.super }}
        {% endwith %}
{% endblock %}
{% block scroll %}
{% endblock %}
{% block list_content_actions %}
        {% new_row "New group definition" %}
{% endblock %}
{% block list_row_header %}
        <th>Name</th>
        <th>Description</th>
        <th>
        Main group
        </th>
{% endblock %}
{% block list_row %}
        <td>{{object.name}}</td>
        <td>{{object.description}}</td>
        <td>
        {{object.main_group}}
        </td>
{% endblock %}
{% block list_row_actions %}
        {% row_actions %}
                edit
                field_edit/declaration,Declaration,declaration
                field_edit/template_src,Template src,template_src
                field_edit/template,Template,template
                field_edit/to_html_rec,To html row,to_html_rec
                field_edit/save_fun,Save function,save_fun
                field_edit/load_fun,Load function,load_fun
                field_edit/on_new_elem_event,On new element,on_new_elem_event
                field_edit/on_delete_fun,On delete element,on_delete_fun
                field_edit/allowed_new_fields,Allowed new fields,allowed_new_fields
                field_edit/to_str_fun,Convert to string function,to_str_fun
                field_edit/action_template,Action template,action_template
                field_edit/action_fun,Action function,action_fun
                field_edit/info_template,Info template,info_template
                delete
        {% endrow_actions %}
{% endblock %}
{% block row_edit %}
        {% form %}
                app,name,description,main_group
        {% endform %}
{% endblock %}

