{% extends 'page.html'|translate:lang %}
{% load exfiltry %}
{% load exsyntax %}
{% load django_bootstrap5 %}
{% if standard_web_browser %}
        {% block indexhead %}
                <table style="width: 100%;" border="1">
                        {% if user.is_authenticated %}
                                <tr><td> login </td><td> 0 </td></tr>
                          {% else %}
                                <tr><td> login </td><td> 1 </td></tr>
                        {% endif %}
                        <tr><td> autologin </td><td> 1 </td></tr>
                        <tr><td> csrf_token </td><td> {%csrf_token%} </td></tr>
                        <tr><td> gui_style </td><td> modern(toolbar(file(open,exit),clipboard)) </td></tr>
                        <tr><td> hybrid </td><td> 0 </td></tr>
                        <tr><td> title  </td><td> Developer tools </td></tr>
                        <tr><td> start_page </td><td> None </td></tr>
                        <tr><td> plugins </td><td> standard/keymap;standard/tablefilter;standard/image_viewer;standard/hexview;standard/shell;standard/html_print </td></tr>
                </table>
        {% endblock %}
  {% else %}
        {% block js_extrascipts %}
                {{block.super}}
                {% module_link 'schdevtools/js/test_javascript.js' %}
                {% module_link 'schdevtools/js/test_python.js' %}
                {% jscript_link 'system/require.js' %}
        {% endblock %}
        {% block extrastyle %}
                {{block.super}}
                {% css_link 'schdevtools/css/style.css' %}
                {% css_link 'schdevtools/css/test_icss.css' %}
        {% endblock %}
        {% block body_footer_scripts %}
                {{block.super}}
                {% component '_schcomponents/components/ptig-codeeditor.js' %}
                {% component '_schcomponents/components/ptig-d3.js' %}
                {% component '_schcomponents/components/ptig-leaflet.js' %}
                {% component '_schcomponents/components/ptig-pivottable.js' %}
                {% component '_schcomponents/components/ptig-plotly.js' %}
                {% component '_schcomponents/components/ptig-spreadsheet.js' %}
                {% component '_schcomponents/components/ptig-video.js' %}
                {% component '_schwiki/components/insert_object.js' %}
                {% component 'schdevtools/components/test.js' %}
        {% endblock %}
        {% block component_init %}
                        var initial_state = { username: "", theme: "" };
                        GLOBAL_BUS.set_state(initial_state);
                        var component_init = [ "ptig-codeeditor.js", "ptig-d3.js", "ptig-leaflet.js", "ptig-pivottable.js", "ptig-plotly.js", "ptig-spreadsheet.js", "ptig-video.js", "insert_object.js", "test.js",  ];
        {% endblock %}
{% endif %}

