__pycache__/
*.py[cod]
.ipynb_checkpoints/

pip-log.txt
pip-delete-this-directory.txt
launch.json
extensions.json
tmp.js

.cache
.idea/
*/.gradle/
*/prjlib/
migrations/

*.pkl
*.pid
*.log
*.whl
*.tar.gz
*.egg*
*.so
*.so.*
*.o
*zig-cache*
**/node_modules/**
*aube*
*.ipynb

# Project directories: ignore all, then selectively include
pytigon/prj/*
!pytigon/prj/_schall/
!pytigon/prj/_schbi/
!pytigon/prj/_schcomponents/
!pytigon/prj/_schdata/
!pytigon/prj/_schplaywright/
!pytigon/prj/_schremote/
!pytigon/prj/_schserverless/
!pytigon/prj/_schsetup/
!pytigon/prj/_schtest/
!pytigon/prj/_schtools/
!pytigon/prj/_schwiki/
!pytigon/prj/in_browser_demo/
!pytigon/prj/mobile_demo/
!pytigon/prj/schdevtools/
!pytigon/prj/scheditor/
!pytigon/prj/schemail/
!pytigon/prj/schmanage/
!pytigon/prj/schodf/
!pytigon/prj/schportal/
!pytigon/prj/schpytigondemo/
!pytigon/prj/schscripts/
!pytigon/prj/schwebtrapper/


pytigon/prj/*/prjlib/*

global_db_settings.py
settings_app_local.py

pytigon/static/CACHE/*
doc
site
pytigon_lib
pytigon_gui
pytigon_standard_prj
ext_lib_cli_lin/
ext_prg/
last_error.html
static_src/sch/__javascript__/
tools/pytigon.xml
.aider*
kilo.json
.pre-commit-config.yaml
.kilo/**
.*/

