Django
channels
django-crispy-forms
ldap3
django_python3_ldap
django_select2
whitenoise
transcrypt<3.6.4
fpdf
html5lib
lxml
markdown2
requests
wsgi_intercept
openpyxl
httpie
cffi
Pillow
fs<2.0
PyDispatcher
pypyodbc
daphne
polib

