{% extends "forms/form.html" %}
{% load exfiltry %}
{% load exsyntax %}
{% block all %}
        {% with table_type='datatable' %}
                {% block.super %}
        {% endwith %}
{% endblock %}
{% block scroll %}
{% endblock %}
{% block list_content_actions %}
        {% new_row "item" %}
{% endblock %}
{% block list_row_header %}
        <th>Type</th>
        <th>Label</th>
        <th>
        Value
        </th>
{% endblock %}
{% block list_row %}
        <td>{% object.type %}</td>
        <td>{% object.label %}</td>
        <td>
        {% object.value %}
        </td>
{% endblock %}
{% block list_row_actions %}
        {% row_actions %}
                edit
                delete
        {% endrow_actions %}
{% endblock %}
{% block row_edit %}
        {% form %}
                "type","label","value"
        {% endform %}
{% endblock %}

