{% load exfiltry %}
{% load exsyntax %}
{% if not standard_web_browser %}
        <input type="hidden" id="id_{{id}}" name="{{id}}" value="{{object|get_attr:id}}">
        </input>
{% endif %}
{% block all %}
        {% block js_standard %}
        {% endblock %}
        {% block widget_content %}
                {% if standard_web_browser %}
                        <input type="hidden" id="id_{{id}}" name="{{id}}" value="{{object|get_attr:id}}">
                        </input>
                {% endif %}
                <div id="{{id}}_div" class="action-ctrl" data-ctrl-id="{{id}}" data-ctrl-value="{{object|get_attr:id}}">
                        {{data}}
                </div>
        {% endblock %}
        {% block js %}
        {% endblock %}
        {% block js2 %}{% endblock %}
{% endblock %}

