{% extends "widgets/html_widgets/basewidget.html" %}
{% load exfiltry %}
{% load exsyntax %}
{% block widget_content %}
        {% if standard_web_browser %}
                <div class="btn-group">
                        <button type="button" class="btn">{{title}}</button>
                        <button type="button" class="btn" data-bs-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                                {{data}}
                        </ul>
                </div>
          {% else %}
                {% if style == 'toolbar' %}
                        <CTRL-MENUTOOLBARBUTTON label="{{title}}" src="client://actions/go-jump.png">
                                {{data}}
                        </CTRL-MENUTOOLBARBUTTON>
                  {% else %}
                        <CTRL-MENUBUTTON label="{{title}}" src="client://actions/go-jump.png">
                                {{data}}
                        </CTRL-MENUBUTTON>
                {% endif %}
        {% endif %}
{% endblock %}

