{% load exfiltry %}
{% load exsyntax %}
{% block all %}
        {% block js_standard %}
        {% endblock %}
        {% block widget_content %}
                {% if standard_browser %}
                        <iframe src="/static/pdfjs/web/viewer.html?file={{file}}" width="{{width}}" height="{{height}}"></iframe>
                  {% else %}
                        <iframe src="{{file}}" width="{{width}}" height="{{height}}"></iframe>
                {% endif %}
        {% endblock %}
        {% block js %}
                {% link "pdfjs/web/locale/locale.properties" "resource" "application/l10n" %}
                {% jscript_link "pdfjs/web/l10n.js" %}
                {% jscript_link "pdfjs/build/pdf.js" %}
                {% jscript_link "pdfjs/web/debugger.js" %}
                {% jscript_link "pdfjs/web/viewer.js" %}
        {% endblock %}
        {% block js2 %}{% endblock %}
{% endblock %}

