vanillajs_plugins/css_fab: https://codepen.io/Drkn/pen/grjJQv
vanillajs_plugins/d3: https://github.com/d3/d3
vanillajs_plugins/dygraph: http://dygraphs.com/
vanillajs_plugins/leaflet: https://leafletjs.com/
vanillajs_plugins/moment.js: https://github.com/moment/moment/
vanillajs_plugins/pdfjs: https://mozilla.github.io/pdf.js/
vanillajs_plugins/pygments: http://pygments.org/
vanillajs_plugins/sprintf: https://github.com/maritz/sprintf.js
vanillajs_plugins/tether: http://tether.io/
vanillajs_plugins/video-js: https://github.com/videojs/video.js
vanillajs_plugins/vs: https://microsoft.github.io/monaco-editor/
vanillajs_plugins/xterm: https://github.com/xtermjs/xterm.js
vanillajs_plugins/plotly: https://plot.ly/javascript/
vanillajs_plugins/popper: https://popper.js.org/
vanillajs_plugins/cookie: https://github.com/js-cookie/js-cookie
vanillajs_plugins/lz-string: https://github.com/pieroxy/lz-string
vanillajs_plugins/input-masking: https://github.com/estelle/input-masking
vanillajs_plugins/icheck-material-1.0.1: https://github.com/bantikyan/icheck-material

vanillajs_plugins/nunjucks: https://mozilla.github.io/nunjucks/api.html
vanillajs_plugins/graphql: https://github.com/f/graphql.js
vanillajs_plugins/pouchdb: https://pouchdb.com
vanillajs_plugins/htmx: https://htmx.org


jquery: https://github.com/jquery/jquery

jquery_plugins/daterangepicker: https://github.com/dangrossman/daterangepicker
jquery_plugins/perfect-scrollbar: https://github.com/mdbootstrap/perfect-scrollbar
jquery_plugins/pivottable: https://github.com/nicolaskruchten/pivottable
jquery_plugins/select2: https://github.com/select2/select2
jquery_plugins/handsontable: https://github.com/Splawik/handsontable
jquery_plugins/form: https://github.com/jquery-form/form
jquery_plugins/draggable: https://css-tricks.com/snippets/jquery/draggable-without-jquery-ui/
jquery_plugins/csrf: https://docs.djangoproject.com/en/dev/ref/csrf/
jquery_plugins/unique-element-id: https://github.com/jamierumbelow/jquery.unique-element-id
jquery_plugins/sidebar-menu: https://github.com/huang-x-h/sidebar-menu
jquery_plugins/jquery-treegrid http://maxazan.github.io/jquery-treegrid/
jquery_plugins/fullcalendar: https://github.com/fullcalendar/fullcalendar
jquery_plugins/jquery-resizable-columns: https://github.com/dobtco/jquery-resizable-columns

bootstrap: https://getbootstrap.com/

bootstrap_plugins/bootstrap-hover-dropdown: https://github.com/MatchbookLab/bootstrap-hover-dropdown
bootstrap_plugins/bootstrap-select: https://github.com/snapappointments/bootstrap-select/
bootstrap_plugins/bootstrap-slider: https://www.eyecon.ro/bootstrap-slider/
bootstrap_plugins/bootstrap-table: https://github.com/wenzhixin/bootstrap-table/
bootstrap_plugins/bootstrap-tree: https://github.com/jhfrench/bootstrap-tree
bootstrap_plugins/summernote: https://github.com/summernote/summernote
bootstrap_plugins/twbs-pagination: https://github.com/josecebe/twbs-pagination
bootstrap_plugins/typeahead: https://github.com/biggora/bootstrap-ajax-typeahead
bootstrap_plugins/ladda-bootstrap: https://github.com/msurguy/ladda-bootstrap/tree/master/dist

django_select2: https://github.com/applegrew/django-select2
filer: https://github.com/divio/django-filer

