{% extends "forms/form.html" %}
{% load exfiltry %}
{% load exsyntax %}
{% block all %}
        {% with table_type='datatable' %}
                {{ block.super }}
        {% endwith %}
{% endblock %}
{% block scroll %}
{% endblock %}
{% block list_content_actions %}
        {% new_row "New user" %}
{% endblock %}
{% block list_row_header %}
        <th>User name</th>
        <th>
        Email
        </th>
{% endblock %}
{% block id_extra %}
        {% row_related_list "schattachements/Attachement" title="Attachements" icon_name="fa fa-lg fa-paperclip" tag_class="+class='btn-info'" version="tables_demo__" %}
        {{ block.super }}
{% endblock %}
{% block list_row %}
        <td>{{ object.username }}</td>
        <td>
        {{ object.email }}
        </td>
{% endblock %}
{% block list_row_actions %}
        {% row_actions %}
                ?:edit
                tables_demo.delete_example1user?:delete
        {% endrow_actions %}
{% endblock %}
{% block row_edit %}
        {% form %}
                "username","email"
        {% endform %}
{% endblock %}

