{% extends "forms/form.html" %}
{% load exfiltry %}
{% load exsyntax %}
{% block all %}
        {% with table_type='datatable' table_subtype='table_with_details' table_details_height="33vh" %}
                {{ block.super }}
        {% endwith %}
{% endblock %}
{% block scroll %}
{% endblock %}
{% block list_content_actions %}
        {% new_row "New computer" %}
{% endblock %}
{% block id_extra %}
        {% row_actions %}
                field_list/example2peripheral_set,Peripherals
        {% endrow_actions %}
{% endblock %}
{% block list_row_header %}
        <th>Serial number</th>
        <th>Description</th>
        <th>IP</th>
        <th>
        Active
        </th>
{% endblock %}
{% block list_row %}
        <td>{{ object.sn }}</td>
        <td>{{ object.description }}</td>
        <td>{{ object.ip }}</td>
        <td>
        {{ object.active }}
        </td>
{% endblock %}
{% block list_row_actions %}
        {% row_actions %}
                edit
                delete
        {% endrow_actions %}
        {% row_related_list "tables_demo/Example3Tag" title="Tags" filter="tables__computer__{id}" icon_name="png://emblems/emblem-symbolic-link.png" %}
{% endblock %}
{% block list_page_footer %}
        {% row_details %}
                *Tags:tables_demo/table/Example1Computer/[[table_row_pk]]/example2peripheral_set/-/form/sublist/?x1=example2peripheral_set
        {% endrow_details %}
{% endblock %}
{% block row_edit %}
        {% form %}
                sn,description,ip,active
        {% endform %}
{% endblock %}

