{# -*- coding: utf-8 -*- #}
{% extends "form.html" %}
{% load exfiltry %}
{% load exsyntax %}
{% block pythoncode %}
        {% if form_edit %}
                <script language="python">
            def init_form(self):
                self.content_src.SetSavePoint()
                self.content_src.Bind(wx.EVT_SET_FOCUS, self.on_set_focus)
                self.content_src.Bind(wx.EVT_KILL_FOCUS, self.on_kill_focus)
                self.content_src.Bind(wx.EVT_LEFT_UP, self.on_left_up)
                self.Bind(wx.EVT_SIZE, self.on_size)
                self.lbutton_active = False
                self.sel = None
                self.scrollIntoView = False
                self.content_src.SetSelection(0,0)
                self.ed_focus = False
            def scroll(self):
                    self.Scroll(0,1000)
                    if self.sel:
                        wx.CallAfter(self.content_src.SetSelection,self.sel[0], self.sel[1])
            def on_left_up(self, event):
                if self.lbutton_active:
                    self.lbutton_active=False
                    self.scroll()
                event.Skip()
            def on_kill_focus(self, event):
                self.ed_focus = False
                event.Skip()
            def on_set_focus(self, event):
                self.ed_focus = True
                mstate = wx.GetMouseState()
                if mstate.LeftIsDown():
                    self.lbutton_active = True
                    self.sel = self.content_src.GetSelection()
                else:
                    self.Scroll(0,1000)
                event.Skip()
            def on_size(self, event):
                if self.ed_focus:
                    wx.CallAfter(self.scroll)
                return self.base_on_size(event)
            def can_close(self):
                q = True
                if self.content_src.GetModify():
                    dlg = wx.MessageDialog(self, 'Content has been changed, cancel?',
                                                 'Warning!',
                                                  wx.ICON_INFORMATION | wx.YES_NO | wx.CANCEL | wx.NO_DEFAULT
                                        )
                    ret = dlg.ShowModal()
                    if ret != wx.ID_YES:
                        q = False
                    #dlg.Destroy()
                return q
</script>
        {% endif %}
{% endblock %}
{% block vscroll %}{% endblock %}
{% block extrastyle %}
        <style type="text/css">
    #id_content_src{
        width: 100%;
        height: 350px
    }

</style>
{% endblock %}
{% block all %}
        {% with form_width=720 form_height=480 show_title_bar=0 title="Wiki pages" vform=True %}
                {{ block.super }}
        {% endwith %}
{% endblock %}
{% block list_content_actions %}
        {% new_row "New wiki page" %}
{% endblock %}
{% block list_row_header %}
        <th>Name</th>
        <th>Subject</th>
        <th>Description</th>
        <th>Page type</th>
{% endblock %}
{% block list_row %}
        <td>{{object.name}}</td>
        <td>{{object.subject}}</td>
        <td>{{object.description}}</td>
        <td>{{object.page_type}}</td>
{% endblock %}
{% block list_row_actions %}
        {% row_actions %}
                edit
                delete
        {% endrow_actions %}
{% endblock %}
{% block table_header_edit %}
    <h2>Wiki pages</h2>
{% endblock %}
{% block row_edit %}
        {% if standard_web_browser %}
                <div role="tabpanel">
                        <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                        <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a>
                                </li>
                                <li role="presentation">
                                        <a href="#data" aria-controls="profile" role="tab" data-toggle="tab">Data</a>
                                </li>
                        </ul>
                        <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="settings">
                                        {% form %}
                                                'name', 'page_type', 'subject', 'description', 'base_template', 'rights_group', 'menu'
                                        {% endform %}
                                </div>
                                <div role="tabpanel" class="tab-pane" id="data">
                                        <div class="vert_form_panel">
                                                {% vert_form %}
                                                        'content_src'
                                                {% endvert_form %}
                                                <txtarea_editor rel_id="id_content_src"></txtarea_editor>
                                        </div>
                                </div>
                        </div>
                </div>
          {% else %}
                {% form %}
                        'name', 'page_type', 'subject', 'description', 'base_template', 'rights_group', 'menu'
                {% endform %}
                <tr>
                        <td cellpadding="0" colspan="2">
                                <CTRLSTYLEDTEXT name="content_src" width="100%" height="99.7%-18" src="{{ext}}">
                                        <data>
                                                {{object.content_src|bencode}}
                                        </data>
                                </CTRLSTYLEDTEXT>
                        </td>
                </tr>
        {% endif %}
{% endblock %}

