{% extends "forms/form.html" %}
{% load exfiltry %}
{% load exsyntax %}
{% block all %}
        {% with table_type='datatable' %}
                {{ block.super }}
        {% endwith %}
{% endblock %}
{% block scroll %}
{% endblock %}
{% block list_row_header %}
        <th>Date from</th>
        <th>
        Date to
        </th>
{% endblock %}
{% block list_row %}
        <td>{{ object.date_from }}</td>
        <td>
        {{ object.date_to }}
        </td>
{% endblock %}
{% block row_edit %}
        {% form %}
                date_from,date_to
        {% endform %}
{% endblock %}

