{% extends "schelements/dochead.html" %}
{% load exfiltry %}
{% load exsyntax %}
{% block list_page %}
        {% with "elements_demo.models:DemoDocHead"|import_var as DemoDocHead %}
                <ptig-event-calendar toolbar-buttons="resourceTimeGridDay,resourceTimeGridWeek,listWeek" resources="1:all;" href="{{base_path}}elements_demo/table/DemoDocHead/-/form/table_action/" href-edit="{{base_path}}schelements/table/DocHead/{id}/edit/?version=elements_demo__calendar&only_content=1" href-new="{{base_path}}schelements/table/DocHead/demo_doc/add/?date_from={start}&date_to={end}" width="100%" height="100%">
                </ptig-event-calendar>
        {% endwith %}
{% endblock %}
{% block row_edit %}
{% endblock %}
{% block docitem_list %}
        {% frame table_path|append_str:object.id|append_str:"/docitem_set/-/calendar/sublist/?version=elements_demo__calendar&only_content=1" "500px" %}
{% endblock %}

