<def build(**argv):>
        <import os></import>
        <import subprocess></import>
        <from django.conf import settings></from>
        <import pytigon></import>
        <from pytigon_lib.schtools.nim_integration import install_if_not_exists>
        </from>
        <path = argv["path"]></path>
        <base_name = os.path.split(path)[1].rsplit(".", 1)[0]></base_name>
        <nim_path = install_if_not_exists(settings.DATA_PATH)>
        </nim_path>
        <if os.name ="= "nt":">
                <os.environ["PATH"] = os.environ["PATH"] + (";%s\\bin\\" % nim_path)></os.environ["PATH"]>
                <exe = "nim.exe"></exe>
                <out_path = os.path.join(>
                        <settings.DATA_PATH,></settings.DATA_PATH,>
                        <settings.PRJ_NAME,></settings.PRJ_NAME,>
                        "prjlib",
                        <base_name + ".pyd",></base_name>
                </out_path>
                )
        </if>
        <else:>
                <os.environ["PATH"] = os.environ["PATH"] + (":%s/bin/" % nim_path)></os.environ["PATH"]>
                <exe = "nim"></exe>
                <out_path = os.path.join(>
                        <settings.DATA_PATH,></settings.DATA_PATH,>
                        <settings.PRJ_NAME,></settings.PRJ_NAME,>
                        "prjlib",
                        <base_name + ".so",></base_name>
                </out_path>
                )
        </else:>
        <packages = "nimpy;{PARAM}"></packages>
        <if packages:>
                <packages_list = packages.replace(",",";").split(";")></packages_list>
                <for package in packages_list:>
                        <if package:>
                                <subprocess.run(>
                                        [
                                                <os.path.join(nim_path, "bin", exe.replace("nim", "nimble")),></os.path.join(nim_path,>
                                                "install",
                                                <package></package>
                                        ]
                                </subprocess.run(>
                                )
                        </if>
                </for>
        </if>
        <options = [>
                <os.path.join(nim_path, "bin", exe),></os.path.join(nim_path,>
                "c",
                "--path:" + pytigon.__file__.replace("__init__.py", "ext_lib"),
                "--out:" + out_path,
                "--cc:clang",
                "--clang.exe=zigcc",
                "--clang.linkerexe=zigcc",
                "-d:release",
                "--app:lib",
                "--threads:on",
                "--gc:orc",
                "--opt:size",
        </options>
        ]
        <if os.name ="= "nt":">
                <options.append("--tlsEmulation:off")></options.append("--tlsEmulation:off")>
                <options.append("--passL:-static")>
                </options.append("--passL:-static")>
        </if>
        <options.append(path)></options.append(path)>
        <subprocess.run(options)>
        </subprocess.run(options)>
        <return True>
        </return>
</def>
<if __name__ ="= "__main__":">
        <build(path=__file__.replace("_build.py", ".nim"))></build(path=__file__.replace("_build.py",>
</if>

