{% extends 'base0.html' %}
{% load exfiltry %}
{% load exsyntax %}
{% load django_bootstrap5 %}
{% load socialaccount %}
{% block login %}
        {% if not user.is_authenticated or FORCE_LOGIN_WIN %}
                {% if settings.SHOW_LOGIN_WIN or SHOW_LOGIN_WIN %}
                        <div class="login_background"></div>
                        <div class="container login-container">
                                <div class="row align-items-center">
                                        <div class="col"></div>
                                        <div class="col-lg-6 col-xl-5">
                                                <div class="card card-inverse login-card">
                                                        {% block login_card %}
                                                                <div class="card-header">
                                                                        {{prj_title|upper}}
                                                                </div>
                                                                <div class="card-block">
                                                                        <br />
                                                                        <p id="login_txt1">Sign in:</p>
                                                                        <p id="login_txt2" class="d-none">Wrong login or password, try again:</p>
                                                                        <form class="login-form" fragment="all" action="{{base_path}}schsys/do_login/?next={% if "schsys/login" in request.path %}/{% else %}{{request.get_full_path|bencode}}{% endif %}&no_scripts=1" method="post" name="signin" target="_top">
                                                                                <div class="form-group mb-3">
                                                                                        <label class="control-label" for="username_ ">User name</label>
                                                                                        <div class="input-group mb-3">
                                                                                                <div class="input-group-addon fa fa-user"></div>
                                                                                                <input class="form-control" type="text" size="25" maxlength="30" id="username_" name="username" value="" autocomplete="username" />
                                                                                        </div>
                                                                                </div>
                                                                                <div class="form-group mb-5">
                                                                                        <label class="control-label" for="password_">Password</label>
                                                                                        <div class="input-group">
                                                                                                <div class="input-group-addon fa fa-key"></div>
                                                                                                <input class="form-control" type="password" size="25" maxlength="30" id="password_" name="password" value="" autocomplete="current-password"" />
                                                                                        </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                        <div class="col"></div>
                                                                                        <div class="col div_content_center">
                                                                                                <button type="submit" class="btn btn-primary btn-lg ">OK</button>
                                                                                        </div>
                                                                                        <div class="col"></div>
                                                                                </div>
                                                                        </form>
                                                                </div>
                                                                {% if app_manager.login_providers %}
                                                                        <div class="card-block">
                                                                                <br />
                                                                                or sign in with:
                                                                                <br />
                                                                                {% for pos in app_manager.login_providers %}
                                                                                        <a href="{% provider_login_url pos.0 %}" class="btn btn-secondary my-1">
                                                                                                {{pos.1}}
                                                                                        </a>
                                                                                {% endfor %}
                                                                        </div>
                                                                {% endif %}
                                                                {% if settings.ACCOUNT_EMAIL_REQUIRED %}
                                                                        <div class="card-block">
                                                                                <br />
                                                                                <a href="{{base_path}}accounts/password/reset/">
                                                                                        I forgot my password
                                                                                </a>
                                                                                |
                                                                                <a href="{{base_path}}accounts/signup/">
                                                                                        Register
                                                                                </a>
                                                                        </div>
                                                                {% endif %}
                                                        {% endblock %}
                                                </div>
                                        </div>
                                        <div class="col">
                                        </div>
                                </div>
                        </div>
                {% endif %}
        {% endif %}
{% endblock %}
{% block change_password %}
        {% if standard_web_browser and settings.SHOW_LOGIN_WIN or SHOW_LOGIN_WIN %}
                <div class="modal fade" id="change_passwd" role="dialog">
                        <div class="modal-dialog">
                                <div class="modal-content">
                                        <div class="modal-header">
                                                <h3>Change Password</h3>
                                        </div>
                                        <form class="form-floating" role="form" action="{{base_path}}schsys/change_password/" method="post" name="change_password">
                                                <div class="modal-body">
                                                        {% csrf_token %}
                                                        <p class="text-xl-center">
                                                                <i class="fa fa-lock fa-5x">
                                                                </i>
                                                        </p>
                                                        <div class="form-floating mb-3">
                                                                        <input class="form-control" id="current_password" type="password" autocomplete="current-password" placeholder="x" />
                                                                        <label class="form-label" for="current_password">Current Password</label>
                                                        </div>
                                                        <div class="form-floating mb-3">
                                                                        <input class="form-control" id="new_password" type="password" autocomplete="new-password" placeholder="x" />
                                                                        <label class="form-label" for="new_password">New Password</label>
                                                        </div>
                                                        <div class="form-floating mb-3">
                                                                        <input class="form-control" id="confirm_password" type="password" autocomplete="new-password" placeholder="x" />
                                                                        <label class="form-label" for="confirm_password">Confirm Password</label>
                                                        </div>
                                                </div>
                                                <div class="modal-footer">
                                                        <button href="#" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                        <button type="submit" class="btn btn-primary">
                                                        OK
                                                        </button>
                                                </div>
                                        </form>
                                </div>
                        </div>
                </div>
        {% endif %}
{% endblock %}
{% block messages %}
        {% if messages %}
                <div class="alert alert-danger" role="alert">
                        <a href="#" class="close" data-bs-dismiss="alert"> &times;</a>
                        {% for message in messages %}
                                {% if message|slice:"-1:" == '!' %}
                                                <ul class="errorlist">
                                                        <li>{{message}}</li>
                                                </ul>
                                        {% else %}
                                                <ul class="messagelist">
                                                        <li>
                                                        {{message}}
                                                        </li>
                                                </ul>
                                {% endif %}
                        {% endfor %}
                </div>
        {% endif %}
{% endblock %}
{% block body %}
        {% block body_body_start %}
                <section class="body-body d-flex flex-column">
        {% endblock %}
        {% if not form_ext and show_form %}
                {% block dialog_start %}
                        <div class="ajax-region ajax-frame" data-region="page-content">
                {% endblock %}
                {% if form_delete or form_info %}
                        {% if standard_web_browser %}
                                <div id="Dialog">
                        {% endif %}
                        {% if form_info %}
                                {% block form_info %}
                                        <div class="form_info">
                                                <table name="tabsort" class="listctrl table table-bordered" width="100%">
                                                        <tr>
                                                                <th>Field</th>
                                                                <th>Value</th>
                                                        </tr>
                                                        {% for field in object|get_model_fields %}
                                                                <tr>
                                                                        <td>{{ field.verbose_name }}</td>
                                                                        <td>{{ object|get_attr:field.name }}</td>
                                                                </tr>
                                                        {% endfor %}
                                                        {% if object|hasattr:"copy_to_clipboard" %}
                                                                <tr>
                                                                        <td colspan="2:">
                                                                                <textarea class="copy_to_clipboard" style="position:absolute;left:-1000px;">
                                                                                {{object.copy_to_clipboard|json_dumps}}
                                                                                </textarea>
                                                                        </td>
                                                                </tr>
                                                        {% endif %}
                                                </table>
                                        </div>
                                        {% block form_ok_cancel_info %}{% endblock %}
                                {% endblock %}
                                {% if standard_web_browser %}
                                        {% if title %}
                                                {% if settings.DEBUG %}
                                                        <set-field element="#ModalLabelInfo" title="{{title}}:[xxx{{object_list.model|class_name}}]"></set-field>
                                                  {% else %}
                                                        <set-field element="#ModalLabelInfo" title="{{title}}"></set-field>
                                                {% endif %}
                                        {% endif %}
                                {% endif %}
                          {% else %}
                                {% block form_delete %}
                                        <form method="post" action="{% block form_delete_action %}{{request.path}}{% endblock %}" class="ajax-link" id="DialogFormDelete" name="DialogFormDelete" data-region="page-content">
                                                {% csrf_token %}
                                                {% block form_delete_content %}
                                                        <h4>Delete the item?</h4>
                                                        <div class="form_delete">
                                                                {% block form_delete_object %}
                                                                        <table class="table table-stripe ui-responsive" data-role="table">
                                                                                <thead>
                                                                                        <tr>
                                                                                                <th>Field</th>
                                                                                                <th>Value</th>
                                                                                        </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                        {% for field in object|get_model_fields %}
                                                                                                <tr>
                                                                                                        <td>{{ field.verbose_name }}:</td>
                                                                                                        <td>{{ object|get_attr:field.name|truncatechars:1024 }}</td>
                                                                                                </tr>
                                                                                        {% endfor %}
                                                                                </tbody>
                                                                        </table>
                                                                {% endblock %}
                                                                <br />
                                                        </div>
                                                {% endblock %}
                                                {% block form_ok_cancel_del %}
                                                {% endblock %}
                                        </form>
                                {% endblock %}
                                {% if standard_web_browser %}
                                        <set-field element="#ModalLabelDelete" title="{{title}}">
                                        </set-field>
                                {% endif %}
                        {% endif %}
                        {% if standard_web_browser %}
                                </div>
                        {% endif %}
                  {% else %}
                        {% block row_edit_start %}
                                {% if standard_web_browser == 1 or standard_web_browser == 2 or "page" in fragment %}
                                        <div class="move-element {% block dialog_type %}modal-lg v-autosize{% endblock %}" data-position="^.plug/.modal-dialog:class"></div>
                                {% endif %}
                        {% endblock %}
                        {% block row_edit_header %}
                                {% if form %}
                                        <meta name="RETURN" content="$$RETURN_RELOAD" />
                                        {{ form.errors }}
                                {% endif %}
                        {% endblock %}
                        {% block row_edit_all %}
                                <form method="post" action="{% block form_action%}{{request.path}}{% endblock %}" name="DialogForm" class="ajax-link DialogForm {% block form_class %}{% if not vform %}form-horizontal{% endif %}{% endblock %}" role="form" enctype="{% block enctype %}{{form|preferred_enctype}}{% endblock %}" data-region="{% block dialog_form_region %}page-content{% endblock %}">
                                        {% csrf_token %}
                                        {% block row_edit_form %}
                                                <table width="100%" style="table-layout:fixed;">
                                                        {% if form %}
                                                                {% if field %}
                                                                        <tr>
                                                                                <td>
                                                                                        {{form|get_value:field|field_as_widget:"width:100%,height:calc(99.9% - 20)" }}
                                                                                </td>
                                                                        </tr>
                                                                  {% else %}
                                                                        {% block row_edit %}
                                                                                {{form.as_table}}
                                                                        {% endblock %}
                                                                {% endif %}
                                                        {% endif %}
                                                </table>
                                        {% endblock %}
                                </form>
                                {% block row_edit_footer %}{% endblock %}
                                {% block form_ok_cancel %}
                                {% endblock %}
                        {% endblock %}
                        {% block row_edit_end %}
                        {% endblock %}
                        {% if standard_web_browser %}
                                {% if title %}
                                        <set-field element="#ModalLabel" title="{{title}}">
                                        </set-field>
                                {% endif %}
                        {% endif %}
                {% endif %}
                {% block dialog_end %}
                        </div>
                {% endblock %}
          {% else %}
                {% if form_grid %}
                  {% else %}
                        {{ block.super }}
                {% endif %}
        {% endif %}
        {% block body_body_end %}
                </section>
        {% endblock %}
{% endblock %}
{% block content %}
        {% if standard_web_browser and "table" not in fragment and "page" not in fragment %}
                <div class="page-content content">
        {% endif %}
        {% block list_page_start %}
                {% if table_type == 'NIGDY' %}
                        <div class="ajax-region ajax-frame table-and-details d-flex flex-column" data-region="page">
                  {% else %}
                        <div class="table-and-details d-flex flex-column">
                {% endif %}
        {% endblock %}
        {% block list_page_header %}
                {% if standard_web_browser == 1 or standard_web_browser == 2 or "page" in fragment %}
                        <div class="ajax-region ajax-frame table-without-details d-flex flex-grow-1 flex-column" data-region="page-content">
                                <div class="move-element {% block sublist_type %}sublist-xl{% endblock %}" data-position=".modal-dialog:class"></div>
                {% endif %}
        {% endblock %}
        {% block list_page %}
                {% block list_content_start %}{% endblock %}
                {% block list_content_header %}
                        <div class="pseudotable container-fluid col-12">
                                {% block list_content_header_first_row %}
                                        {% if not get %}
                                                <div class="tr row list_content_header list_content_header_first_row">
                                                        <div class="td col-sm-12 hidden-sm-down text-center">
                                                                {% block list_content_title %}
                                                                        <h4 style="white-space:nowrap;" class="txt3d wiki-title">
                                                                                {{title|wiki_href|safe}}
                                                                                {% if settings.DEBUG %}
                                                                                        <a data-bs-toggle="collapse" href="#collapse_{{uuid}}" role="button">>></a>
                                                                                {% endif %}
                                                                        </h4>
                                                                        {% if settings.DEBUG %}
                                                                                <div class="collapse" id="collapse_{{uuid}}">
                                                                                        model: {{object_list.model|get_model_app}}/{{object_list.model|class_name}}, template: {{template}}
                                                                                </div>
                                                                        {% endif %}
                                                                {% endblock %}
                                                        </div>
                                                </div>
                                        {% endif %}
                                {% endblock %}
                                {% block list_content_header_second_row %}
                                        {% if form %}
                                                <div class="tr row list_content_header list_content_header_second_row">
                                                        <div class="td col-md-12 col-sm-12" colspan="3">
                                                                {% block list_filter_form %}
                                                                        <form method="post" action="{{request.path}}{%if is_paginated%}?page={{page_obj.number}}{% endif %}" role="form" class="table_filter ajax-link form-inline" enctype="{% block filter_form_enctype %}application/x-www-form-urlencoded{% endblock %}" target="{% if form.errors or errors or vtype == 'tree' %}refresh_page{% else %}refresh_frame{% endif %}" data-region="page-content">
                                                                                {% csrf_token %}
                                                                                {% block form_filter %}
                                                                                        {% if form %}
                                                                                                {% block form_content %}
                                                                                                        {{ form.non_field_errors }}
                                                                                                        {% block form_table_filter %}
                                                                                                                {% with server_side_validation=False %}
                                                                                                                        {% inline_form %}
                                                                                                                        {% endinline_form %}
                                                                                                                {% endwith %}
                                                                                                        {% endblock %}
                                                                                                        {% block form_content_button %}
                                                                                                                {% if table_type != 'datatable' %}
                                                                                                                        <button type="submit" value="Refresh" class="btn btn-fab btn-raised btn-info ladda-button refresh-button" data-style="slide-left" title="Refresh" target="{% if form.errors or errors or always_refresh_whole_page %}refresh_page{% else %}refresh_frame{% endif %}" data-region="page-content" data-link="^form" href="?page=1">
                                                                                                                                {% icon "fa-refresh fa-lg" %}
                                                                                                                        </button>
                                                                                                                {% endif %}
                                                                                                        {% endblock %}
                                                                                                {% endblock %}
                                                                                        {% endif %}
                                                                                {% endblock %}
                                                                        </form>
                                                                        {% if table_type == 'datatable' %}
                                                                                <button value="Refresh" class="btn btn-fab btn-raised btn-info ladda-button refresh-button" data-style="slide-left" title="Refresh" onclick="datatable_refresh(this);" data-region="{% if form.errors or errors or always_refresh_whole_page%}page-content{% else %}table-content{% endif %}">
                                                                                        {% icon "fa-refresh fa-lg" %}
                                                                                </button>
                                                                        {% endif %}
                                                                {% endblock %}
                                                        </div>
                                                </div>
                                          {% else %}
                                                <form method="post" action="{{request.path}}" role="form" class="ajax-link table_filter form-inline" target="refresh_frame" data-region="page-content">
                                                        {% csrf_token %}
                                                </form>
                                        {% endif %}
                                {% endblock %}
                                {% block list_content_header_third_row %}
                                        <div class="tr row list_content_header list_content_header_third_row">
                                                <div class="{% if table_type == 'datatable'%}tabsort_header{% else %}table_panel td {% if is_paginated %}col-sm-8 col-xs-5{% endif %}{% endif %}" role="form" id="{{uuid}}_toolbar">
                                                        <div class="dropdown">
                                                                {% if standard_web_browser and object_list %}
                                                                        {% if table_type == 'datatable' and not get %}
                                                                                <div class="dropdown">
                                                                                        <button type="button" class="btn btn-light shadow-none {{btn_size}} dropdown-toggle" data-bs-toggle="dropdown" data-bs-toggle="dropdown">
                                                                                                {% icon "fa-bars fa-lg" %}
                                                                                        </button>
                                                                                        <div class="dropdown-menu">
                                                                                                <a href="../../odf/list/" class="dropdown-item" target="_blank">=> ods</a>
                                                                                                <a href="../../pdf/list/" class="dropdown-item" target="_blank">=> pdf</a>
                                                                                                <a href="{{base_path}}schtools/{{app_name}}/{{table_name}}/import_table/" class="dropdown-item" target="popup_edit" title="Import data to table"><= ods,xlsx,txt,csv</a>
                                                                                        </div>
                                                                                </div>
                                                                        {% endif %}
                                                                {% endif %}
                                                        </div>
                                                        {% block list_content_actions %}{% endblock %}
                                                </div>
                                                {% if is_paginated and table_type != 'datatable' %}
                                                        <div class="td col-sm-4 col-xs-7 text-right" align="right">
                                                        </div>
                                                {% endif %}
                                        </div>
                                {% endblock %}
                        </div>
                        {% block list_content_header_fourth_row %}
                                {% if standard_web_browser %}
                                        {% if table_type == 'datatable' and not get %}
                                                <button type="button" class="btn btn-secondary btn-circle tabsort-toolbar-expand {% if 'smartfon' in client_type %}active tabsort-toolbar-expand2{% endif %}" data-bs-toggle="button">
                                                        {% icon "fa-times fa-lg" %}
                                                </button>
                                        {% endif %}
                                {% endif %}
                        {% endblock %}
                {% endblock %}
                {% if standard_web_browser %}
                        <div class="new_row">
                        </div>
                {% endif %}
                {% block list_content_body %}
                        {% block list_content_paginator %}
                                {% if standard_web_browser and table_type != 'datatable' %}
                                        {% if is_paginated %}
                                                <div class="col-12">
                                                        <ul class="pagination simple_pagination">
                                                                {% if page_obj.has_previous %}
                                                                        <li class="page-item">
                                                                                <a class="page-link" target="refresh_frame" data-region="table-content" href="?page={{ page_obj.previous_page_number }}&fragment=page-content" data-link="^div.table-without-details/form.table_filter"> &laquo;</a>
                                                                        </li>
                                                                  {% else %}
                                                                        <li class="disabled page-item">
                                                                                <a class="page-link">
                                                                                        <span>
                                                                                         &laquo;
                                                                                        </span>
                                                                                </a>
                                                                        </li>
                                                                {% endif %}
                                                                {% for i in paginator.page_range %}
                                                                        {% if page_obj.number == i %}
                                                                                <li class="active page-item">
                                                                                        <a class="page-link">
                                                                                                <span>
                                                                                                {{ i }}
                                                                                                        <span class="sr-only">
                                                                                                                (current)
                                                                                                        </span>
                                                                                                </span>
                                                                                        </a>
                                                                                </li>
                                                                          {% else %}
                                                                                <li class="page-item">
                                                                                        <a class="page-link" target="refresh_frame" data-region="table-content" href="?page={{ i }}&fragment=page-content" data-link="^div.table-without-details/form.table_filter">
                                                                                                {{ i }}
                                                                                        </a>
                                                                                </li>
                                                                        {% endif %}
                                                                {% endfor %}
                                                                {% if page_obj.has_next %}
                                                                        <li class="page-item">
                                                                                <a class="page-link" target="refresh_frame" data-region="table-content" href="?page={{ page_obj.next_page_number }}&fragment=page-content" data-link="^div.table-without-details/form.table_filter"> &raquo;</a>
                                                                        </li>
                                                                  {% else %}
                                                                        <li class="disabled page-item">
                                                                                <a class="page-link">
                                                                                        <span> &raquo;</span>
                                                                                </a>
                                                                        </li>
                                                                {% endif %}
                                                        </ul>
                                                </div>
                                        {% endif %}
                                  {% else %}
                                        {% paginator %}
                                {% endif %}
                        {% endblock %}
                        {% block list_table_start %}
                                {% if standard_web_browser %}
                                        {% if table_type == 'datatable' %}
                                                <div class="tableframe flex-grow-1 d-flex flex-row" data-actions="{% block data_actions %}delete/Delete selected rows{% endblock %}">
                                          {% else %}
                                                <div class="tableframe flex-grow-1 d-flex flex-row">
                                        {% endif %}
                                        <div class="d-flex flex-column flex-grow-1" style="position:relative;margin-right:4px;">
                                        <div class="tabsort_panel d-flex flex-column flex-grow-1" table-details="{% if table_details_height %}0{% endif %}">
                                        {% if table_subtype and table_subtype == 'table_with_details' %}
                                                <input type="hidden" name="table_row_pk" value="[[ERROR]]">
                                                </input>
                                        {% endif %}
                                {% endif %}
                                {% if standard_web_browser == 1 or standard_web_browser == 2 or "page" in fragment or "table" in fragment %}
                                        {% if table_type == 'datatable' %}
                                                <div class="ajax-frame ajax-region" data-region="table-content" onloadeddata="table_loadeddata(event);">
                                          {% else %}
                                                {% if table_type == 'scrolled' or not table_type %}
                                                        <div class="tbl_scroll ajax-link" data-region="table-content" style="overflow-y:auto;height:100%" href="{{request.path}}">
                                                  {% else %}
                                                        <div class="tbl_scroll ajax-link" data-region="table-content" href="{{request.path}}">
                                                {% endif %}
                                        {% endif %}
                                {% endif %}
                                <table name="tabsort" table_type="{{table_type}}" {% block list_content_height %}{% endblock %} {% block tabsort_parameters %}{% endblock %}>
                        {% endblock %}
                        {% block list_full_row_header %}
                                <thead>
                                        <tr>
                                                {% block list_row_header_start %}
                                                        {% if not no_id %}
                                                                <th data-field="cid" data-sortable="true">
                                                                        {% id_num 'Id' %}
                                                                </th>
                                                        {% endif %}
                                                {% endblock %}
                                                {% block list_row_header %}{% endblock %}
                                                {% block list_row_header_end %}
                                                        <th data-field="caction">
                                                                Action
                                                        </th>
                                                {% endblock %}
                                        </tr>
                                </thead>
                        {% endblock %}
                        {% block list_table %}
                                {% if table_type != 'datatable' or doc_type == 'json' or not standard_web_browser %}
                                        {% block list_tbody_start %}
                                                <tbody>
                                        {% endblock %}
                                        {% if object_list %}
                                                {% for object in object_list %}
                                                        {% block list_full_row %}
                                                                <tr row-id="{{object.id}}" {% block list_row_attr %}{% endblock %}>
                                                                        {% block list_row_start %}
                                                                                {% if not no_id %}
                                                                                        <td>
                                                                                                <div {% block id_row_attr %}class="td_information"{% endblock %}>
                                                                                                        {% block id_extra %}
                                                                                                                {% if get %}
                                                                                                                        {% get_row object object.id %}
                                                                                                                  {% else %}
                                                                                                                        {% view_row object object.id %}
                                                                                                                {% endif %}
                                                                                                        {% endblock %}
                                                                                                </div>
                                                                                        </td>
                                                                                {% endif %}
                                                                        {% endblock %}
                                                                        {% block list_row %}
                                                                                <td>{{object}}</td>
                                                                        {% endblock %}
                                                                        {% block list_row_end %}
                                                                                <td>
                                                                                        <div class="td_action" style="white-space:nowrap">
                                                                                                {% block list_row_actions %}
                                                                                                        {% if readonly %}
                                                                                                                <a href="../{{object.id}}/edit/?childwin=1" class="popup" name="get" title="Select">Select</a>
                                                                                                          {% else %}
                                                                                                                {% row_actions %}
                                                                                                                edit;delete
                                                                                                                {% endrow_actions %}
                                                                                                        {% endif %}
                                                                                                {% endblock %}
                                                                                        </div>
                                                                                </td>
                                                                        {% endblock %}
                                                                </tr>
                                                        {% endblock %}
                                                        {% block list_row2 %}{% endblock %}
                                                {% endfor %}
                                        {% endif %}
                                        {% block list_tbody_end %}
                                                </tbody>
                                        {% endblock %}
                                {% endif %}
                        {% endblock %}
                        {% block list_table_end %}
                                </table>
                                {% if standard_web_browser == 1 or standard_web_browser == 2 or "page" in fragment or "table" in fragment %}
                                        </div>
                                {% endif %}
                                {% if standard_web_browser %}
                                        </div>
                                        </div>
                                        </div>
                                {% endif %}
                        {% endblock %}
                        {% block list_table_footer %}
                        {% endblock %}
                {% endblock %}
                {% block list_content_footer %}
                {% endblock %}
                {% block list_content_end %}
                {% endblock %}
        {% endblock %}
        {% block list_page_sidebar %}
        {% endblock %}
        {% block list_page_footer %}
                {% if standard_web_browser == 1 or standard_web_browser == 2 or "page" in fragment %}
                        </div>
                {% endif %}
        {% endblock %}
        {% block list_page_end %}
                </div>
        {% endblock %}
        {% if standard_web_browser and "table" not in fragment %}
                </div>
        {% endif %}
{% endblock %}

