{% load exfiltry %}
{% load exsyntax %}
{% load cache %}
{% block all %}
        {% block page_start %}
                <!DOCTYPE html>
                <html lang="{{LANGUAGE_CODE}}">
        {% endblock %}
        {% block page_head %}
                <head>
                        {% block cache %}{% endblock %}
                        {% block head_start %}{% endblock %}
                        <meta charset="utf-8" />
                        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
                        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
                        <link rel="icon" type="image/x-icon" href="{{base_path}}static/favicon.ico">
                        </link>
                        {% if form %}
                                {% if form.errors or errors %}
                                        <meta name="target" content="_self">
                                        </meta>
                                {% endif %}
                        {% endif %}
                        <title>
                                {% block title %}
                                        {{title}}
                                {% endblock %}
                        </title>
                        {% if standard_web_browser %}
                                {% if not show_form and not 'no_scripts' in request.GET %}
                                        {% block css_links %}{% endblock %}
                                        {% block css_start %}
                                                <style type="text/css">
                                        {% endblock %}
                                        {% block css %}{% endblock %}
                                        {% block css_end %}
                                                </style>
                                        {% endblock %}
                                {% endif %}
                          {% else %}
                                {% block pythoncode %}{% endblock %}
                                {% block icss %}
                                {% endblock %}
                        {% endif %}
                        {% block extrastyle %}{% endblock %}
                        {% block extrahead %}
                        {% endblock %}
                </head>
        {% endblock %}
        {% block body_start %}
                <body bgcolor="#{{color_body}}" border="1">
        {% endblock %}
        {% block body_header %}{% endblock %}
        {% block body %}
                {% if not user.is_authenticated and not NO_CHECK_AUTH and settings.SHOW_LOGIN_WIN or SHOW_LOGIN_WIN %}
                        {% block login_header %}{% endblock %}
                        {% block login %}{% endblock %}
                        {% block login_footer %}{% endblock %}
                  {% else %}
                        {% block nav %}
                                {% block change_password %}{% endblock %}
                                {% block menu_start %}{% endblock %}
                                {% block menu %}
                                        {% block topmenu_start %}{% endblock %}
                                        {% for app_info in app_manager|args:prj|call:"get_apps_width_perm" %}
                                                {% block topmenu %}{% endblock %}
                                        {% endfor %}
                                        {% block topmenu_end %}{% endblock %}
                                        {% block submenu_start %}{% endblock %}
                                        {% for item_info in app_manager|args:prj|call:"get_app_items_width_perm" %}
                                                {% block submenu %}{% endblock %}
                                        {% endfor %}
                                        {% block submenu_end %}
                                        {% endblock %}
                                {% endblock %}
                                {% block menu_end %}
                                {% endblock %}
                                {% block menu2 %}
                                {% endblock %}
                        {% endblock %}
                        {% block body_init %}
                        {% endblock %}
                        {% block messages %}
                                {% if messages %}
                                        {% for message in messages %}
                                                {% if message|slice:"-1:" == '!' %}
                                                                <ul class="errorlist">
                                                                        <li>{{message}}</li>
                                                                </ul>
                                                        {% else %}
                                                                <ul class="messagelist">
                                                                        <li>
                                                                        {{message}}
                                                                        </li>
                                                                </ul>
                                                {% endif %}
                                        {% endfor %}
                                {% endif %}
                        {% endblock %}
                        {% block body_desktop %}
                                {% if user.is_authenticated or not settings.SHOW_LOGIN_WIN or NO_CHECK_AUTH %}
                                        {% block panel %}{% endblock %}
                                        {% block navglobal %}{% endblock %}
                                        {% block sidebar %}{% endblock %}
                                        {% block content_start %}{% endblock %}
                                        {% block all_content %}
                                                {% block content %}{% endblock %}
                                        {% endblock %}
                                        {% block content_end %}{% endblock %}
                                {% endif %}
                        {% endblock %}
                        {% block tabs %}
                        {% endblock %}
                {% endif %}
                {% block js_all_scripts %}
                        {% if not 'no_scripts' in request.GET %}
                                {% if not show_form %}
                                        {% block js_scripts %}
                                                {% block js_scripts_base %}
                                                {% endblock %}
                                        {% endblock %}
                                {% endif %}
                                {% block js_extrascipts %}
                                {% endblock %}
                        {% endif %}
                {% endblock %}
                {% block html_widgets_init %}
                {% endblock %}
                {% block body_footer %}{% endblock %}
        {% endblock %}
        {% if not 'no_scripts' in request.GET %}
                {% block body_footer_scripts %}{% endblock %}
        {% endif %}
        {% block page_footer %}
                {% if not 'no_scripts' in request.GET %}
                        {% block js_extrascipts_init %}
                                <script type="module">
                                        {% block jquery_init %}{% endblock %}
                                        {% block jquery_init_once %}{% endblock %}
                                        {% block jquery_ready_all %}
                                                {% block jquery_ready_start %}{% endblock %}
                                                {% block jquery_ready %}{% endblock %}
                                                {% block jquery_ready_end %}{% endblock %}
                                        {% endblock %}
                                        {% block js_script_body %}
                                        {% endblock %}
                                </script>
                        {% endblock %}
                {% endif %}
                {% block page_finish %}
                {% endblock %}
        {% endblock %}
        {% block body_end %}
        </body>
        {% endblock %}
        {% block page_end %}
        </html>
        {% endblock %}
{% endblock %}

