{% extends default_template2 %}
{% block page_start %}
{% endblock %}
{% block page_head %}
        {% if not standard_web_browser %}
                {{block.super}}
        {% endif %}
{% endblock %}
{% block nav %}
{% endblock %}
{% block login %}
{% endblock %}
{% block body_start %}
        {% if not standard_web_browser %}
                {{block.super}}
        {% endif %}
{% endblock %}
{% block body_body_start %}
{% endblock %}
{% block body_init %}
{% endblock %}
{% block panel %}
{% endblock %}
{% block messages %}
{% endblock %}
{% block navglobal %}
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block tabs %}
        <head>
                <meta charset="utf-8" />
                <title>
                        {{title}}
                </title>
                {% if form %}
                        {% if form.errors or errors %}
                                <meta name="target" content="_self" />
                                <meta name="RETURN" content="$$RETURN_RELOAD_PAGE">
                                </meta>
                        {% endif %}
                {% endif %}
        </head>
        {% with NO_TABS=True %}
                {{block.super}}
        {% endwith %}
{% endblock %}
{% block content_start %}
        {% if form.errors or errors %}
                {{block.super}}
        {% endif %}
{% endblock %}
{% block content_end %}
        {% if form.errors or errors %}
                {{block.super}}
        {% endif %}
{% endblock %}
{% block list_page_start %}
        {% if content_limited_to and content_limited_to == 'min' %}
                <div class="d-flex flex-column" style="height:100%">
          {% else %}
                {{ block.super }}
        {% endif %}
{% endblock %}
{% block list_page_header %}
        {% if content_limited_to and content_limited_to == 'min' %}
          {% else %}
                {{ block.super }}
        {% endif %}
{% endblock %}
{% block list_content_header %}
        {% if standard_web_browser != 6 %}
                {{ block.super }}
        {% endif %}
{% endblock %}
{% block list_content_header_first_row %}
        {% if content_limited_to and content_limited_to == 'min' %}
          {% else %}
                {{ block.super }}
        {% endif %}
{% endblock %}
{% block list_content_header_second_row %}
        {% if content_limited_to and content_limited_to == 'min' %}
          {% else %}
                {{ block.super }}
        {% endif %}
{% endblock %}
{% block list_content_header_fourth_row %}
        {% if content_limited_to and content_limited_to == 'min' %}
          {% else %}
                {{ block.super }}
        {% endif %}
{% endblock %}
{% block list_content_header_third_row %}
        {% with btn_size='btn-sm' %}
                {{ block.super }}
        {% endwith %}
{% endblock %}
{% block list_content_footer %}
        {% if content_limited_to and content_limited_to == 'min' %}
          {% else %}
                {{ block.super }}
        {% endif %}
{% endblock %}
{% block list_content_end %}
        {% if content_limited_to and content_limited_to == 'min' %}
          {% else %}
                {{ block.super }}
        {% endif %}
{% endblock %}
{% block list_page_footer %}
        {% if content_limited_to and content_limited_to == 'min' %}
          {% else %}
                {{ block.super }}
        {% endif %}
{% endblock %}
{% block list_page_end %}
        {% if content_limited_to and content_limited_to == 'min' %}
                </div>
          {% else %}
                {{ block.super }}
        {% endif %}
{% endblock %}
{% block body_desktop %}
        {% with ONLY_CONTENT=True %}
                {{ block.super }}
        {% endwith %}
{% endblock %}
{% block html_widgets_init %}
{% endblock %}
{% block body_footer %}
{% endblock %}
{% block page_footer %}
{% endblock %}
{% block body_footer_scripts %}
{% endblock %}
{% block body_body_end %}
{% endblock %}
{% block body_end %}
{% endblock %}
{% block page_end %}
{% endblock %}
{% block js_all_scripts %}{% endblock %}

