<link rel="manifest" href="{{PWA_APP_ROOT_URL}}manifest.json">
</link>
<meta name="mobile-web-app-capable" content="yes" />
<meta name="application-name" content="PWA_APP_NAME" />
<meta name="theme-color" content="{{ PWA_APP_THEME_COLOR }}">
</meta>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-title" content="{{ PWA_APP_NAME }}" />
<meta name="apple-mobile-web-app-status-bar-style" content="{{ PWA_APP_STATUS_BAR_COLOR }}">
</meta>
{% if PWA_APP_ICONS_APPLE %}
        {% for icon in PWA_APP_ICONS_APPLE %}
                <link rel="apple-touch-icon" href="{{ icon.src }}" sizes="{{ icon.size }}"></link>
        {% endfor %}
        {% for icon in PWA_APP_ICONS %}
                <link rel="apple-touch-icon" href="{{ icon.src }}" sizes="{{ icon.size }}">
                </link>
        {% endfor %}
{% endif %}
{% for splash in PWA_APP_SPLASH_SCREEN %}
        <link href="{{ splash.src }}" media="{{ splash.media }}" rel="apple-touch-startup-image">
        </link>
{% endfor %}
<meta name="msapplication-TileColor" content="{{ PWA_APP_BACKGROUND_COLOR }}">
</meta>
{% with PWA_APP_ICONS|last as icon %}
        <meta name="msapplication-TileImage" content="{{ icon.src }}" />
        <link rel="icon" sizes="{{ icon.size }}" href="{{ icon.src }}">
        </link>
{% endwith %}
<script type="text/javascript">
    // Initialize the service worker
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('{{PWA_APP_ROOT_URL}}serviceworker.js', {
            scope: '{{ PWA_APP_SCOPE }}'
        }).then(function (registration) {
            // Registration was successful
            {% if PWA_APP_DEBUG_MODE %}
            console.log('django-pwa: ServiceWorker registration successful with scope: ', registration.scope);
            {% endif %}
        }, function (err) {
            // registration failed :(
            {% if PWA_APP_DEBUG_MODE %}
            console.log('django-pwa: ServiceWorker registration failed: ', err);
            {% endif %}
        });
    }
</script>

