
{% load i18n %}
<hr></hr>
<!-- html code -->
<h1>Hello world!</h1>
<hr></hr>
<!-- ihtml equivalent -->
<h1>Hello world!</h1>
<hr>
</hr>
<hr></hr>
<!-- html code -->
<table><tr><th>Title 1</th><th>Title2</th></tr><tr><td>Data 1</td><td>Data 2</td></tr></table>
<hr></hr>
<!-- ihtml equivalent -->
<table>
        <tr>
                <th>Title 1</th>
                <th>Title 2</th>
        </tr>
        <tr>
                <td>Data 1</td>
                <td>Data 2</td>
        </tr>
</table>
<hr>
</hr>
<hr></hr>
<!-- html code -->
<div class="alert alert-primary" role="alert">
    <button type="button" class="btn btn-danger">Danger</button>
    <strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs your attention</a>, but it's not super important.
</div>
<div class="test" width="100%"><span class="test2">Test</span></div>
<hr></hr>
<!-- ihtml equivalent -->
<div class="alert alert-primary" role="alert">
    <button type="button" class="btn btn-danger">Danger</button>
    <strong>Heads up!</strong>This
    <a href="#" class="alert-link">alert needs your attention</a>
    ,but it's not super important.
</div>
<div class="test" width="100%"><span=test2>Test</span=test2></div>
<hr>
</hr>
<hr></hr>
<!-- html code -->
{% block title1 %}Title{% endblock %}
<hr></hr>
<!-- ihtml equivalent -->
{% block title2 %}
        Title
{% endblock %}
<hr>
</hr>
<hr></hr>
<!-- html code -->
{% for letter in "abc" %}letter: {{letter}}<br/>{% endfor %}
{% if True %}Hello!{% endif %}
<hr></hr>
<!-- ihtml equivalent -->
{% for letter in "abc" %}
        letter: {{letter}}
        <br />
{% endfor %}
{% if True %}
        Hello!
{% endif %}
<hr>
</hr>
<hr></hr>
<!-- html code -->
<h3>do not process indented text</h3>def test(): <br>x = 10 <br>y = 20 <br>
<br>
<h4>finish!</h3>
<hr></hr>
<!-- ihtml equivalent -->
<h3>do not process indented text</h3>

    def test(): <br>
        x = 10 <br>
        y = 20 <br>

<br />
<h4>finish!</h4>
<hr>
</hr>
<hr></hr>
<!-- html code -->
<h3>do not process text block</h3>def test2(): <br>x = 10 <br>y = 20 <br>
<br>
<h4>finish!</h3>
<!-- ihtml equivalent -->
<hr></hr>
<h3>
do not process text block
</h3>
