
{% load i18n %}
<hr></hr>
<!-- html code -->
<h1>Hello world!</h1>
<hr></hr>
<!-- ihtml equivalent -->
<h1>Hello world!</h1>
<hr>
</hr>
<hr></hr>
<!-- html code -->
<table><tr><th>Title 1</th><th>Title2</th></tr><tr><td>Data 1</td><td>Data 2</td></tr></table>
<hr></hr>
<!-- ihtml equivalent -->
<table>
        <tr>
                <th>Title 1</th>
                <th>Title 2</th>
        </tr>
        <tr>
                <td>Data 1</td>
                <td>Data 2</td>
        </tr>
</table>
<hr>
</hr>
<hr></hr>
<!-- html code -->
<div class="alert alert-primary" role="alert">
    <button type="button" class="btn btn-danger">Danger</button>
    <strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs your attention</a>, but it's not super important.
</div>
<div class="test" width="100%"><span class="test2">Test</span></div>
<hr></hr>
<!-- ihtml equivalent -->
<div class="alert alert-primary" role="alert">
    <button type="button" class="btn btn-danger">Danger</button>
    <strong>Heads up!</strong>This
    <a href="#" class="alert-link">alert needs your attention</a>
    ,but it's not super important.
</div>
<div class="test" width="100%"><span=test2>Test</span=test2></div>
<hr>
</hr>
<hr></hr>
<!-- html code -->
{% block title1 %}Title{% endblock %}
<hr></hr>
<!-- ihtml equivalent -->
{% block title2 %}
        Title
{% endblock %}
<hr>
</hr>
<hr></hr>
<!-- html code -->
{% for letter in "abc" %}letter: {{letter}}<br/>{% endfor %}
{% if True %}Hello!{% endif %}
<hr></hr>
<!-- ihtml equivalent -->
{% for letter in "abc" %}
        letter: {{letter}}
        <br />
{% endfor %}
{% if True %}
        Hello!
{% endif %}
<hr>
</hr>
<hr></hr>
<!-- html code -->
<h3>do not process indented text</h3>def test(): <br>x = 10 <br>y = 20 <br>
<br>
<h4>finish!</h3>
<hr></hr>
<!-- ihtml equivalent -->
<h3>do not process indented text</h3>

    def test(): <br>
        x = 10 <br>
        y = 20 <br>

<br />
<h4>finish!</h4>
<hr>
</hr>
<hr></hr>
<!-- html code -->
<h3>do not process text block</h3>def test2(): <br>x = 10 <br>y = 20 <br>
<br>
<h4>finish!</h3>
<!-- ihtml equivalent -->
<hr></hr>
<h3>do not process text block</h3>

    def test2(): <br>
        x = 10 <br>
        y = 20 <br>

<br />
<h4>finish!</h4>
<hr>
</hr>
<hr></hr>
<!-- html code -->
<h3>Markdown block</h3>
<h1>H1</h1>Test <strong>test</strong> <em>test</em>
<hr></hr>
<!-- ihtml equivalent -->
<h3>Markdown block</h3>

<h1>H1</h1>
<p>Test <strong>test</strong> <em>test</em></p>
<hr>
</hr>
<hr></hr>
<!-- html code -->
<h4>{% translate "This is the title." %}</h4>
<hr></hr>
<!-- ihtml equivalent -->
<h4>This is the title.</h4>
<hr>
</hr>
<hr></hr>
<!-- html code -->
{% translate "This is full line translated text" %}
<hr></hr>
<!-- ihtml equivalent -->
This is full line translated text
<hr>
</hr>
<hr></hr>
<!-- html code -->
See page source
<script language="python">
def init_form(self):
    pass
</script>
<hr></hr>
<!-- ihtml equivalent -->
See page source
<script language="python">
    def init_form(self):
        pass
</script>
<hr>
</hr>
<hr></hr>
<!-- html code -->
See page source
<script>
function javascript_function() {
    console.log("Hello world!");
}
</script>
<hr></hr>
<!-- ihtml equivalent -->
See page source
<script>
var javascript_function;
javascript_function = function flx_javascript_function () {
    console.log("Hello world!");
    return null;
};

export {javascript_function};</script>
<hr>
</hr>
<hr></hr>
<!-- html code -->
See page source
<script>
function javascript_function() {
    console.log("Hello world!");
}
</script>
<hr></hr>
<!-- ihtml equivalent -->
See page source
<script language="javascript">
        function javascript_function() {
           console.log("Hello world!");
        }
</script>
<hr>
</hr>
<hr></hr>
<!-- html code -->
function test_js(a,b){ var a=10; a=a+1; if(a>1){ a=1 } return 0 }
<hr></hr>
<!-- ihtml equivalent -->

    function test_js(a,b){
        var a=10;
        a=a+1;
        if (a>1){
            a=1
        }
        return 0
    }


<hr>
</hr>

<h1>H1</h1>
<h2>H2</h2>
<h3>H3</h3>
<ol>
<li>test</li>
<li>
<p>test2</p>
</li>
<li>
<p>a1</p>
</li>
<li>a2</li>
</ol>
<p>Test <em>test</em> <strong>test2</strong></p>
<div class="wiki_container">

<h1>Heading</h1>
<h2>Sub-heading</h2>
<h1>Alternative heading</h1>
<p>Paragraphs are separated
by a blank line.</p>
<p>Two spaces at the end of a line
produce a line break.</p>
<p>Text attributes <em>italic</em>, <strong>bold</strong>, <code>monospace</code>.</p>
<p>Horizontal rule:</p>
<hr />
<p>Bullet lists nested within numbered list:</p>
<ol>
<li>fruits<ul>
<li>apple</li>
<li>banana</li>
</ul>
</li>
<li>vegetables<ul>
<li>carrot</li>
<li>broccoli</li>
</ul>
</li>
</ol>
<p>A <a href="http://example.com">link</a>.</p>
<p><img alt="Image" src="Icon-pictures.png" title="icon" /></p>
<blockquote>
<p>Markdown uses email-style characters for blockquoting.</p>
<p>Multiple paragraphs need to be prepended individually.</p>
</blockquote>
<p>Most inline <abbr title="Hypertext Markup Language"><abbr title="Hyper Text Markup Language">HTML</abbr></abbr> is supported.</p>
<h2>Markdown extensions</h2>
<h3>Abbreviations</h3>
<p>The <abbr title="Hyper Text Markup Language">HTML</abbr> specification
is maintained by the <abbr title="World Wide Web Consortium">W3C</abbr>.</p>
<h3>Attribute Lists</h3>
<p class="a_class" id="an_id">This is a paragraph.</p>
<h3>Definition Lists</h3>
<dl>
<dt>Apple</dt>
<dd>Pomaceous fruit of plants of the genus Malus in
the family Rosaceae.</dd>
<dt>Orange</dt>
<dd>The fruit of an evergreen tree of the genus Citrus.</dd>
</dl>
<h3>Fenced Code Blocks</h3>
<div class="codehilite"><pre><span></span><code><span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>HTML Document<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
</code></pre></div>

<div class="codehilite"><pre><span></span><code><span class="k">def</span> <span class="nf">test</span><span class="p">(</span><span class="n">x</span><span class="p">):</span>
    <span class="k">return</span> <span class="n">x</span>
</code></pre></div>

<h3>Tables</h3>
<table>
<thead>
<tr>
<th>First Header</th>
<th>Second Header</th>
</tr>
</thead>
<tbody>
<tr>
<td>Content Cell</td>
<td>Content Cell</td>
</tr>
<tr>
<td>Content Cell</td>
<td>Content Cell</td>
</tr>
</tbody>
</table>
</div>

