{% extends "forms/form.html" %}
{% load exfiltry %}
{% load exsyntax %}
{% block all %}
        {% with table_type='datatable' %}
                {{ block.super }}
        {% endwith %}
{% endblock %}
{% block scroll %}
{% endblock %}
{% block list_content_actions %}
        {% new_row "Nowy komentarz" action="new_row/{{filter}}" %}
{% endblock %}
{% block list_row_header %}
        <th>Kod języka</th>
        <th>
        Opis
        </th>
{% endblock %}
{% block list_row %}
        <td>{{ object.lang }}</td>
        <td>
        {{ object.description }}
        </td>
{% endblock %}
{% block list_row_actions %}
        {% row_actions %}
                ?:edit
                ?:delete
        {% endrow_actions %}
{% endblock %}
{% block row_edit %}
        {% form %}
        {% endform %}
{% endblock %}

