{# -*- coding: utf-8 -*- #}
{% extends "forms/form.html" %}
{% load exfiltry %}
{% load exsyntax %}
{% block pythoncode %}
        <script language="python">
        def signal_from_child(self, child, signal):
            if signal=='set_bitmap_list':
                bitmaps = {
                }
                child.set_bitmaps(bitmaps)

        def filter_url(self, target, href):
            return href

</script>
{% endblock %}
{% block all %}
        {% with table_type='simple' %}
                {{ block.super }}
        {% endwith %}
{% endblock %}
{% block scroll %}
{% endblock %}
{% block list_content_actions %}
        {% new_row "Document type" %}
{% endblock %}
{% block list_row_header %}
        <th>Name</th>
        <th>Description</th>
        <th>
        Correction
        </th>
{% endblock %}
{% block list_row %}
        <td>{{object.name}}</td>
        <td>{{object.description}}</td>
        <td>
        {{object.correction}}
        </td>
{% endblock %}
{% block list_row_actions %}
        {% row_actions %}
                edit
                field_edit/head_form,Head form,head_form
                field_edit/item_form,Item form,item_form
                field_edit/save_head_fun,Save head function,save_head_fun
                field_edit/save_item_fun,Save item function,save_item_fun
                delete
        {% endrow_actions %}
{% endblock %}
{% block row_edit %}
        {% form %}
        {% endform %}
{% endblock %}

