{# -*- coding: utf-8 -*- #}
{% extends 'template/only_content.html' %}
{% load exfiltry %}
{% load exsyntax %}
{% block all %}
        {% with show_form=True form_edit=True %}
                {{ block.super }}
        {% endwith %}
{% endblock %}
{% block form_action %}
        {{request.path}}?x1={{ action_name }}
{% endblock %}
{% block row_edit_form %}
        {% if error %}
                {{ error|safe }}
          {% else %}
                {% if description %}
                        {{ description|safe }}
                  {% else %}
                        <h3>Are you sure you want to discard the document? <br></h3>
                        <h4>You discard the status: {{ action_name }}</h4>
                {% endif %}
        {% endif %}
        <br />
        {% if form %}
                {% form %}
                {% endform %}
        {% endif %}
{% endblock %}

