{% extends 'template/base_base.html'|translate:lang %}
{% load exfiltry %}
{% load exsyntax %}
{% load django_bootstrap5 %}
{% block js_extrascipts %}
        {{block.super}}
        {% jscript_link 'system/require.js' %}
{% endblock %}
{% block extrastyle %}
        {{block.super}}
{% endblock %}
{% block body_footer_scripts %}
        {{block.super}}
        {% component 'schcomponents/components/ptig-select2.js' %}
        {% component 'schcomponents/components/ptig-pivottable.js' %}
        {% component 'schcomponents/components/ptig-codeeditor.js' %}
        {% component 'schcomponents/components/ptig-webrtc.js' %}
        {% component 'schcomponents/components/ptig-margin-left.js' %}
        {% component 'schcomponents/components/ptig-spreadsheet.js' %}
        {% component 'schcomponents/components/ptig-mask.js' %}
        {% component 'schcomponents/components/ptig-xterm.js' %}
        {% component 'schcomponents/components/ptig-plotly.js' %}
        {% component 'schcomponents/components/ptig-video.js' %}
        {% component 'schcomponents/components/ptig-leaflet.js' %}
        {% component '_schwiki/components/insert_object.js' %}
        {% component 'schcomponents/components/ptig-wysiwygedit.js' %}
        {% component 'schpytigondemo/components/ptig-db2.js' %}
        {% component 'schcomponents/components/ptig-svg.js' %}
        {% component 'schcomponents/components/ptig-time.js' %}
        {% component 'schpytigondemo/components/test.js' %}
        {% component 'schcomponents/components/ptig-d3.js' %}
        {% component 'schcomponents/components/ptig-task.js' %}
        {% component 'schcomponents/components/ptig-codemirror.js' %}
        {% component 'schcomponents/components/ptig-form.js' %}
        {% component 'schpytigondemo/components/ptig-db.js' %}
        {% component 'schcomponents/components/ptig-scroll-action.js' %}
        {% component 'schpytigondemo/components/clock-channel.js' %}
        {% component 'schcomponents/components/ptig-calendar.js' %}
{% endblock %}
{% block component_init %}
                var initial_state={};
                GLOBAL_BUS.set_state(initial_state);
                var component_init = [ "ptig-select2.js", "ptig-pivottable.js", "ptig-codeeditor.js", "ptig-webrtc.js", "ptig-margin-left.js", "ptig-spreadsheet.js", "ptig-mask.js", "ptig-xterm.js", "ptig-plotly.js", "ptig-video.js", "ptig-leaflet.js", "insert_object.js", "ptig-wysiwygedit.js", "ptig-db2.js", "ptig-svg.js", "ptig-time.js", "test.js", "ptig-d3.js", "ptig-task.js", "ptig-codemirror.js", "ptig-form.js", "ptig-db.js", "ptig-scroll-action.js", "clock-channel.js", "ptig-calendar.js",  ];
{% endblock %}

