{% extends 'template/desktop_base.html'|translate:lang %}
{% load exfiltry %}
{% load exsyntax %}
{% load bootstrap4 %}
{% block js_extrascipts %}
        {{block.super}}
        {% jscript_link 'vue/vue.min.js' %}
        {% jscript_link 'vue/httpVueLoader.js' %}
        {% jscript_link 'vue/vue-wc-wrapper.global.js' %}
        {% jscript_link 'system/require.js' %}
        {% module_link '_schdata/js/subreport.js' %}
{% endblock %}
{% block extrastyle %}
        {{block.super}}
        {% css_link '_schwiki/css/wiki_editor.css' %}
{% endblock %}
{% block body_footer_scripts %}
        {{block.super}}
        <script language='javascript'>var global_vue_bus = new Vue ();</script>
        {% component 'schcomponents/components/ptig-money.js' %}
        {% component 'schpytigondemo/components/plotly_status.js' %}
        {% component 'schcomponents/components/ptig-calendar.js' %}
        {% component 'schcomponents/components/ptig-wysiwygedit.js' %}
        {% component 'my-component.vue' %}
        {% component 'schcomponents/components/ptig-codeeditor.js' %}
        {% component 'schcomponents/components/ptig-leaflet.js' %}
        {% component 'schcomponents/components/ptig-xterm.js' %}
        {% component 'schcomponents/components/ptig-d3.js' %}
        {% component 'schcomponents/components/ptig-video.js' %}
        {% component 'schcomponents/components/ptig-plotly.js' %}
        {% component 'schcomponents/components/ptig-mask.js' %}
        {% component 'schcomponents/components/ptig-spreadsheet.js' %}
        {% component 'schcomponents/components/ptig-pivottable.js' %}
{% endblock %}
{% block component_init %}
        var component_init = [ "ptig-money.js", "plotly_status.js", "ptig-calendar.js", "ptig-wysiwygedit.js", "my-component.vue", "ptig-codeeditor.js", "ptig-leaflet.js", "ptig-xterm.js", "ptig-d3.js", "ptig-video.js", "ptig-plotly.js", "ptig-mask.js", "ptig-spreadsheet.js", "ptig-pivottable.js",  ];
{% endblock %}
{% block js_app_init %}
        {% comment %}
                <function bootstrap_init(elem) {>
                        <var checkbox;></var>
                        <let checkboxes =" elem.find(".form-check");"></let>
                        <checkboxes.addClass("checkbox");></checkboxes.addClass("checkbox");>
                        <for(checkbox of checkboxes) {>
                                <let label =" checkbox.querySelector("label.form-check-label");"></let>
                                <if(label) {>
                                        <let input =" checkbox.querySelector("input");"></let>
                                        <label.appendChild(input);></label.appendChild(input);>
                                        <label.classList.remove('form-check-label');></label.classList.remove('form-check-label');>
                                </if(label)>
                                }
                        </for(checkbox>
                        }
                        <elem.bootstrapMaterialDesign();></elem.bootstrapMaterialDesign();>
                </function>
                };
                <register_fragment_init_fun(bootstrap_init);></register_fragment_init_fun(bootstrap_init);>
        {% endcomment %}
        {{ block.super }}
{% endblock %}

