{% extends 'template/desktop_base.html' %}
{% load exsyntax %}
{% block js_app_init__out %}
        
        function base_fragment_init() {
            let paths = [
                '/',
                '/schcomponents/*',
                '/schelements/*',
                '/static/*',
            ]

            set_pyodide_paths(paths)

            async function home_callback(response) {
                let txt = await response.text();
                let data_element = window.get_elem_from_string(txt)
                mount_html(
                    document.querySelector("body"),
                    data_element,
                    null
                )
            }
            async function home() {
                await pyodide_app_init("schpytigondemo", "{{base_path}}", "/", "{{application_type}}", "{{ lang }}", "auto", "anawa", home_callback)
            }
            home();
        };


{% endblock %}
{% block ext_js_scripts %}
        {{ block.super }}
        {% jscript_link 'vanillajs_plugins/nunjucks/nunjucks.min.js' %}
        {% jscript_link 'vanillajs_plugins/pouchdb/pouchdb-7.3.0.min.js' %}
{% endblock %}

