{% extends default_template2 %}
{% block page_start %}
{% endblock %}
{% block page_head %}
{% endblock %}
{% block nav %}
{% endblock %}
{% block login %}
{% endblock %}
{% block body_start %}
{% endblock %}
{% block body_init %}
{% endblock %}
{% block panel %}
{% endblock %}
{% block messages %}
{% endblock %}
{% block navglobal %}
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block tabs %}
        <head>
                <meta charset="utf-8" />
                <title>
                        {{title}}
                </title>
                {% if form %}
                        {% if form.errors or errors %}
                                <meta name="target" content="_self" />
                                <meta name="RETURN" content="$$RETURN_RELOAD_PAGE">
                                </meta>
                        {% endif %}
                {% endif %}
        </head>
        {% with NO_TABS=True %}
                {{block.super}}
        {% endwith %}
{% endblock %}
{% block content_start %}
        {% if form.errors or errors %}
                {{block.super}}
        {% endif %}
{% endblock %}
{% block content_end %}
        {% if form.errors or errors %}
                {{block.super}}
        {% endif %}
{% endblock %}
{% block body_desktop %}
        {% with ONLY_CONTENT=True %}
                {{ block.super }}
        {% endwith %}
{% endblock %}
{% block html_widgets_init %}
{% endblock %}
{% block body_footer %}
{% endblock %}
{% block page_footer %}
{% endblock %}
{% block body_footer_scripts %}
{% endblock %}
{% block body_end %}
{% endblock %}
{% block page_end %}
{% endblock %}
{% block js_all_scripts %}{% endblock %}

