{% extends 'page.html'|translate:lang %}
{% load exfiltry %}
{% load exsyntax %}
{% load django_bootstrap5 %}
{% if standard_web_browser %}
        {% block indexhead %}
                <table style="width: 100%;" border="1">
                        {% if user.is_authenticated %}
                                <tr><td> login </td><td> 0 </td></tr>
                          {% else %}
                                <tr><td> login </td><td> 1 </td></tr>
                        {% endif %}
                        <tr><td> autologin </td><td> 1 </td></tr>
                        <tr><td> csrf_token </td><td> {%csrf_token%} </td></tr>
                        <tr><td> gui_style </td><td> tray(None) </td></tr>
                        <tr><td> hybrid </td><td> 0 </td></tr>
                        <tr><td> title  </td><td> Standar components </td></tr>
                        <tr><td> start_page </td><td> None </td></tr>
                        <tr><td> plugins </td><td> None </td></tr>
                </table>
        {% endblock %}
  {% else %}
        {% block js_extrascipts %}
                {{block.super}}
                {% jscript_link 'system/require.js' %}
        {% endblock %}
        {% block extrastyle %}
                {{block.super}}
        {% endblock %}
        {% block body_footer_scripts %}
                {{block.super}}
                {% component '_schcomponents/components/ptig-calendar.js' %}
                {% component '_schcomponents/components/ptig-codeeditor.js' %}
                {% component '_schcomponents/components/ptig-codemirror.js' %}
                {% component '_schcomponents/components/ptig-d3.js' %}
                {% component '_schcomponents/components/ptig-event-calendar.js' %}
                {% component '_schcomponents/components/ptig-form.js' %}
                {% component '_schcomponents/components/ptig-frame.js' %}
                {% component '_schcomponents/components/ptig-leaflet.js' %}
                {% component '_schcomponents/components/ptig-margin-left.js' %}
                {% component '_schcomponents/components/ptig-mask.js' %}
                {% component '_schcomponents/components/ptig-pivottable.js' %}
                {% component '_schcomponents/components/ptig-plotly.js' %}
                {% component '_schcomponents/components/ptig-script.js' %}
                {% component '_schcomponents/components/ptig-scroll-action.js' %}
                {% component '_schcomponents/components/ptig-select2.js' %}
                {% component '_schcomponents/components/ptig-spreadsheet.js' %}
                {% component '_schcomponents/components/ptig-svg.js' %}
                {% component '_schcomponents/components/ptig-task.js' %}
                {% component '_schcomponents/components/ptig-time.js' %}
                {% component '_schcomponents/components/ptig-tree.js' %}
                {% component '_schcomponents/components/ptig-video.js' %}
                {% component '_schcomponents/components/ptig-webrtc.js' %}
                {% component '_schcomponents/components/ptig-wysiwygedit.js' %}
                {% component '_schcomponents/components/ptig-xterm.js' %}
                {% component '_schcomponents/components/sys-components.js' %}
        {% endblock %}
        {% block component_init %}
                        var initial_state={};
                        GLOBAL_BUS.set_state(initial_state);
                        var component_init = [ "ptig-calendar.js", "ptig-codeeditor.js", "ptig-codemirror.js", "ptig-d3.js", "ptig-event-calendar.js", "ptig-form.js", "ptig-frame.js", "ptig-leaflet.js", "ptig-margin-left.js", "ptig-mask.js", "ptig-pivottable.js", "ptig-plotly.js", "ptig-script.js", "ptig-scroll-action.js", "ptig-select2.js", "ptig-spreadsheet.js", "ptig-svg.js", "ptig-task.js", "ptig-time.js", "ptig-tree.js", "ptig-video.js", "ptig-webrtc.js", "ptig-wysiwygedit.js", "ptig-xterm.js", "sys-components.js",  ];
        {% endblock %}
{% endif %}

