{# -*- coding: utf-8 -*- #}
{% extends "form.html" %}
{% load exfiltry %}
{% load exsyntax %}
{% block scroll %}{% endblock %}
{% block list_page_header %}
        <h3>Demo - standard controls</h3>
{% endblock %}
{% block list_page %}
        <table border="1" width="100%">
                <tr>
                        <th width="20%">Nazwa</th>
                        <th width="40%">wx Widget</th>
                        <th width="40%">html widget</th>
                </tr>
                <tr>
                        <td>Link</td>
                        <td><a href="http://www.onet.pl" TARGET="_top">ONET</a></td>
                        <td><a href="http://www.onet.pl" TARGET="_top">ONET</a></td>
                </tr>
                <tr>
                        <td>Bitmap button</td>
                        <td><ctrl-button src="{{ STATIC_URL }}icons/calendar.png"></ctrl-button></td>
                        <td>
                                <a href="#">
                                        <img src="{{ STATIC_URL }}icons/calendar.png"></img>
                                </a>
                        </td>
                </tr>
                <tr>
                        <td>Button</td>
                        <td><ctrl-button label="button"></ctrl-button></td>
                        <td><button type="button">button</button></td>
                </tr>
                <tr>
                        <td>Checkbox</td>
                        <td><ctrl-checkbox label="checkbox" value="True"></ctrl-checkbox></td>
                        <td>
                                <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" />
                                        <label class="form-check-label" for="defaultCheck1">checkbox</label>
                                </div>
                        </td>
                </tr>
                <tr>
                        <td>Check list box</td>
                        <td>
                                <ctrl-checklistbox>
                                        <option>abc</option>
                                        <option>def</option>
                                        <option>ghi</option>
                                </ctrl-checklistbox>
                        </td>
                        <td>
                                <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" />
                                        <label class="form-check-label" for="defaultCheck1">abc</label>
                                </div>
                                <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" />
                                        <label class="form-check-label" for="defaultCheck1">def</label>
                                </div>
                                <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck3" />
                                        <label class="form-check-label" for="defaultCheck1">ghi</label>
                                </div>
                        </td>
                </tr>
                <tr>
                        <td>Choice</td>
                        <td>
                                <ctrl-choice>
                                        <option>abc</option>
                                        <option>def</option>
                                        <option>ghi</option>
                                </ctrl-choice>
                        </td>
                        <td>
                                <select class="browser-default custom-select">
                                        <option value="abc" selected>abc</option>
                                        <option value="def">def</option>
                                        <option value="ghi">ghi</option>
                                </select>
                        </td>
                </tr>
                <tr>
                        <td>Gauge</td>
                        <td><ctrl-gauge value="50"></ctrl-gauge></td>
                        <td>
                                <div class="progress">
                                        <div class="progress-bar" role="progressba" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                        </td>
                </tr>
                <tr>
                        <td>List box</td>
                        <td>
                                <ctrl-listbox width="100%-200" height="200px">
                                        <option>abc</option>
                                        <option>def</option>
                                        <option>ghi</option>
                                </ctrl-listbox>
                        </td>
                        <td>
                                <ul class="nav flex-column">
                                        <li class="nav-item">
                                                <a class="nav-link active" href="#">abc</a>
                                        </li>
                                        <li class="nav-item">
                                                <a class="nav-link" href="#">def</a>
                                        </li>
                                        <li class="nav-item">
                                                <a class="nav-link" href="#">ghi</a>
                                        </li>
                                </ul>
                        </td>
                </tr>
                <tr>
                        <td>List</td>
                        <td>
                                {% if not standard_web_browser %}
                                        <ctrl-list width="100%-200" height="200px">
                                                <tr>
                                                        <td>Name</td>
                                                        <td>Address</td>
                                                        <td>Age</td>
                                                </tr>
                                                <tr>
                                                        <td>Kowalski</td>
                                                        <td>Warszawa</td>
                                                        <td>35</td>
                                                </tr>
                                                <tr>
                                                        <td>Nowak</td>
                                                        <td>Kozienice</td>
                                                        <td>84</td>
                                                </tr>
                                        </ctrl-list>
                                {% endif %}
                        </td>
                        <td>
                                <table class="table table-dark">
                                        <thead>
                                                <tr>
                                                        <th scope="col">Name</th>
                                                        <th scope="col">Address</th>
                                                        <th scope="col">Age</th>
                                                </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td scope="row">Kowalski</td>
                                                        <td scope="row">Warszawa</td>
                                                        <td scope="row">35</td>
                                                </tr>
                                                <tr>
                                                        <td scope="row">Nowak</td>
                                                        <td scope="row">Kozienice</td>
                                                        <td scope="row">84</td>
                                                </tr>
                                        </tbody>
                                </table>
                        </td>
                </tr>
                <tr>
                        <td>Grid</td>
                        <td>
                                {% if not standard_web_browser %}
                                        <CTRL-TABLE width="100%-200" height="200px">
                                                <tr>
                                                        <th scope="col">Name</th>
                                                        <th scope="col">Address</th>
                                                        <th scope="col">Age</th>
                                                </tr>
                                                <tr>
                                                        <td scope="row">Kowalski</td>
                                                        <td scope="row">Warszawa</td>
                                                        <td scope="row">35</td>
                                                </tr>
                                                <tr>
                                                        <td scope="row">Nowak</td>
                                                        <td scope="row">Kozienice</td>
                                                        <td scope="row">84</td>
                                                </tr>
                                        </CTRL-TABLE>
                                {% endif %}
                        </td>
                        <td>
                                <table class="table">
                                        <tr>
                                                <th scope="col">Name</th>
                                                <th scope="col">Address</th>
                                                <th scope="col">Age</th>
                                        </tr>
                                        <tr>
                                                <td scope="row">Kowalski</td>
                                                <td scope="row">Warszawa</td>
                                                <td scope="row">35</td>
                                        </tr>
                                        <tr>
                                                <td scope="row">Nowak</td>
                                                <td scope="row">Kozienice</td>
                                                <td scope="row">84</td>
                                        </tr>
                                </table>
                        </td>
                </tr>
                <tr>
                        <td>Radio box</td>
                        <td>
                                <CTRL-RADIOBOX>
                                        <option>abc</option>
                                        <option>def</option>
                                        <option>ghi</option>
                                </CTRL-RADIOBOX>
                        </td>
                </tr>
                <tr>
                        <td>Radio button</td>
                        <td><CTRL-RADIOBUTTON LABEL="LABEL"></CTRL-RADIOBUTTON></td>
                </tr>
                <tr>
                        <td>Slider</td>
                        <td><CTRL-SLIDER width="100%-200"></CTRL-SLIDER></td>
                </tr>
                <tr>
                        <td>Spin button</td>
                        <td><CTRL-SPINBUTTON width="200px"></CTRL-SPINBUTTON></td>
                </tr>
                <tr>
                        <td>Spin</td>
                        <td><CTRL-SPIN></CTRL-SPIN></td>
                </tr>
                <tr>
                        <td>Static text</td>
                        <td><CTRL-STATICTEXT LABEL="static text"></CTRL-STATICTEXT></td>
                </tr>
                <tr>
                        <td>Text</td>
                        <td><CTRL-TEXT STRVALUE="HELLO WORLD!"></CTRL-TEXT></td>
                </tr>
                <tr>
                        <td>Colour select</td>
                        <td><CTRL-COLOURSELECT></CTRL-COLOURSELECT></td>
                </tr>
                <tr>
                        <td>Tree</td>
                        <td><CTRL-TREE width="400" height="200">
                                <li>TEKST</li>
                                <li>
                                TEKST 2
                                        <ul>
                                                <li>TEKST 11</li>
                                                <li>TEKST 22</li>
                                        </ul>
                                </li>
                                <li>TEKST 3</li>
                          </CTRL-TREE></td>
                </tr>
                <tr>
                        <td>File browser button</td>
                        <td><CTRL-FILEBROWSEBUTTON></CTRL-FILEBROWSEBUTTON></td>
                </tr>
                <tr>
                        <td>Callendar</td>
                        <td><CTRL-CALENDAR></CTRL-CALENDAR></td>
                </tr>
                <tr>
                        <td>Date picker</td>
                        <td><CTRL-DATEPICKER></CTRL-DATEPICKER></td>
                </tr>
                <tr>
                        <td>Editable list box</td>
                        <td><CTRL-EDITABLELISTBOX width="400" height="300"></CTRL-EDITABLELISTBOX></td>
                </tr>
                <tr>
                        <td>Mask text</td>
                        <td><CTRL-MASKTEXT></CTRL-MASKTEXT></td>
                </tr>
                <tr>
                        <td>Num</td>
                        <td><CTRL-NUM></CTRL-NUM></td>
                </tr>
                <tr>
                        <td>Amount</td>
                        <td><CTRL-KWOTA></CTRL-KWOTA></td>
                </tr>
                <tr>
                        <td>Time</td>
                        <td><CTRL-TIME></CTRL-TIME></td>
                </tr>
                <tr>
                        <td>Styled text</td>
                        <td><CTRL-STYLEDTEXT></CTRL-STYLEDTEXT></td>
                </tr>
                <tr>
                        <td>Ticker</td>
                        <td><CTRL-TICKER STRVALUE="HELLO WORLD!"></CTRL-TICKER></td>
                </tr>
                <tr>
                        <td>htmllistbox</td>
                        <td>
                                <CTRL-HTMLLISTBOX width="400">
                                        <tr><td>[b]test1[/b]</td></tr>
                                        <tr><td>[strong]test2[/strong]</td></tr>
                                        <tr><td>[h1]test test test[/h1]</td></tr>
                                </CTRL-HTMLLISTBOX>
                        </td>
                </tr>
                <tr>
                        <td>shell</td>
                        <td>
                                <CTRL-SHELL width="600" height="800"></CTRL-SHELL>
                        </td>
                </tr>
                <tr>
                        <td>Tree list</td>
                        <td><CTRL-TREELIST label="NAZWISKO||IMIE||WIEK" width="400" height="200">
                                <li>TEKST 1||A||B</li>
                                <li>
                                TEKST 2||ZORRO||BBB
                                        <ul>
                                                <li>TEKST 11||HEJ||BBB</li>
                                                <li>TEKST 22||ZORRO||ABBA</li>
                                        </ul>
                                </li>
                                <li>TEKST 3||OKO||ZA OKO</li>
                          </CTRL-TREELIST></td>
                </tr>
        </table>
{% endblock %}

