{# -*- coding: utf-8 -*- #}
{% extends "form.html" %}
{% load exfiltry %}
{% load exsyntax %}
{% block content %}
        <ptig-form src="{{base_path}}schcomponents/form/">
                <input name="f1" type="text" />
                <input name="f2" type="number" />
                <textarea name="f3"></textarea>
                <select name="f4">
                        <option value="x1">X1</option>
                        <option value="x2">X2</option>
                        <option value="x3">X3</option>
                </select>
                <h1 class="result"></h1>
        </ptig-form>
{% endblock %}

