{# -*- coding: utf-8 -*- #}
{% extends "forms/form.html" %}
{% load exfiltry %}
{% load exsyntax %}
{% block all %}
        {% with form_width=720 form_height=480 show_title_bar=1 title="Import project" %}
                {{ block.super }}
        {% endwith %}
{% endblock %}
{% block form_action %}
         ../
{% endblock %}
{% block row_edit_form %}
        <CTRL-STYLEDTEXT NAME="EDITOR" WIDTH="100%" HEIGHT="calc(100%-top-button_size_dy)" MINHEIGHT="400">
                <DATA></DATA>
        </CTRL-STYLEDTEXT>
{% endblock %}

