{% extends 'page.html'|translate:lang %}
{% load exfiltry %}
{% load exsyntax %}
{% load django_bootstrap5 %}
{% if standard_web_browser %}
        {% block indexhead %}
                <table style="width: 100%;" border="1">
                        {% if user.is_authenticated %}
                                <tr><td> login </td><td> 0 </td></tr>
                          {% else %}
                                <tr><td> login </td><td> 1 </td></tr>
                        {% endif %}
                        <tr><td> autologin </td><td> 1 </td></tr>
                        <tr><td> csrf_token </td><td> {%csrf_token%} </td></tr>
                        <tr><td> gui_style </td><td> modern(None) </td></tr>
                        <tr><td> hybrid </td><td> 0 </td></tr>
                        <tr><td> title  </td><td> Pytigon tools </td></tr>
                        <tr><td> start_page </td><td> None </td></tr>
                        <tr><td> plugins </td><td> None </td></tr>
                </table>
        {% endblock %}
  {% else %}
        {% block js_extrascipts %}
                {{block.super}}
        {% endblock %}
        {% block extrastyle %}
                {{block.super}}
        {% endblock %}
        {% block body_footer_scripts %}
                {{block.super}}
        {% endblock %}
        {% block component_init %}
                  var component_init = [];
        {% endblock %}
{% endif %}

