.logo-lg img {
  margin-top: -12px;
  margin-left: 18px;
  -webkit-filter: drop-shadow(-8px -8px 15px #ffF);
  filter: drop-shadow(-8px -8px 15px #ffF); }

.tablet_menu_icon {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }
