/* form */

.dialog-data label 
    font-style:italic

.form-group label
    font-style: italic
    font-size: 0.7rem
    line-height: 1

.form-group textarea
    line-height: 1.5
    height: 8rem

.bootstrap-datetimepicker-widget 
    width: auto !important
    box-shadow: 2px 2px 2px #888


.btn.dropdown-toggle::after 
  display: inline-block
  width: 0
  height: 0
  margin-left: 0.3em
  vertical-align: middle
  content: ""
  border-top: 0.3em solid
  border-right: 0.3em solid transparent
  border-left: 0.3em solid transparent

