/* main settings */

not(.login_background) div.content-wrapper 
    background-color: #fff

.app_chose_title 
    color: gold !important
    text-align: center
    margin: 10px

.app_chose 
    margin: 10px 5px
    padding: 5px 10px
    box-shadow: 5px 5px 2px #112233

.app_chose a 
    padding: 10px 40px
    margin: 10px 0px

.nav
    li.search
        background-color: rgba(0, 0, 0, 0) !important

        div.input-group
            color: white

            input.form-control
                height: 40px
                color: white
                box-shadow: inset 0 -1px 0 #bbf

            input.form-control:focus
                box-shadow: inset 0 -2px 0 #fff

            input.form-control::placeholder
                    color: #bbf !important
                    opacity: 1

            input.form-control::-ms-input-placeholder
                    color: white !important

        div.input-group-addon
            height: 40px
            padding-top: 12px
