@import 'desktop_menu'
@import 'desktop_win_tabs'

body
    overflow-x: hidden
    overflow-y: auto

.desktop_content 
    padding: 0px

.content 
    padding-top: 10px

.drop_down_blocks 
    position: absolute
    top: 0px
    right: 0px
    padding: 9px
    background: black
    height: 38px

.drop_down_blocks li 
    padding: 0px 16px

.drop_down_blocks li a 
    color: white
    text-decoration: none !important

