{# -*- coding: utf-8 -*- #}

%extends 'template/schweb_base.html'|translate:lang
{% load exfiltry %}{% load exsyntax %}

% load exfiltry
% load exsyntax
% load staticfiles

%% indexhead
    table style=width: 100%;,,,border=1
        % if user.is_authenticated
            [ login | 0 ]
        % else
            [ login | 1 ]
        [ autologin | 1 ]
        [ csrf_token | {% spec '[' %}csrf_token{% spec ']' %} ]
        [ riot_elements | {% for pos in riot_elements%}{{pos}};{% endfor %}]
        [ gui_style | {{appset.gui_type}}({{appset.gui_elements}}) ]
        [ hybrid | {%if appset.is_hybrid %}1{%else%}0{%endif%} ]
        [ title  | {{appset.title}} ]
        [ start_page | {{appset.start_page}} ]
        [ plugins | {{appset.plugins}} ]

