{% extends "only_content.html"|translate:lang %}
{% load exfiltry %}
{% load exsyntax %}
{% load static %}
{% block content %}
        <div class="container-fluid mt-1">
                {% if form %}
                        <div class="row">
                                <div class="col">
                                        <ptig-form src="{{base_path}}bi/page_view/{{page.id}}/">
                                                {% block bi_page_form %}
                                                        {% inline_form %}
                                                        {% endinline_form %}
                                                {% endblock %}
                                        </ptig-form>
                                </div>
                        </div>
                {% endif %}
                <div class="row">
                        {% block bi_page_content %}
                                {% for chart in page.chart_set.all %}
                                        <div class="{% block bi_page_item_class %}col{% endblock %}">
                                                <div class="bi_prj_{{chart.parent.parent.name}} bi_page_{{chart.parent.name}} bi_chart_{{chart.name}} auto-frame ajax-region ajax-frame ajax-link" href="{{base_path}}bi/chart_view/{{chart.id}}/" target="refresh_frame"></div>
                                        </div>
                                {% endfor %}
                        {% endblock %}
                </div>
        </div>
{% endblock %}

