{# -*- coding: utf-8 -*- #}
{% extends "form.html" %}
{% load exfiltry %}
{% load exsyntax %}
{% block all %}
        {% with form_width=800 form_height=600 show_title_bar=1 title='-----' %}
                {{ block.super }}
        {% endwith %}
{% endblock %}
{% block body %}
        {% if POST %}
                RETURN_OK
          {% else %}
                {{ block.super }}
        {% endif %}
{% endblock %}
{% block form_delete_object %}
        <table class="table">
                <tr>
                        <th>Property</th>
                        <th>Value</th>
                </tr>
                <tr>
                        <th>id</th>
                        <td>{{object.id}}</td>
                </tr>
                <tr>
                        <th>title</th>
                        <td>{{object.title}}</td>
                </tr>
                <tr>
                        <th>username</th>
                        <td>{{object.username}}</td>
                </tr>
        </table>
{% endblock %}

