{# -*- coding: utf-8 -*- #}
{% extends "form.html" %}
{% load exfiltry %}
{% load exsyntax %}
{% block pythoncode %}
        <script language="python">
        def init_form(self):
            from schlib.schtools import schjson
            self.schjson = schjson
            if hasattr(self, "txt"):
                self.txt.Bind(wx.EVT_TEXT_ENTER, self.on_enter)
            self.start_id = 0
            self.tuser = wx.Timer(self)
            self.tuser.Start(1000)
            self.Bind(wx.EVT_TIMER, self.on_timer_user, self.tuser)
            if hasattr(self, "task_progress"):
                self.task_progress.SetValue(0)
        def reinit(self):
            if hasattr(self, "start_id"):
                start_id = self.start_id
            else:
                start_id = 0
            if hasattr(self, 'tuser'):
                self.tuser.Stop()
            self.init_form()
            self.start_id = start_id
        def transfer(self):
            http = wx.GetApp().http
            parm = { 'id': "{{object.id}}", 'id_start': self.start_id }
            http.post(self, "/tasks/get_messages", parm=parm)
            s = http.str()
            http.clear_ptr()
            lines = self.schjson.loads(s)
            self.cmd.append_texts(lines)
            for line in lines:
                if line!="":
                    if line.startswith('$$$'):
                        x = line[3:].split(':')
                        fun = x[0]
                        if len(x)>1:
                            parm = x[1]
                        else:
                            parm = None
                        if fun == 'PROGRESS':
                            if hasattr(self, 'task_progress'):
                                self.task_progress.SetValue(int(parm))
                self.start_id += 1
        def on_close(self):
            self.tuser.Stop()
        def on_enter(self, event):
            if hasattr(self, 'txt'):
                value = self.txt.GetValue()
                parm = { 'id': '{{object.id}}', 'message': value + "\n" }
                http = wx.GetApp().http
                http.post(self, "/tasks/put_message", parm=parm)
                s = http.str()
                http.clear_ptr()
                self.txt.SetValue("")
        def on_timer_user(self, event):
            return self.transfer()
</script>
{% endblock %}
{% block all %}
        {% with show_title_bar=1 title='Edit task' %}
                {{ block.super }}
        {% endwith %}
{% endblock %}
{% block body_body %}
        {{ block.super }}
{% endblock %}
{% block body %}
        {% if not show_form and object %}
                {{ block.super }}
                <div class="content">
                        <div class="panel">
                                <div class="panel-body">
                                        {% with show_form=True %}
                                                {{ block.super }}
                                        {% endwith %}
                                        {% if standard_web_browser %}
                                                <button type="button" class="btn btn-danger" id="kill_task">Kill task</button>
                                                <script>

		var _on_kill = function () {
			window.location = '/';
		};
		jQuery ('#kill_task').click (_on_kill);
		__pragma__ ('<all>')
			__all__._on_kill = _on_kill;
		__pragma__ ('</all>')
	</script>
                                        {% endif %}
                                </div>
                        </div>
                </div>
          {% else %}
                {{ block.super }}
        {% endif %}
{% endblock %}
{% block list_content_body %}{% endblock %}
{% block row_edit_form %}
        {% block task_title %}
                <h3 class="panel-title">{{object.title}} (id={{object.id}})</h3>
                <br />
        {% endblock %}
        <table class="tasks_tbl table">
                {% block task_status %}
                        <tr>
                                <th>status</th>
                                <td>{{object.status}}</td>
                        </tr>
                        <tr>
                                <th>username</th>
                                <td>{{object.username}}</td>
                        </tr>
                        <tr>
                                <th>time_from</th>
                                <td>{{object.time_from|isoformat_short}}</td>
                        </tr>
                        {% if object.status > 1 %}
                                <tr>
                                        <th>time_to</th>
                                        <td>{{object.time_to|isoformat_short}}</td>
                                </tr>
                        {% endif %}
                {% endblock %}
                {% if standard_web_browser %}
                        {% if object.status < 2 %}
                                <tr><td colspan="2">
                                        <div class="ext_padding">
                                                <div class="form-group">
                                                        <label class="control-label" for="cmd">
                                                                Enter command:
                                                        </label>
                                                        <input type="text" class="form-control" id="cmd" name="cmd" aria-describedby="cmdStatus" />
                                                </div>
                                        </div>
                                  </td></tr>
                        {% endif %}
                        <tr><td colspan="2">
                                <div id="cmd_list_{{object.id}}" style="overflow-y:scroll;height:100px;">
                                        {% if object.status > 1 %}
                                                {% for message in messages %}
                                                        {% if not '$$$' in message %}
                                                                {{message}} <br />
                                                        {% endif %}
                                                {% endfor %}
                                        {% endif %}
                                </div>
                          </td></tr>
                        {% if object.status < 2 %}
                                <tr>
                                        <th>Progress:</th>
                                        <td>
                                                <div class="progress">
                                                        <div id="task_progress" class="progress-bar progress-bar-striped active" role="progressbar" style="width: 50%"></div>
                                                </div>
                                        </td>
                                </tr>
                        {% endif %}
                        {% if object.status < 2 %}
                                <script >

		var on_edit_ok = function (form) {
			var _on_kill = function () {
				var filter = form.closest ('div.content').find ('form.TableFiltr');
				jQuery ('div.dialog-form').fadeTo ('slow', 0.5);
				if (filter.length > 0) {
					filter.attr ('action', '{{request.path}}/../../');
					filter.submit ();
				}
			};
			on_kill (_on_kill);
		};
		var on_timer = function () {
			var obj = jQuery ('#cmd_list_{{object.id}}');
			if (obj.length) {
				var _on_post = function (data) {
					start_id_{{object.id}} += data.length;
					var __iterable0__ = data;
					for (var __index0__ = 0; __index0__ < __iterable0__.length; __index0__++) {
						var pos = __iterable0__ [__index0__];
						var tmp = data [pos];
						if (tmp.__getslice__ (0, 3, 1) == '$$$') {
							var x = tmp.__getslice__ (3, null, 1).py_split (':');
							var fun = x [0];
							var parm = null;
							if (len (x) > 1) {
								var parm = x [1];
							}
							if (fun == 'PROGRESS') {
								jQuery ('#task_progress').css ('width', parm + '%');
							}
						}
						else {
							obj.append (data [pos]);
							obj.append ('<br />');
							obj [0].scrollTop = obj [0].scrollHeight;
						}
					}
				};
				jQuery.post ('/tasks/get_messages', dict ({'id': '{{object.id}}', 'id_start': start_id_{{object.id}}}), _on_post);
			}
			else {
				clearInterval (timer_{{object.id}});
			}
		};
		timer_{{object.id}} = setInterval (on_timer, 1000);
		on_timer ();
		start_id_{{object.id}} = 0;
		var _on_keydown = function (event) {
			if (event.keyCode == 13) {
				event.preventDefault ();
				return py_false;
			}
		};
		jQuery (window).keydown (_on_keydown);
		var _on_key_up = function (e) {
			var _fun = function (data) {
				jQuery ('#cmd').val ('');
			};
			if (e.keyCode == 13) {
				jQuery.post ('/tasks/put_message', dict ({'id': '{{object.id}}', 'message': jQuery ('#cmd').val () + '\n'}), _fun);
			}
		};
		jQuery ('#cmd').keyup (_on_key_up);
		var on_kill = function (fun) {
			var _on_kill = function (result) {
				if (result) {
					jQuery.post ('/tasks/kill_thread', dict ({'id': '{{object.id}}'}), fun);
				}
			};
			BootstrapDialog.confirm ('Kill task, are you sure?', _on_kill);
		};
		__pragma__ ('<all>')
			__all__._on_key_up = _on_key_up;
			__all__._on_keydown = _on_keydown;
			__all__.on_edit_ok = on_edit_ok;
			__all__.on_kill = on_kill;
			__all__.on_timer = on_timer;
		__pragma__ ('</all>')
	</script>
                        {% endif %}
                  {% else %}
                        {% block wx_task_progress %}
                                <tr>
                                        <td colspan="2" width="100%-10">
                                                <CTRLGAUGE name="task_progress" width="100%-10"></CTRLGAUGE>
                                        </td>
                                </tr>
                        {% endblock %}
                        {% block wx_task_input %}
                                <tr>
                                        <td colspan="2" width="100%-10">
                                                <strong>Enter command: <br /></strong>
                                                <CTRLTEXT name="txt" param="PROCESS_ENTER" width="100%-10"></CTRLTEXT>
                                        </td>
                                </tr>
                        {% endblock %}
                        </table><table>
                        {% block wx_task_list %}
                                <tr>
                                        <td width="100%">
                                                <CTRLHTMLLISTBOX name="cmd" width="100%-10" height="100%-50"></CTRLHTMLLISTBOX>
                                        </td>
                                </tr>
                        {% endblock %}
                {% endif %}
        </table>
{% endblock %}
{% block form_ok_cancel %}
        {% if not standard_web_browser %}
                <table width="100%" cellspacing="0" cellpadding="3">
                        <tr>
                                <td align="center">
                                        <CTRLBUTTON id="wx.ID_CANCEL" TARGET="_parent" value="close" />
                                        <input type="submit" value="Kill task" name="OKBUTTON" />
                                </td>
                        </tr>
                </table>
        {% endif %}
{% endblock %}

