{% extends "forms/user_tab.html" %}
{% load exfiltry %}
{% load exsyntax %}
{% block all %}
        {% with form_width=800 form_height=600 show_title_bar=1 title='Form' %}
                {{ block.super }}
        {% endwith %}
{% endblock %}
{% block list_page_header %}
        {% if standard_web_browser != 6 or form.errors or errors %}
                <h3>
                TEST FORM
                </h3>
        {% endif %}
{% endblock %}
{% block list_row_header %}
        <th>Col 1</th>
        <th>Col 2</th>
        <th>Col 3</th>
        <th>Col 4</th>
        <th>Col 5</th>
        <th>Col 6</th>
        <th>Col 7</th>
        <th>
        Col 8
        </th>
{% endblock %}
{% block list_full_row %}
        <tr>
                <td> {{object.0}}</td>
                <td> {{object.1}}</td>
                <td> {{object.2}}</td>
                <td> {{object.3}}</td>
                <td> {{object.4}}</td>
                <td align="right"> {{object.5|floatnullformat}}</td>
                <td> {{object.6}}</td>
                <td align="right"> {{object.7|floatnullformat}}</td>
                <td> {{object.8}}</td>
        </tr>
{% endblock %}

