{% extends 'template/desktop_base.html'|translate:lang %}
{% load exfiltry %}
{% load exsyntax %}
{% load bootstrap4 %}
{% block js_extrascipts %}
        {{block.super}}
        {% jscript_link 'vue/vue.min.js' %}
        {% jscript_link 'vue/httpVueLoader.js' %}
        {% jscript_link 'vue/vue-wc-wrapper.global.js' %}
        {% jscript_link 'system/require.js' %}
        {% module_link '_schdata/js/subreport.js' %}
{% endblock %}
{% block extrastyle %}
        {{block.super}}
        {% css_link 'schportal/css/portal.css' %}
        {% css_link '_schwiki/css/wiki_editor.css' %}
{% endblock %}
{% block body_footer_scripts %}
        {{block.super}}
        <script language='javascript'>
            vue_init="";
            var global_vue_bus = new Vue (vue_init);
        </script>
        {% component 'schportal/components/teleconference.js' %}
        {% component 'schcomponents/components/ptig-webrtc.js' %}
        {% component 'schcomponents/components/ptig-d3.js' %}
        {% component 'schcomponents/components/ptig-codeeditor.js' %}
        {% component '_schwiki/components/insert_object.js' %}
        {% component 'schcomponents/components/ptig-plotly.js' %}
        {% component 'schcomponents/components/ptig-wysiwygedit.js' %}
{% endblock %}
{% block component_init %}
        var component_init = [ "teleconference.js", "ptig-webrtc.js", "ptig-d3.js", "ptig-codeeditor.js", "insert_object.js", "ptig-plotly.js", "ptig-wysiwygedit.js",  ];
{% endblock %}
{% block botstrap_css %}
        {% css_link 'themes/bootswatch/materia/bootstrap.min.css' %}
{% endblock %}
{% block extrahead %}
        {% if standard_web_browser %}
                {% css_link 'vanillajs_plugins/pygments/manni.css' %}
        {% endif %}
        {{ block.super }}
{% endblock %}

