{% extends 'template/desktop_base.html'|translate:lang %}
{% load exfiltry %}
{% load exsyntax %}
{% load bootstrap4 %}
{% block js_extrascipts %}
        {{block.super}}
        {% jscript_link 'vue/vue.js' %}
        {% module_link 'app/_schdata/js/subreport.js' %}
{% endblock %}
{% block extrastyle %}
        {{block.super}}
        {% css_link 'app/schportal/css/portal.css' %}
        {% css_link 'app/_schwiki/css/wiki_editor.css' %}
{% endblock %}
{% block body_footer %}
        {{block.super}}
        <script language='javascript'>var global_vue_bus = new Vue ();</script>
        {% component 'app/schcomponents/components/vs_editor.js' %}
        {% component 'app/schcomponents/components/wysiwyg_edit.js' %}
        {% component 'app/schcomponents/components/d3.js' %}
        {% component 'app/schcomponents/components/plotly.js' %}
{% endblock %}
{% block component_init %}
        var component_init = [ "vs_editor", "wysiwyg_edit", "d3", "plotly",  ];
{% endblock %}
{% block botstrap_css %}
        {% css_link 'themes/bootswatch/materia/bootstrap.min.css' %}
{% endblock %}
{% block extrahead %}
        {% if standard_web_browser %}
                {% css_link 'vanillajs_plugins/pygments/manni.css' %}
        {% endif %}
        {{ block.super }}
{% endblock %}

