{# -*- coding: utf-8 -*- #}
{% extends "form.html" %}
{% load exfiltry %}
{% load exsyntax %}
{% block extrastyle %}
        <style type="text/css">
    div.checkboxselectmultiple{
        height: 320px
    }

</style>
{% endblock %}
{% block pythoncode %}
        <script language="python">
        def signal_from_child(self, child, signal):
            if signal=='set_bitmap_list':
                bitmaps = {
                    "zatwierdz": "wx.ART_FILE_SAVE",
                    "sporzadzil": "client://categories/applications-office.png",
                }
                child.set_bitmaps(bitmaps)
        def filter_url(self, target, href):
            return href
</script>
{% endblock %}
{% block all %}
        {% with form_width=750 form_height=610 table_type='datatable' %}
                {{ block.super }}
        {% endwith %}
{% endblock %}
{% block list_content_actions %}
        {% new_row "Nowy wniosek" %}
{% endblock %}
{% block list_row_header %}
        <th>Data dok 2.</th>
        <th>Operator</th>
        <th>Data uprawnień</th>
        <th>Sporządził</th>
        <th>Zatwierdził</th>
        <th style="width:100px">Uwagi</th>
{% endblock %}
{% block list_row %}
        <td>{{object.data|isoformat}}</td>
        <td>{{object.parent}}</td>
        <td>{{object.data_przydzial|isoformat}}</td>
        <td>{{object.sporzadzil}}</td>
        <td>{{object.zatwierdzil}}</td>
        <td>{{object.uwagi}}</td>
{% endblock %}
{% block id_extra %}
        {% if object.has_attachements %}
                {% row_actions %}
                        field_action,:::fa-paperclip,attachements,,+class='btn-raised btn-info',,../../../../../../attachements/table/Attachements/prawa__DokPrzydzielenia__{{object.id}}__default/form/list
                {% endrow_actions %}
          {% else %}
                {% row_actions %}
                        field_action,:::fa-paperclip,attachements,,,,../../../../../../attachements/table/Attachements/prawa__DokPrzydzielenia__{{object.id}}__default/form/list
                {% endrow_actions %}
        {% endif %}
{% endblock %}
{% block list_row_actions %}
        {% if not object.zatwierdzil %}
                {% row_actions %}
                        zatwierdz,Zatwierdź,,refresh_obj
                        sporzadzil,Podpisz,,refresh_obj
                        pdf,Do pdf
                        edit
                        delete
                {% endrow_actions %}
          {% else %}
                {% row_actions %}
                pdf
                {% endrow_actions %}
        {% endif %}
{% endblock %}
{% block list_row2 %}
        <tr class="warning">
                <td colspan="8">
                        <div class="second_row td_information">
                                {% for grupa in object.grupy.all %}{{grupa.nazwa}}, {% endfor %}
                        </div>
                </td>
        </tr>
{% endblock %}
{% block row_edit2 %}
        <tr>
                <th><em>{{form.parent.label_tag}}</em></th>
                <th>{{form.parent|addclass:"form-control input-sm"}}</th>
        </tr>
        {{form.fields_as_table.data_przydzial__uwagi}}
        <tr>
                <th colspan="2"><em>{{form.grupy.label_tag}}</em></th>
        </tr>
        <tr>
                <td colspan="2">
                        {% checkboxselectmultiple form.grupy True %}
                </td>
        </tr>
{% endblock %}
{% block form_info %}
        <table name="tabsort" class="tabsort table-bordered">
                <tr>
                        <th>Pole</th>
                        <th>Wartość</th>
                </tr>
                <tr>
                        <td>Operator</td>
                        <td>{{object.parent.nazwisko}} {{object.parent.imie}}</td>
                </tr>
                <tr>
                        <td>Lokalizacja</td>
                        <td>{{object.parent.lokalizacja.nazwa}}</td>
                </tr>
                <tr>
                        <td>Dział</td>
                        <td>{{object.parent.dzial.nazwa}}</td>
                </tr>
                <tr>
                        <td>Przełożony</td>
                        <td>{{object.parent.przelozony.nazwisko}} {{object.parent.przelozony.imie}}</td>
                </tr>
                <tr>
                        <td>Data przydziału uprawnień</td>
                        <td>{{object.data_przydzial|isoformat}}</td>
                </tr>
                <tr>
                        <td>Grupy</td>
                        <td>
                                {% for grupa in object.grupy.all %}
                                        {{grupa.nazwa}};
                                {% endfor %}
                        </td>
                </tr>
                <tr>
                        <td>Uwagi</td>
                        <td>{{object.uwagi}}</td>
                </tr>
        </table>
{% endblock %}

