div#tabs ul li p { margin: 3px 3px 3px 3px;  padding: 3px; color: #def; }

div.content { margin: 4px 4px 0px 4px; padding: 0px; }

.module td,th { padding:2px 4px; }

.panel-heading {
    //margin: 3px 3px 3px 3px;
    margin: 0px;

    padding: 0px;
}

.navbar { margin-bottom: 3px; }

.radio { list-style: none; }

.standard_padding td { padding: 5px; }

.vert_form_panel { padding: 0px 0px; }

div.ext_padding { padding: 0px 14px; }


.TableFiltr {
    margin-top: 0px;
    margin-bottom: 3px;
    margin-left: 0px;
    margin-right: 0px;
}

.TableFiltr input {
    margin-right: 10px;
}

.TableFiltr .sr-only {
    position:relative;
    left:3px;
    text-align:left;
    height: auto;
    overflow: visible;
    border: 0;
}

.TableFiltr .form-group label {
    display: block;
    white-space: nowrap;
}

.TableFiltr .checkbox label {
    margin-right: 15px;
    font-weight: bolder;
}

.TableFiltr .btn {
    margin-top: 17px;
}

.tabsort > tbody > tr > td {
    padding: 8px;
    vertical-align: middle;
}

.tabsort th {
    padding: 8px;
}

.col_right {
    text-align:right;
}

.col_center {
    text-align:center;
}

.control_sel {
    font-weight: bold;
}

.control_sel div {
    color: #F0AD4E;
}

td.control {
    padding:0;
}

.control_div {
    height:100%;
    width:100%;
    padding:10px;
}

.tab-pane .menu-href {
    margin: 5px 0px 5px 0px;
}

#tabs2 button.close {
  position:relative;
  left: -4px;
  top: -14px;
  margin: -26px 0px 0px 0px;
}

body.fixed .menu_offset {
  margin-top: 52px;
}

.tabsort_panel {
    padding:5px;
}

#loading-indicator {
  position: absolute;
  left: 10px;
  top: 10px;
}

.form-control {
    height: 33px;
    min-width: 120px;
}

.pagination {
    margin: 0px 0px;
}

.tabsort .btn {
    padding: 5px 10px;
    vertical-align: top;
}

.tabsort th .btn {
    margin: 0px;
    padding: 0px 5px;
    overflow: visible;
}


.td_action .btn-group .btn:hover {
    margin: 0px 0px 0px 0px;
}

.td_action .btn-group .btn {
    margin: 0px 0px 0px 0px;
}


.tabsort .btn-group {
    padding: 2px 2px;
    margin: -2px 0px 0px 0px;
    vertical-align: top;
}

.tab-content {
    background-color: white;
    padding: 0px 5px;
    align: left;
    width: 100%;
    overflow: hidden;
}


.txt3d {
    color: rgba(255,255,255,0.9);
    font-weight:900;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6), 4px 4px 5px rgba(0, 0, 0, 0.8 );
}


.txt3d a {
  color: white;
}

td a.btn {
    padding: 8px 8px;
}



tr.inline_dialog div.content {
    margin: 0px;
}

tr.inline_dialog div.panel-heading {
    margin: 0px;
    padding: 0px
}

tr.inline_dialog div.panel-body {
    margin: 0px;
    padding: 0px;
}

tr.inline_dialog div.content div.panel-default {
    box-shadow: None;
    margin-bottom: 0px;
    border: 3px;
}

tr.inline_dialog div.panel-heading td {
    padding: 0px 5px;
}

div.indent {
    padding: 10px 5px 2px 5px;
    margin: 0px -7px 0px 20px;
}

tr:not(:hover) div.td_action * {
    opacity: 0.25;
    filter:alpha(opacity=25);
}

.td_information {
    style=white-space:nowrap;
    width: 100%;
    height: 100%;
}

tr:not(:hover) div.td_information * {
    opacity: 0.4;
    filter:alpha(opacity=40);
}


tr td.td_information  .btn.btn-sm {
    padding: 5px 8px;
}

li.topmenu_right:last-child { float:right; }

button.foreignkey_button {
    padding: 7px 7px;
}

.input-group .input-group-btn button.foreignkey_button {
    margin: 0px 5px;
}

 div.inline_dialog {
    margin-right: 15px;
    margin-left: 0px;
}

tr.inline_dialog {
    padding: 30px 100px;
}

td div div div div form.DialogForm {
    padding: 10px;
}

div.table {
    padding: 0px 3px;
}

div.td {
    padding: 0px 4px;
}

div.td a.popup {
    margin: 1px;
}

div.td a.btn {
    margin: 1px;
}

.navbar.navbar .dropdown-menu li > a, .navbar-default.navbar .dropdown-menu li > a {
    font-size: 14px;
    padding: 5px 40px;
}

div.indent button.btn { margin: 0px 0px 5px 0px; }

.menu-status {
    margin: 5px;
}

.tab-tab {
    white-space: nowrap;
    overflow: auto;
    position: relative;
}

.inline-form-body  {
    white-space: nowrap;
    overflow: auto;
    position: relative;
    margin-right: 70px;
    padding-top: 20px;
}

.refresh-button {
    position: absolute !important;
    right: 3px;
    bottom: 3px;
    height: 100%;
}


.list_content_header_first_row h4 {
    margin: 5px 1px 0px 1px;
}

.list_content_header_first_row {
    margin-bottom: 5px;
}

.input-group-btn {
    padding-left: 10px;
}

.list_content_header_third_row .btn {
    padding:  8px 8px;
}


.panel-login .panel-heading h3 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.modal-content .modal-header {
    border-bottom: medium none;
    padding: 12px 12px 0px;
}

modal-content .modal-body {
    padding: 12px 12px 16px;
}

.table {
    margin-bottom: 5px;
}


body {
    margin-top: 2px;
}


.tabsort th .dropdown-menu > li{
  display: inline-block;
    float:left;
 }

.panel-content {
    margin-bottom: 5px !important;
}


.table > div.row {
    margin-right: 0px !important;
    margin-left:  0px !important;
}


.fixed-table-pagination div.pagination, .fixed-table-pagination .pagination-detail {
    margin-top: 10px;
    margin-bottom: 0px;
}

.login_background {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100&1+0,1+62,0.7+68,0+100;Blue+to+Transparent+Sharp */
    background: -moz-linear-gradient(-45deg,  rgba(30,87,153,1) 0%, rgba(89,148,202,1) 62%, rgba(95,154,207,0.7) 68%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(30,87,153,1) 0%,rgba(89,148,202,1) 62%,rgba(95,154,207,0.7) 68%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(30,87,153,1) 0%,rgba(89,148,202,1) 62%,rgba(95,154,207,0.7) 68%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    height:100vh;
    overflow: hidden;
}

#quit_menu {
    padding: 8px 10px;
    margin: 0px 5px;
}

#logo_href {
    margin: 0px;
    padding: 0px;
}

.skin-blue .main-header .navbar .nav > .active > a {
    background: rgba(255,255,255,1) !important;
}

.select2-selection--single {
    height: 32px !important;
}


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/static/bootstrap_plugins/bootstrap-material-datetimepicker/font/Material-Design-Icons.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(/static/bootstrap_plugins/bootstrap-material-datetimepicker/font/Material-Design-Icons.woff2) format('woff2'),
       url(/static/bootstrap_plugins/bootstrap-material-datetimepicker/font/Material-Design-Icons.woff) format('woff'),
       url(/static/bootstrap_plugins/bootstrap-material-datetimepicker/font/Material-Design-Icons.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.tab-content {
    overflow: visible;
}


/*
div.second_row {
    visibility: visible !important;
    position: absolute;
    left: 0px !important;
    right: 0px !important;
    background: none repeat scroll 0% 0% #FFFFF8 !important;
    width: 100%;
    margin-top: -14px;
    padding: 0px 5px !important;
}

tr.second_row {
    position: relative;
}
*/

td div.shadow-z-2 {
    position: relative;
}

div.shadow-z-2 .close {
    margin-top: 5px !important;
    margin-left: 5px !important;
    padding: 2px;
    position: absolute;
    z-index: 1000;
}

.form-inline .bootstrap-datetimepicker-widget {
    position: static;
}

.file-caption {
    margin-right: 0px !important;
}

.form_tab_control {
    margin-top: 5px;
}


div.tree span.ladda-label, div.tree span.fa, div.tree span.ladda-spinner {
    border: 0px !important;
}

div.tree .btn {
    padding: 0px !important;
}

div.tree {
    margin-bottom: 5px !important;
    padding-top: 5px !important;
}

.form2columns div.form-group {
    margin: 0px 0px;
}

div.td_action div.dropdown {
    position: absolute;
}


div.input-group span.input-group-addon  {
    right: 2px;
    border: medium none;
}

ul.desktop-logo  {
    top: 0px;
    left: 0px;
    position: relative;
    height: 0px;
    z-index: 1000;
}

.dropdown, .dropup {
    position: relative !important;
}
