/* main settings */
not(.login_background) div.content-wrapper {
  background-color: #fff; }

.app_chose_title {
  color: gold !important;
  text-align: center;
  margin: 10px; }

.app_chose {
  margin: 10px 5px;
  padding: 5px 10px;
  box-shadow: 5px 5px 2px #112233; }

.app_chose a {
  padding: 10px 40px;
  margin: 10px 0px; }

/* Tab - close button on tab */
#tabs2 {
  border-bottom: 0px; }
  #tabs2 li {
    position: relative; }
    #tabs2 li a {
      color: #000;
      border: medium none;
      box-shadow: none !important;
      margin-bottom: -3px !important;
      outline: 0px; }
    #tabs2 li button {
      position: absolute;
      top: 0px;
      right: 0px; }
      #tabs2 li button.close {
        position: absolute;
        right: 2px;
        top: 2px;
        font-size: 18px;
        padding: 0px 3px;
        margin-top: 0px;
        margin-right: 0px;
        box-shadow: none; }
    #tabs2 li.nav-item a.nav-link {
      padding: 6px 12px 10px 8px;
      text-transform: none;
      border-top-right-radius: 0.15rem;
      border-top-left-radius: 0.15rem; }
    #tabs2 li:nth-child(1n+6) {
      width: 25px;
      overflow: hidden; }
      #tabs2 li:nth-child(1n+6) a {
        color: transparent; }

/* bootstrap-table */
.tabsort_panel .table td, .table_panel .table td {
  padding-top: 0.25rem;
  padding-right: 0.75rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  vertical-align: middle; }

.tabsort_panel table.table-striped tbody tr:nth-of-type(odd), .table_panel table.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.02); }

.tabsort_panel table.table-striped tbody tr:nth-of-type(even), .table_panel table.table-striped tbody tr:nth-of-type(even) {
  background-color: transparent; }

.tabsort_panel table.table-striped tbody tr:hover, .table_panel table.table-striped tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.05); }

.tabsort_panel .btn, .tabsort_panel .list_content_header .btn, .table_panel .btn, .table_panel .list_content_header .btn {
  box-shadow: none;
  border: none !important;
  text-transform: none;
  padding: 0.5rem;
  color: black;
  background-color: rgba(0, 0, 0, 0.05); }

.tabsort_panel table .btn, .table_panel table .btn {
  background-color: rgba(255, 255, 255, 0.7); }

.tabsort_panel div.td_action .btn:not(:hover), .tabsort_panel div.td_information .btn:not(:hover), .tabsort_panel .list_content_header .btn:not(:hover), .table_panel div.td_action .btn:not(:hover), .table_panel div.td_information .btn:not(:hover), .table_panel .list_content_header .btn:not(:hover) {
  background-color: transparent; }

.tabsort_panel div.td_action, .table_panel div.td_action {
  box-shadow: none;
  border: none;
  text-transform: none; }
  .tabsort_panel div.td_action .btn-secondary, .table_panel div.td_action .btn-secondary {
    color: #006040; }
  .tabsort_panel div.td_action .btn-danger, .table_panel div.td_action .btn-danger {
    color: #600040; }

.tabsort_panel div.td_action .btn:not(:hover), .table_panel div.td_action .btn:not(:hover) {
  background-color: transparent; }

.tabsort_panel tr:not(:hover) div.td_action .btn, .table_panel tr:not(:hover) div.td_action .btn {
  opacity: 0.33;
  filter: alpha(opacity=33); }

.tabsort_panel .td_information, .table_panel .td_information {
  width: 100%;
  height: 100%; }

.tabsort_panel tr:not(:hover) div.td_information *, .table_panel tr:not(:hover) div.td_information * {
  opacity: 0.66;
  filter: alpha(opacity=66); }

.tabsort_panel tr td.td_information .btn, .table_panel tr td.td_information .btn {
  padding: 5px 8px;
  box-shadow: none; }

.tabsort_panel div.td_information a.btn, .table_panel div.td_information a.btn {
  box-shadow: none; }

/* dropdown menu */
.user-menu {
  white-space: nowrap; }
  .user-menu div.dropdown-menu {
    padding: 20px;
    width: 22rem; }
    .user-menu div.dropdown-menu .dropdown-block p {
      font-size: 0.8rem; }

.tabsort .td_action div.dropdown-menu {
  width: 22rem;
  height: 10rem;
  overflow-y: scroll; }

/* form */
.modal-body label {
  text-overflow: ellipsis;
  overflow: hidden; }

.modal-body .form-group:not(.label-floating) > label {
  max-height: 43px;
  margin-top: 15px; }

.modal-body .form-control {
  margin-bottom: 5px; }

form .row .row {
  margin-right: 0px;
  margin-left: 0px;
  display: block; }

.form-group {
  padding-left: 0px;
  padding-right: 0px; }
  .form-group label {
    font-style: italic;
    font-size: 0.7rem; }
  .form-group textarea {
    line-height: 1.5;
    height: 8rem; }
  .form-group div.checkbox label {
    padding-right: 10px; }

.bootstrap-datetimepicker-widget {
  width: auto !important;
  box-shadow: 2px 2px 2px #888; }

.btn.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.3em;
  vertical-align: middle;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent; }

.form-vertical .form-control {
  width: 100%; }

div.form-group.label-floating {
  margin-top: 0.5rem; }
  div.form-group.label-floating span.invalid-feedback {
    display: block;
    position: absolute;
    bottom: 6px;
    left: 30px;
    background: yellow;
    padding: 0px 10px; }
  div.form-group.label-floating label {
    position: absolute;
    left: 0px; }

div.row > div > div.form-group > label.control-label {
  margin-left: -15px; }

div.radio input {
  margin-top: 3px; }

body:not(.modal-open) .dark_background {
  position: fixed;
  background: #448;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  opacity: 0.1;
  pointer-events: none; }

.inline-table-modal-body, .inline-update-modal-body {
  padding: 30px; }

/* Inline form */
.form-inline .form-group, .form-inline div.checkbox {
  padding: 2px;
  margin-right: 15px; }

.form-inline .form-group .form-control {
  max-height: 30px; }

.form-inline .form-group select.form-control {
  padding-top: 2px;
  padding-bottom: 2px; }

.form-inline .form-group label {
  padding-right: 8px; }

.form-inline .form-group .numberinput {
  width: 100px;
  padding-left: 5px;
  padding-right: 5px; }

.form-inline .datetimeinput {
  width: 9rem !important; }

.refresh-button {
  position: absolute !important;
  right: 3px;
  bottom: 3px;
  height: 100%;
  min-height: 45px;
  margin-right: 10px;
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.form-inline input, .form-inline select {
  font-size: 14px; }

.TableFiltr {
  margin-top: 0px;
  margin-bottom: 3px;
  margin-left: 0px;
  margin-right: 50px; }

form.TableFiltr label::after {
  content: ":"; }

form.TableFiltr label.nocolon::after {
  content: "" !important; }

/* login form */
.login_background {
  /* IE10+ */
  background-image: -ms-radial-gradient(left top, ellipse farthest-side, #CCCCCC 0%, #224466 100%);
  /* Mozilla Firefox */
  background-image: -moz-radial-gradient(left top, ellipse farthest-side, #CCCCCC 0%, #224466 100%);
  /* Opera */
  background-image: -o-radial-gradient(left top, ellipse farthest-side, #CCCCCC 0%, #224466 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(radial, left top, 0, left top, 515, color-stop(0, #CCCCCC), color-stop(100, #224466));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-radial-gradient(left top, ellipse farthest-side, #CCCCCC 0%, #224466 100%);
  /* W3C Markup */
  background-image: radial-gradient(ellipse farthest-side at left top, #CCCCCC 0%, #224466 100%);
  min-height: 100vh !important;
  overflow-y: scroll; }
  .login_background div.content-wrapper {
    background: transparent; }

div.login-container > .row {
  height: 80vh; }

.login-card {
  min-width: 250px;
  background: #357;
  color: #dff;
  box-shadow: 5px 5px 2px #112233;
  padding: 20px; }
  .login-card card-header {
    background: transparent;
    font-size: 18px; }
  .login-card input {
    color: white !important;
    background: rgba(0, 0, 0, 0.2) !important;
    padding-left: 10px !important;
    padding-right: 10px !important; }
  .login-card .input-group-addon {
    color: #dff;
    background-color: transparent; }
  .login-card span {
    color: white !important; }

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px; }

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px; }

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px; }

label.upload {
  height: 80px;
  padding: 0px;
  min-width: 120px; }
  label.upload p {
    padding: 5px 20px 5px 30px;
    margin: 0px;
    text-transform: none; }
  label.upload img, label.upload .img {
    max-height: 48px;
    max-width: 96px;
    position: absolute;
    left: calc(50% - 48px);
    padding: 0px;
    font-size: 24px;
    text-transform: uppercase; }
  label.upload i {
    position: absolute;
    top: 6px;
    left: 2px;
    padding: 0px 10px; }

.checkboxinput {
  margin-right: 10px; }

.label-floating .form-group {
  display: flex;
  height: 55px; }

.label-floating .control-label {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.4;
  pointer-events: none;
  transform: translate3d(5px, 22px, 0) scale(1);
  transform-origin: left top;
  transition: 240ms;
  top: -14px;
  padding-left: 19px;
  z-index: 1; }

.label-floating.focused .control-label {
  opacity: 1;
  transform: scale(0.75); }

.label-floating.focused .form-control::-webkit-input-placeholder {
  color: #bbb; }

.label-floating .form-control {
  align-self: flex-end; }

.label-floating .form-control::-webkit-input-placeholder {
  color: transparent;
  transition: 240ms; }

.label-floating .form-control:focus::-webkit-input-placeholder {
  transition: none; }

form.form-inline .label-floating label.control-label {
  position: absolute; }

.btn-file {
  cursor: pointer;
  cursor: hand; }

div.calendar-table td.today:not(.active) {
  background: #ffb; }

.txt3d {
  font-weight: 900;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6), 4px 4px 5px rgba(0, 0, 0, 0.8); }

.txt3d.wiki-title {
  font-size: 1.2rem; }
  .txt3d.wiki-title a {
    color: white; }

div.table {
  margin-bottom: 0rem; }

.bootstrap-table .fixed-table-toolbar .btn-group, .bootstrap-table .fixed-table-toolbar .bs-bars,
.bootstrap-table .fixed-table-toolbar .search {
  margin-top: 0px !important;
  margin-bottom: 0px !important; }

.bootstrap-table .fixed-table-toolbar {
  margin-bottom: 5px; }

.bootstrap-table fixed-table-pagination div.pagination, .bootstrap-table .fixed-table-pagination .pagination-detail {
  margin-top: 0px !important;
  margin-bottom: 0px !important; }

.bootstrap-table .fixed-table-toolbar .dropdown {
  display: inline; }

.dtp > .dtp-content {
  max-height: 530px; }

table.dtp-picker-days tbody tr td:nth-child(6) a, table.dtp-picker-days tbody tr td:nth-child(7) a {
  color: #d00; }

div.dtp-buttons button {
  margin: 0px 5px; }

.btn.dropdown-toggle::before {
  display: none;
  width: 0;
  height: 0;
  margin-left: 0.3em;
  vertical-align: middle;
  content: none;
  border-top: none;
  border-right: none;
  border-left: none; }

div.td_action .btn-secondary:after, div.td_information .btn-secondary:after {
  background-image: radial-gradient(circle, #eee 10%, transparent 10.01%) !important; }

.div_content_center {
  text-align: center; }

.tabsort-toolbar-expand {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 999;
  transform: rotate(0deg);
  transition: .3s;
  background: #fc0 !important;
  box-shadow: none !important; }

.tabsort-toolbar-expand.active {
  transform: rotate(315deg) !important;
  transition: .3s !important; }

.tab-pane.container-fluid {
  padding-right: 5px !important;
  padding-left: 5px !important; }

/* for firefox */
a, button {
  outline: 0 !important; }

.tabsort_panel {
  margin-top: 5px !important; }

.form2columns label {
  margin-bottom: 0px; }

.form2columns .checkbox {
  margin-left: 0px !important; }

div.modal-body label::after {
  content: ":"; }

.checkbox label::after {
  content: none !important; }

.tbl_scroll {
  min-height: 11rem; }

.content {
  position: relative; }

table.layout0 tr td {
  padding: 0 !important;
  margin: 0 !important;
  text-align: center;
  vertical-align: middle; }

.hide {
  display: none; }
