#tabs > li.topmenu.active {
    background-color: #8ba;	
}


.menu-content {	
    background-color: #8ba;	
}


#tabs {
    border-bottom: 0px;
}

.checkbox .checkbox-material::before {
    top: -5px;
    left: -2px;
}


.TableFiltr .checkbox .checkbox-material::before {
    left: 0px;
}

.checkbox .checkbox-material .check {
    margin: 0px 6px 0px 0px;
}


.tabsort .btn-group {
    padding: 0px;
    margin: -5px 0px 0px 0px;
    vertical-align: top;
}


.txt3d a {
    color: #fff;
}
