#tabs > li.topmenu.active {
    background-color: #8ba; 
}


.menu-content { 
    background-color: #8ba; 
}


#tabs {
    border-bottom: 0px;
}

.checkbox .checkbox-material::before {
    top: -5px;
    left: -2px;
}


.TableFiltr .checkbox .checkbox-material::before {
    left: 0px;
}

.checkbox .checkbox-material .check {
    margin: 0px 6px 0px 0px;
}

/*
.datatable .btn-group {
    padding: 0px !important;
    //margin: 0px 0px 0px 0px;
    margin: 10px 1px;
    vertical-align: top;
}
*/
.td_action .btn, .td_information .btn {
    margin: 0px 0px 0px 0px;
    vertical-align: top;
}

.txt3d a {
    color: #fff;
}

form.form-inline div.checkbox input.checkboxinput {
    margin-left: -16px;
    margin-right: 0px;
}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus {
    border: medium none;
    box-shadow: 0px -2px 0px #FFFF8D inset;
    color: #FFFF8D;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #009688;
    border-color: #009688;
}

form.form-inline .form-control {
    margin-right: 10px;
}

#tabs2 a {
    padding-right: 40px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#tabs2 li.active a {
    color: #666 !important;
}

#tabs2 button.close {
    position: relative;
    left: -2px;
    margin-left: -26px;
    top: 3px;
}

#tabs2 {
    background: #88BBAA;
}

#tabs2  li.active {
    background: #fff;
}


.TableFiltr .checkbox label {
    min-height: 38px !important;
}


form.form-inline div.checkbox input.checkboxinput  {    
    margin-right: 5px;
}

body {
    margin-top: 0px;
}


.list_content_header_third_row .btn {
    margin: 1px;
}

.list_content_header_first_row h4 {
    margin: 5px 1px 6px 1px;
}


.fixed-table-toolbar .bars, .fixed-table-toolbar .search, .fixed-table-toolbar .columns {
    margin-top: 0px;
    margin-bottom: 0px;
 }

 .datatable > tbody > tr > td {
    padding: 3px;
    vertical-align: middle;
}


#quit_menu {
    padding: 8px 10px;
    margin: 1px;
}

#logo_href {
    margin: 0px;
    padding: 0px;
}

.tabsort_panel .fixed-table-toolbar .btn {
    padding: 8px 5px;
}

.TableFiltr .btn {
    margin-top: 0px !important;
    padding-top: 10px;
}

.form-group {
    padding-bottom: 7px;
    margin: 0 0 0 0;
}


form.form-inline .file-input-new {
    margin-top: -5px;
}

form.form-inline .kv-fileinput-caption {
    top: -7px;
}

form.form-inline .form-group {
    vertical-align: bottom;
}

.form-horizontal .form-group label.control-label, .form-vertical .form-group label.control-label {
    margin: 5px 0 0 0;
}

div.shadow-z-2 .close {
    padding: 8px;
}


.btn-primary {
    background-color: transparent;
}

.btn-danger {
    background-color: transparent;
}

.btn {
    border: 0px solid transparent; 
}
