h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Calibri,Candara,Arial,sans-serif;
    //font-family: sans-serif;
}

body, html {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.h3, h3 {
    font-size: 20px;
}

//.form-control {
//    height: 43px;
//}

