/* main */

section.content {
    background-color: #fff;
    margin: 0px;
    padding: 0px;
    min-height: 100%;
}


/* top navbar */

#tabs2 {
    border-bottom: 0px;
}

#tab_tabs2 {
    float: left;
    bottom: 0px;
    position: absolute;
    left: 42px;
    right: 200px;
}

#tab_tabs2 > ul > li {
    position: relative;
}

#tab_tabs2 > ul > li > a {
    color: #000; 
}

#tab_tabs2 li button {
    position: absolute;
    top: 0px;
    right: 0px;
}

header.main-header nav.navbar div.navbar-collapse {
    position: absolute;
    right: 0px;
    top: 0px;
    width: auto;
    height: 100%;   
    font-size: 15px;
}

header.main-header nav.navbar div.navbar-collapse > ul {
    height: 100%;
}

header.main-header nav.navbar div.navbar-collapse > ul > li {
    padding: 12px 12px;
    height: 100%;
}

header.main-header nav.navbar div.navbar-collapse > ul > li:hover, .sidebar-toggle:hover  {
    background-color: rgba(0, 0, 0, .1); 
}

header.main-header nav.navbar div.navbar-collapse > ul > li > a, .sidebar-toggle {
    color: #fff !important; 
}

header.main-header nav.navbar {
    padding: 0px !important;
}

.main-header .sidebar-toggle {
    height: 100%;
    padding: 15px;
    position: absolute;
    width: 40px;
    margin: 0px;
}

.main-header .nav-item .nav-link {
    padding-right: 10px;
    padding-left: 4px;
}

.main-header .nav-link {
    padding-right: 10px;
    padding-left: 6px;
}

.main-header a.nav-link {
    background-color: transparent !important; 
    white-space: nowrap;
}

.main-header a.active {
    background-color: #fff !important;
}

.main-header .nav-item .close {
    margin-top: 2px;
    margin-right: 2px;
}

.main-header .navbar-collapse div.card {
    width: 400px;
}

.main-header .navbar-collapse div.card p{
    font-size: 14px;
}


/* Tab - close button on tab */
#tabs2 button.close {
    position: absolute;
    right: 2px;
    top: 2px;
    font-size: 18px;
    padding: 0px 3px;
    margin-top: 0px; 
    margin-right: 0px;
    box-shadow: none; 
}

#tabs2 li.nav-item a.nav-link {
    padding: 8px;
    padding-right: 12px;
    text-transform: none;
}

.nav-tabs > li > a.active, .nav-tabs > li > a.active:focus {
    border: medium none;
    box-shadow: 0px -4px 0px #FDFD8C inset !important;
}


/* sidebar menu */
ul.sidebar-menu ul.treeview-menu {
    padding-left: 25px !important;
}

body.sidebar-collapse ul.sidebar-menu ul.treeview-menu {
    padding-left: 0px !important;
}

.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a {
    border-left-color: #FDFD8C !important;
}

section.sidebar ul.sidebar-menu li.treeview ul.treeview-menu {
    margin-top: -1px;
}

