{# -*- coding: utf-8 -*- #}
{% extends "form.html" %}
{% load exfiltry %}
{% load exsyntax %}
{% block pythoncode %}
        <script language="python">
        def signal_from_child(self, child, signal):
            if signal=='set_bitmap_list':
                bitmaps = {
                    "akceptacja1": "client://apps/accessories-text-editor.png",
                    "akceptacja2": "client://actions/system-lock-screen.png",
                }
                child.set_bitmaps(bitmaps)
        def filter_url(self, target, href):
            return href
</script>
{% endblock %}
{% block all %}
        {% with form_width=800 form_height=600 %}
                {{ block.super }}
        {% endwith %}
{% endblock %}
{% block scroll %}{% endblock %}
{% block list_content_actions %}
        {% if rel_field %}
                {% new_row "Nowy audyt" %}
        {% endif %}
{% endblock %}
{% block list_row_header %}
        <th>nazwa</th>
        <th>data</th>
        <th>data_sporz</th>
        <th>data_zatw</th>
{% endblock %}
{% block list_row %}
        <td>{{object.parent.nazwa}}</td>
        <td>{{object.data|isoformat}}</td>
        <td>{{object.data_sprz|isoformat}}</td>
        <td>{{object.data_zatw|isoformat}}</td>
{% endblock %}
{% block list_row_actions %}
        {% row_actions %}
                edit
                delete
                pdf,Do pdf
        {% endrow_actions %}
        {% row_actions %}
                akceptacja1,Akceptacja sporządzającego
        {% endrow_actions %}
        {% row_actions %}
                akceptacja2,Akceptacja zatwierdzającego
        {% endrow_actions %}
{% endblock %}
{% block id_extra %}
        {% row_actions %}
                field_action,:::fa-paperclip,attachements,,,,../../../../../../attachements/table/Attachements/audyty__Audyt__{{object.id}}__default/form/list
        {% endrow_actions %}
{% endblock %}
{% block row_edit %}
        {% if object.data %}
                {% form %}
                                "parent", "opis1", "opis2", "opis3"
                {% endform %}
          {% else %}
                {% form %}
                                "parent", "data"
                {% endform %}
        {% endif %}
{% endblock %}

