{% extends "base.html" %}
{% load exfiltry %}
{% load bootstrap4 %}
{% block login_header %}{% endblock %}
{% block login %}
        <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                        {% block content %}{% endblock %}
                </div>
                <div class="col-2"></div>
        </div>
{% endblock %}
{% block body_desktop %}
        {% with form|to_bootstrap as form %}
                <title>
                        Authentication
                </title>
                <div class="to_bootstrap">
                        {{block.super}}
                </div>
                <script>
((_pymeth_find.call(jQuery(".to_bootstrap"), "button")).addClass)("btn btn-primary");
((_pymeth_find.call(jQuery(".to_bootstrap"), "form")).attr)("target", "_self");</script>
        {% endwith %}
{% endblock %}
{% block login_footer %}{% endblock %}

