{# -*- coding: utf-8 -*- #}
{% extends "schsys/db_field_edt.html" %}
{% load exfiltry %}
{% load exsyntax %}
{% block content %}
        {% if standard_web_browser %}
                {% with title=page.name %}
                        {{ block.super }}
                {% endwith %}
          {% else %}
                <div class="container wiki_editor" style="width:calc( 100vw - 370px );">
                        {% get_table_row "wikiobj_id" "wiki" "PageObjectsConf" "name__icontains" label="Type of wiki object" filter="1" is_get_button=False %}
                        {% action "new_object" "Modify or create a wiki object" url="{{app_path}}table/PageObjectsConf/[[wikiobj_id]]/action/insert_object_to_editor/?page_id={{object.id}}" target="run_script" %}
                        {% with title=page.name %}
                                {{ block.super }}
                        {% endwith %}
                </div>
        {% endif %}
{% endblock %}
{% block edit_area %}
        <div class="refresh_after_close" style="width:calc( 100% + 50px );height:calc( 100% + 70px );margin:-25px;margin-top:-45px;">
                <ptig-codeeditor value="{{txt|bencode}}" href="{{base_path}}{{save_path}}" title="{{title}}" width="600px" height="100%">
                        <nav class="navbar-expand-lg" style="padding-left:20px;">
                                <span class="navbar-text mr-auto" data-bind="title"></span>
                                <div class="row">
                                        <div class="col-7">
                                                {% get_table_row "wikiobj_id" "schwiki" "wiki" "PageObjectsConf" "name__icontains" label="Type of wiki object" filter="1" is_get_button=True %}
                                        </div>
                                        <div class="col-3">
                                                {% with formformat="5:5:5/5:5:5" %}
                                                        <insert-object app_path="{{app_path}}">
                                                                {% action "new_object" "Modify or create a wiki object" url="{{app_path}}table/PageObjectsConf/[[wikiobj_id]]/action/insert_object_to_editor/?page_id={{object.id}}" target="run_script" %}
                                                        </insert-object>
                                                {% endwith %}
                                        </div>
                                        <div class="col-2">
                                                <button data-bind="disabled:!changed;onclick:on_save" class="btn btn-primary" type="button">
                                                        <span class="fa fa-floppy-o"></span>
                                                        Save
                                                </button>
                                        </div>
                                </div>
                        </nav>
                </ptig-codeeditor>
        </div>
{% endblock %}

