{% extends "form.html" %}
{% load exfiltry %}
{% load exsyntax %}
{% block all %}
        {% with table_type='datatable' table_subtype='table_with_details' table_details_height="33vh" %}
                {{ block.super }}
        {% endwith %}
{% endblock %}
{% block scroll %}
{% endblock %}
{% block list_content_actions %}
        {% new_row "New config" %}
{% endblock %}
{% block list_row_header %}
        <th>Wiki subject</th>
        <th>Group of rigths to view</th>
        <th>Group of rigths to edit</th>
        <th>
        backup_copies
        </th>
{% endblock %}
{% block list_row %}
        <td>{{object.subject}}</td>
        <td>{{group_of_rights_to_view}}</td>
        <td>{{group_of_rights_to_edit}}</td>
        <td>
        {{object.backup_copies}}
        </td>
{% endblock %}
{% block list_row_actions %}
        {% row_actions %}
                publish,Publish,[fa fa-users]
        {% endrow_actions %}
        {% row_actions %}
                edit
                field_edit/publish_fun,Publish function
                field_edit/scss,SCSS
                field_edit/page_header,Page header
                field_edit/page_footer,Page footer
                delete
        {% endrow_actions %}
{% endblock %}
{% block content %}
        {{ block.super }}
        {% row_details %}
                *Attachements:/schattachements/table/Attachement//schwiki__WikiConf__[[table_row_pk]]__default/form__schwiki__/sublist/
                Attachements2:/schattachements/table/Attachement//schwiki__WikiConf__[[table_row_pk]]__default/form__schwiki__/sublist/
        {% endrow_details %}
        {% comment %}
                <div class="auto-refresh" style="height:{{table_details_height}}" style="display:flex;flex-direction:column;justify-content:space-between;">
                        <nav>
                                <div class="nav nav-tabs" role="tablist">
                                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab">Home</button>
                                        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab">Profile</button>
                                        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab">Contact</button>
                                        <button class="nav-link" id="nav-disabled-tab" data-bs-toggle="tab" data-bs-target="#nav-disabled" type="button" role="tab" disabled>Disabled</button>
                                </div>
                        </nav>
                        <div class="tab-content auto-refresh" id="nav-tabContent" style="flex-grow:1">
                                <div href="/schattachements/table/Attachement//schwiki__WikiConf__[[table_row_pk]]__default/form__schwiki__/sublist/?view_in=desktop&only_content=min" class="tab-pane table-row-active ajax-frame ajax-link ajax-region fade show active" id="nav-home" role="tabpanel" tabindex="0"></div>
                                <div href="/?subpage=/schwiki/table/Page/-/form/list/" class="tab-pane table-row-active ajax-frame ajax-link ajax-region fade" id="nav-profile" role="tabpanel" tabindex="0"> asdf sad f;kasldf jas;dlf jsad;lkf jasd;lfk jasd;flk ajsdf;l jasdf;lk asdf;lkasdf asdlfk jsad;f ksad;fl jasd;flkjasd;fl kjsdaf</div>
                                <div href="/?subpage=/schwiki/table/Page/-/form/list/" class="tab-pane table-row-active ajax-frame ajax-link ajax-region fade" id="nav-contact" role="tabpanel" tabindex="0">sdfklas ;df jas;dfkjasdf; kasldf sa;dlkf sad;lkf jas;df lsad;lfk jasd;flkj as;dlkgjadsl;hgasdl;fjds lkfjasd;lfkgdhsa;g</div>
                                <div href="/?subpage=/schwiki/table/Page/-/form/list/" class="tab-pane table-row-active ajax-frame ajax-link ajax-region fade" id="nav-disabled" role="tabpanel" tabindex="0">
                                dsfalks;dfja sl;gjasdlf gasd;lkfj sld;kjga ;sldfjas;dl gjdaslfkgjas;lkdfjas;ldfjdskljsad;lkghasd;lkg;fjasfdlsad klfdsa;f
                                </div>
                        </div>
                </div>
        {% endcomment %}
{% endblock %}
{% block row_edit %}
        {% form %}
                subject,group_of_rights_to_view,group_of_rights_to_edit,backup_copies,git_repository
        {% endform %}
{% endblock %}

