/* Downloaded from http://www.codeseek.co/ */
body {
  background-color: #F2F2F2;
  margin: 0;
  max-height: 100vh;
}

.header {
  background: #4285f4;
  width: 100%;
  height: 56px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

.main {
  box-sizing: border-box;
  background-color: #FFF;
  height: 75vh;
  width: 75vw;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  text-align: center;
}

h1 {
  font: 300 45px Roboto;
}

p {
  font: 300 18px Roboto;
}

.container {
  margin: 1em;
  position: fixed;
  bottom: 0;
  right: 0;
}
.container:hover .buttons:not(:last-of-type) {
  width: 40px;
  height: 40px;
  margin: 15px auto 0;
  opacity: 1;
}
.container:hover .rotate {
  background-image: url("http://goo.gl/0eJslQ");
  transform: rotate(0deg);
}

.buttons {
  display: block;
  width: 35px;
  height: 35px;
  margin: 20px auto 0;
  text-decoration: none;
  position: relative;
  border-radius: 50%;
  box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  opacity: 0;
  transition: .2s;
}
.buttons:nth-last-of-type(2) {
  transition-delay: 20ms;
}
.buttons:nth-last-of-type(3) {
  transition-delay: 40ms;
}
.buttons:nth-last-of-type(4) {
  transition-delay: 60ms;
}
.buttons:nth-last-of-type(5) {
  transition-delay: 80ms;
}
.buttons:nth-last-of-type(6) {
  transition-delay: 100ms;
}
.buttons:nth-last-of-type(1) {
  width: 56px;
  height: 56px;
  opacity: 1;
}
.buttons:nth-last-of-type(2) {
  background: #D2A518 url("http://goo.gl/XVUbvp") center no-repeat;
}
.buttons:nth-last-of-type(3) {
  background: #3C80F6 url("https://goo.gl/xdZJHE") center no-repeat;
}
.buttons:nth-last-of-type(4) {
  background-image: url("https://goo.gl/OEKh8Y");
  background-size: contain;
}
.buttons:nth-last-of-type(5) {
  background-image: url("https://goo.gl/SrERjY");
  background-size: contain;
}
.buttons:nth-last-of-type(6) {
  background-image: url("http://goo.gl/c5kspt");
  background-size: contain;
}
.buttons:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

span {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
span.rotate {
  background: #DB4437 url("http://goo.gl/EfgECT") center no-repeat;
  position: absolute;
  transform: rotate(90deg);
  transition: .3s;
}

[tooltip]:before {
  content: attr(tooltip);
  background: #585858;
  padding: 5px 7px;
  margin-right: 10px;
  border-radius: 2px;
  color: #FFF;
  font: 500 12px Roboto;
  white-space: nowrap;
  position: absolute;
  bottom: 20%;
  right: 100%;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
}

[tooltip]:hover:before {
  visibility: visible;
  opacity: 1;
}
