[Unit]
Description=pytigon-uwsgi

[Service]
Environment=PYTHONPATH=/var/www/pytigon
ExecStartPre=-/bin/bash -c 'mkdir -p /run/uwsgi; chown user:nginx /run/uwsgi'
ExecStart=/bin/bash -c 'cd /var/www/pytigon; python/bin/uwsgi --ini pytigon_uwsgi.ini'
Restart=on-abort

[Install]
WantedBy=multi-user.target

