[Unit]
Description=Pytigon

[Service]
Environment=PYTHONPATH=/var/www/pytigon
#ExecStart=/var/www/pytigon/python/bin/python /var/www/pytigon/app_pack/_schall/run.wsgi
ExecStart=/var/www/pytigon/python/bin/daphne asgi:channel_layer --port 8080 --bind 0.0.0.0 -v2

Restart=on-abort

[Install]
WantedBy=multi-user.target

