[Unit]
Description=Pytigon worker 2

[Service]
ExecStart=/var/www/pytigon/python/bin/python /var/www/pytigon/app_pack/_schall/manage.py runworker

Restart=on-abort

[Install]
WantedBy=multi-user.target

