{# -*- coding: utf-8 -*- #}
{% extends "schsys/db_field_edt.html" %}
{% load exfiltry %}
{% load exsyntax %}
{% block form_title %}
        Edition: {{object.get_name}} [{{title}}]
{% endblock %}
{% block title %}
        V:{{object.get_name}}
{% endblock %}
{% block edit_area_sch %}
        <table width="100%">
                <tr>
                        <td>
                                def {{object.get_name}}(request{% if object.param %}, {{object.param|safe}}{% endif %}):
                        </td>
                </tr>
                <tr>
                        <td>
                                <CTRL-STYLEDTEXT NAME="EDITOR" WIDTH="100%" HEIGHT="100%" MINHEIGHT="400" SRC="{{ext}}" HREF="{{base_path}}{{save_path}}">
                                        <DATA>{{txt|bencode}}</DATA>
                                </CTRL-STYLEDTEXT>
                        </td>
                </tr>
        </table>
{% endblock %}
{% block edit_area %}
        def {{object.get_name}}(request{% if object.param %}, {{object.param|safe}}{% endif %}):
        <code_editor id="ace_editor" value="{{txt|bencode}}" href="{{base_path}}{{save_path}}" title="{{title}}"></code_editor>
{% endblock %}

