{% extends "forms/form.html" %}
{% load exfiltry %}
{% load exsyntax %}
{% block all %}
        {% with show_title_bar=1 title='Restart server' %}
                {{ block.super }}
        {% endwith %}
{% endblock %}
{% block content %}
        {% if success %}
                <h1>Success</h1>
                <div class="alert alert-primary" role="alert">
                        A restart signal has been sent, depending on the configuration, the restart may take from a few seconds to several hours.
                </div>
          {% else %}
                <h1>Warning</h1>
                <div class="alert alert-primary" role="alert">
                        It is not possible to send a signal for restart
                </div>
        {% endif %}
{% endblock %}

