{% load exfiltry %}
{% load exsyntax %}
{% block action_widget_content %}
        {% if standard_web_browser %}
                <a href="{% if version %}{{action.url|append_get_param:"version="|append_str:version|safe}}{% else %}{{action.url|safe}}{% endif %}" class="{% block action_class %}{% endblock %}{{action.tag_class}}" title="{{action.title}}" target="{{action.target}}" name="{{action.name}}" {{action.attrs|safe}}>
                        {% if browser_type == 'mobile' %}
                                {% if not action.icon_name %}
                                        {{action.title}}
                                {% endif %}
                          {% else %}
                                {% if action.icon_name %}
                                        {% icon action.icon_name %}
                                        {% if action.icon2 %}
                                                {% icon action.icon2 %}
                                        {% endif %}
                                  {% else %}
                                        {{action.title}}
                                {% endif %}
                        {% endif %}
                </a>
          {% else %}
                <CTRL-BUTTON name="{{action.name}}" label="{{action.title}}" title="{{action.title}}" href="{{action.url}}{% if version %}?version={{version}}{% endif %}"></CTRL-BUTTON>
                {% comment %}
                        {% if action.icon_name %}
                                <a href="{{path}}{{action.url|safe}}{% if version %}?version={{version}}{% endif %}" class="{{action.tag_class}}" id="{{action.name}}" name="{{action.name}}" title="{{action.title}}" target="{{action.target}}" {{action.attrs|safe}} src="{{action.icon_name}}"></a>
                          {% else %}
                                <a href="{{path}}{{action.url|safe}}{% if version %}?version={{version}}{% endif %}" class="{{action.tag_class}}" id="{{action.name}}" name="{{action.name}}" title="{{action.title}}" target="{{action.target}}" {{action.attrs|safe}}>
                                        {{action.title}}
                                </a>
                        {% endif %}
                {% endcomment %}
        {% endif %}
{% endblock %}

