{% load exfiltry %}
{% load exsyntax %}
{% load bootstrap4 %}
{% if standard_web_browser %}
        {% if hidden %}
                {% if field.value %}
                        <input type="hidden" name="{{field.name}}" value="{{field.value}}" />
                  {% else %}
                        <input type="hidden" name="{{field.name}}" />
                {% endif %}
          {% else %}
                {% if field.field.widget.input_type == 'checkbox' %}
                        {% bootstrap_field field layout='' form_group_class=form_group_class label_class=label_class field_class='form-check abc-checkbox abc-checkbox-primary' placeholder=placeholder show_label=show_label addon_after=addon_after addon_after_class=addon_after_class addon_before=addon_before addon_before_class=addon_before_class bound_css_class='field_success' %}
                  {% else %}
                        {% bootstrap_field field layout='' form_group_class=form_group_class label_class=label_class field_class=field_class placeholder=placeholder show_label=show_label addon_after=addon_after addon_after_class=addon_after_class addon_before=addon_before addon_before_class=addon_before_class bound_css_class='field_success' %}
                {% endif %}
        {% endif %}
  {% else %}
        <tr>
                <td>
                        {% if not hidden and not field.is_hidden %}
                                <label for="{{ field.id_for_label }}" class="control-label {% if field.field.required %} requiredField{% endif %}">
                                        {{field.label|safe}}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
                                </label>
                        {% endif %}
                </td>
                <td>
                        {% if hidden %}
                                {% if field.value %}
                                        <input type="hidden" name="{{field.name}}" value="{{field.value}}" />
                                  {% else %}
                                        <input type="hidden" name="{{field.name}}" />
                                {% endif %}
                          {% else %}
                                {{ field }}
                        {% endif %}
                </td>
        </tr>
{% endif %}

