{% load exfiltry %}
{% load exsyntax %}
{% block all %}
        {% block js_standard %}
        {% endblock %}
        {% block widget_content %}
                {% if standard_web_browser %}
                        <div class="inline_frame ajax-region ajax-frame auto-frame ajax-link" href="{{href}}" style="width:100%;height:{{height}}"></div>
                  {% else %}
                        <CTRL-HTML name="{{id}}" src="{{path}}{{href}}" width="100%" height="{{height}}">
                        </CTRL-HTML>
                {% endif %}
        {% endblock %}
        {% block js %}
        {% endblock %}
        {% block js2 %}
        {% endblock %}
{% endblock %}

