{% extends "widgets/action.html" %}
{% load exsyntax %}
{% block action_widget_content %}
        {% if standard_web_browser %}
                <a class="btn btn-secondary get_row ajax-link" title="{{action.title}}" data-role="button" {% block action_data_icon %}data-icon="plus{% endblock %}" data-id="{{id}}" data-text="{{text}}" target="refresh_frame" data-region="get_row">
                        {% icon "fa-level-down fa-lg" %}
                        {% block description %}
                                {{action.title}}
                        {% endblock %}
                </a>
          {% else %}
                <a name="{{action.name}}" label="{{action.title}}" title="{{action.title}}" href="{{path}}{{action.url}}" data-id="{{id}}" data-text="{{text}}">
                        {{action.title}}
                </a>
        {% endif %}
{% endblock %}

