{% extends "widgets/action.html" %}
{% block action_widget_content %}
        {% if standard_web_browser %}
                {{ block.super }}
          {% else %}
                {% if action.icon_name %}
                        <a href="{{action.url|safe}}" class="{{action.tag_class}}" id="{{action.name}}" name="{{action.name}}" title="{{action.title}}" target="{{action.target}}" {{action.attrs|safe}} src="{{action.icon_name}}"></a>
                  {% else %}
                        <a href="{{action.url|safe}}" class="{{action.tag_class}}" id="{{action.name}}" name="{{action.name}}" title="{{action.title}}" target="{{action.target}}" {{action.attrs|safe}}>
                                {{action.title}}
                        </a>
                {% endif %}
        {% endif %}
{% endblock %}

